@import url(chrome://browser/skin/browser-nonLinux.css);

#navigator-toolbox[tabsontop=true] > #nav-bar {
  border-top: 1px solid #fff;
}

.tabbrowser-strip > .tabbrowser-tabs {
  background: #a8a8a8;
}

window:not([active=true]) .tabbrowser-strip > .tabbrowser-tabs {
  background: #d8d8d8;
}

#navigator-toolbox:not(:-moz-lwtheme):not(#vertical-toolbar):not(#aios-toolbar) {
  -moz-appearance: none !important;
  background: #FFFFFF url("chrome://browser/skin/icons/Tool-background.png") top left repeat-x;
  border: 0px !important;
}

#navigator-toolbox[iconsize="small"]:not(:-moz-lwtheme):not(#vertical-toolbar):not(#aios-toolbar) {
  -moz-appearance: none !important;
  background: #FFFFFF url("chrome://browser/skin/icons/Tool-background2.png") top left repeat-x;
  border: 0px !important;
}
#titlebar-min,#titlebar-max,
#titlebar-close{
	visibility:collapse !important;
}

/*
#titlebar:not(:-moz-lwtheme) {
  display: none !important;
}*/

#main-window[privatebrowsingmode=private] #titlebar,
#main-window[privatebrowsingmode=temporary] #titlebar{
  margin-bottom: 0px !important;
  -moz-appearance: -moz-window-titlebar !important;
  height: 22px !important;
}

#main-window[privatebrowsingmode=private]:-moz-lwtheme #titlebar,
#main-window[privatebrowsingmode=temporary]:-moz-lwtheme #titlebar,
#main-window:-moz-lwtheme #titlebar,
#titlebar:-moz-lwtheme{
  height: 22px !important;
  margin-bottom: 0px !important;
}