@import url(chrome://browser/skin/browser-nonLinux.css);

:root {
  --toolbox-background: linear-gradient(#989ca8, #fefffe);
}

.tabbrowser-strip > .tabbrowser-tabs {
  background: #a8a8a8;
}

window:not([active=true]) .tabbrowser-strip > .tabbrowser-tabs {
  background: #d8d8d8;
}

#navigator-toolbox {
  -moz-appearance: none !important;
  background-image: var(--toolbox-background);
  background-position: top left;
  background-repeat: repeat-x;
  background-color: #FFFFFF;
  border: 0px !important;
}

#navigator-toolbox[tabsontop="true"] #TabsToolbar {
	-moz-appearance:none;
	background-image: url("chrome://browser/skin/icons/Tabbar-background-top.png");
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
  border-bottom: 2px groove #bbb;
  box-shadow: none;
}

/* ::::: titlebar ::::: */

#main-window[sizemode="normal"] > #titlebar {
  -moz-appearance: -moz-window-titlebar;
}

#main-window[sizemode="maximized"] > #titlebar {
  -moz-appearance: -moz-window-titlebar-maximized;
}

#titlebar-buttonbox {
  -moz-appearance: -moz-window-button-box;
}

#main-window[sizemode="maximized"] #titlebar-buttonbox {
  -moz-appearance: -moz-window-button-box-maximized;
}

.titlebar-placeholder[type="appmenu-button"] {
  margin-left: 4px;
}

.titlebar-placeholder[type="caption-buttons"] {
  margin-left: 10px;
}

/* titlebar command buttons */

#titlebar-min {
  -moz-appearance: -moz-window-button-minimize;
}

#titlebar-max {
  -moz-appearance: -moz-window-button-maximize;
}

#main-window[sizemode="maximized"] #titlebar-max {
  -moz-appearance: -moz-window-button-restore;
}

#titlebar-close {
  -moz-appearance: -moz-window-button-close;
}

/* ensure titlebar on privacy windows is of correct size */
#titlebar {
  min-height: 22px !important;
  max-height: 22px !important;
  height: 22px !important;
}

/* ensure extra titlebar doesn't appear on normal (e.g. non-privacy) windows */
#main-window:not([privatebrowsingmode=temporary]):not(:-moz-lwtheme) > #titlebar > #titlebar-content > #titlebar-buttonbox-container,
#main-window:not([drawintitlebar=true]):not(:-moz-lwtheme) > #titlebar {
  display: none;
}

#titlebar-buttonbox-container {
  margin-left: 7px;
  margin-top: 3px;
}

#main-window:-moz-lwtheme > #titlebar {
  -moz-appearance: none;
}

/* Private browsing indicator */

#main-window[privatebrowsingmode=temporary] #TabsToolbar::before {
  display: -moz-box;
  content: "";
  background: url("chrome://browser/skin/Privacy-16.png") center no-repeat;
  width: 30px;
}
