/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

scrollbar {
  -moz-appearance: scrollbar !important;
  -moz-binding: url(chrome://global/content/bindings/scrollbar.xml#scrollbar);
  cursor: default !important;
  background-color: white !important;
  height: 0px !important;
}

scrollbar[root="true"] {
  position: relative !important;
  z-index: 2147483647 !important; /* largest positive value of a signed 32-bit integer */
}

html|select[size]:not([size="0"]):not([size="1"]) > scrollbar,
html|select[multiple] > scrollbar {
  -moz-appearance: scrollbar-small !important;
}

scrollbar[orient="vertical"] {
  width: 0px !important;
}

@media all and (-moz-overlay-scrollbars) {
  scrollbar:not([active="true"]),
  scrollbar[disabled="true"] {
    visibility: hidden !important;
  }
}

/* ..... track ..... */

slider {
  -moz-appearance: scrollbartrack-horizontal !important;
}

slider[orient="vertical"] {
  -moz-appearance: scrollbartrack-vertical !important;
}

/* ..... thumb ..... */

thumb {
  -moz-appearance: scrollbarthumb-horizontal !important;
}

thumb[orient="vertical"] {
  -moz-appearance: scrollbarthumb-vertical !important;
}

thumb > gripper {
  display: none !important;
}

/* ..... increment ..... */

scrollbarbutton[type="increment"] {
  -moz-appearance: scrollbarbutton-right !important;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
  -moz-appearance: scrollbarbutton-down !important;
}

/* ..... decrement ..... */

scrollbarbutton[type="decrement"] {
  -moz-appearance: scrollbarbutton-left !important;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
  -moz-appearance: scrollbarbutton-up !important;
}

/* ::::: square at the corner of two scrollbars ::::: */

scrollcorner {
  /* XXX -moz-appearance: scrollcorner !important; */
  -moz-binding: url(chrome://global/content/bindings/scrollbar.xml#scrollbar-base);
  width: 16px !important;
  cursor: default !important;
  background-color: white !important;
}

/* ::::::::::::::::::::: MEDIA PRINT :::::::::::::::::::::: */
@media print {
  html|div scrollbar {
    -moz-appearance: scrollbar !important;
    -moz-binding: url(chrome://global/content/bindings/scrollbar.xml#scrollbar);
    cursor: default !important;
  }
}
