body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11pt;
	background:white !important;
}
.uberschrift {
	background: linear-gradient(#c9e7ff,#5ab5ff);
	font-size:13pt;
	border-radius:5px;
	border:1px solid black;
	font-weight:bold;
	color:black;
	text-align: center;
	padding:10px;
}

.uberschrift2 {
	background: linear-gradient(#c9e7ff,#66CCFF,#5ab5ff);
	font-size:13pt;
	border-radius:5px;
	border:1px solid black;
	font-weight:bold;
	padding:5px;

}
.skinstab {
	background: linear-gradient(#eaf6ff,#95dcff);
	font-size:12pt;
	font-weight:bold;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border:1px solid black;
	padding:5px;
	margin-bottom:-1px;
}

.redstar {
	color: #FF0000;
}
.oksymbol {
	color: #008000;
	text-shadow: 0 0 1px black;
}
a,a:visited {
	color: black;
	text-decoration:none;
}
a:hover {
	color: black;
	text-decoration:underline;
}
.overviewtable {
	border-collapse: collapse;
	font-weight:bold;
}
.overviewtable tr:hover{
	background: rgba(151,152,153,.3)
		  linear-gradient(rgba(251,252,253,.65), rgba(246,247,248,.17) 39%, 
							   rgba(231,232,233,.35) 61%, rgba(225,226,229,.25));
}
.ogroupbox{
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding:5px;
	border:1px solid black;
}