/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/inContentUI.css");


*|*:root {
  padding: 0px;					
}

*|*.main-content {
  border : none;
}

/* sites box */

#sites-box {
  background: linear-gradient(145deg, #CED2E0, #EFF2FA 80%);
  padding: 10px;
  width: 25em;
}

#sites-filter {
  margin: 0;
}

#sites-list {
  -moz-appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.32);
  background-color: #f8f8f8;
  margin: 5px 0 0 0;
}

.site {
  padding: 4px;
  border-bottom: 1px solid #E3E3E3;
}

richlistitem:hover {
  border-bottom : 1px solid #B8D6FB;
}

richlistitem[selected="true"] {
  border : 1px solid #ddd;
  border-bottom : 1px solid #D1D1D1;
}

richlistitem[selected="true"]:hover {
  border : 1px solid #9DC5EC;
}

richlistbox:focus > richlistitem[selected="true"] {
  border : 1px solid #9DC5EC;
  border-bottom : 1px solid #85B7E9;
}

.site-favicon {
  height: 16px;
  width: 16px;
  -moz-margin-end: 4px;
  list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
}

#all-sites-item > .site-container > .site-favicon {
  list-style-image: none;
}

/* permissions box */

#permissions-box {
  background: linear-gradient(145deg, #CED2E0, #EFF2FA 40%, #CED2E0 70%);
  /* background : #DADCE4; */
  padding-top: 10px;
  overflow-y: auto;
  border-left : 1px solid #808080;
}

#site-description {
  font-size: 125%;
  -moz-margin-start: 6px; /* to match button margin */
}

#site-label {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

#defaults-description {
  font-size: 125%;
  font-weight: bold;
  -moz-margin-start: 6px;
}

.pref-item {
  margin-bottom: 10px;
}

.pref-icon {
  width: 36px;
  height: 36px;
  -moz-margin-end: 10px;
  margin-left : 10px;
}

.pref-icon:-moz-locale-dir(rtl) {
  margin-right : 10px;
}

.pref-icon[type="password"] {
  list-style-image: url(chrome://mozapps/skin/passwordmgr/key-64.png);
}
.pref-icon[type="cookie"] {
  list-style-image: url(chrome://global/skin/icons/question-64.png);
}
.pref-icon[type="geo"] {
  list-style-image: url(chrome://browser/skin/icons/Geolocation-64.png);
}
.pref-icon[type="indexedDB"] {
  list-style-image: url(chrome://global/skin/icons/question-64.png);
}
.pref-icon[type="install"] {
  list-style-image: url(chrome://mozapps/skin/extensions/extensionGeneric.png);
}
.pref-icon[type="popup"] {
  list-style-image: url(chrome://global/skin/icons/question-64.png);
}
.pref-icon[type="image"] {
  list-style-image: url(chrome://global/skin/icons/question-64.png);
}
.pref-icon[type="plugins"] {
  list-style-image: url(chrome://mozapps/skin/plugins/pluginGeneric36.png);
}

.pref-icon[type="fullscreen"] {
  list-style-image: url(chrome://global/skin/icons/question-64.png);
}

.pref-title {
  font-size: 125%;
  margin-bottom: 0;
  font-weight: bold;
}

.pref-menulist {
  margin-left: 6px;
  margin-right: 6px;
  min-width: 10em; /* native menulists ellipsize their longest entries by default on many themes */
}

#permissions-box button {
box-shadow :     
    0 0 2px rgba(255, 255, 255, 0.4) inset,
    0 4px 6px rgba(255, 255, 255, 0.4) inset,
    0 11px 0 -2px rgba(255, 255, 255, 0.4) inset,
    0 13px 8px rgba(80, 80, 80, 0.1) inset,  
    1px 2px 4px rgba(0, 0, 0, 0.1) !important; 
}
