/* Toolbar */
#placesToolbar {
  border: none;
  min-height: 36px;
}

/* back & forward buttons */
#back-button, #forward-button {
  -moz-appearance: none;
  padding: 0;
  border: none;
}

#placesToolbar > toolbarbutton > image,
#placesToolbar > toolbarbutton > label {
  margin: 0;
  padding: 0;
}

#back-button,
#forward-button[chromedir="rtl"] {  
  -moz-margin-start: 8px;
  list-style-image: url("chrome://browser/skin/icons/back-small.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#back-button:not([disabled="true"]):hover,
#forward-button:not([disabled="true"]):hover[chromedir="rtl"] {
  -moz-image-region: rect(24px 24px 48px 0px);
}
#back-button[disabled="true"],
#forward-button[chromedir="rtl"][disabled="true"] {
  -moz-image-region: rect(48px 24px 72px 0px) !important;
}
#back-button:not([disabled="true"]):hover:active,
#forward-button:not([disabled="true"]):hover:active[chromedir="rtl"] {
  -moz-image-region: rect(0px 24px 24px 0px);
}

#forward-button,
#back-button[chromedir="rtl"] {
  -moz-margin-end: 8px;
  list-style-image: url("chrome://browser/skin/icons/forward-small.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#forward-button:not([disabled="true"]):hover,
#back-button:not([disabled="true"]):hover[chromedir="rtl"] {
  -moz-image-region: rect(24px 24px 48px 0px);
}
#forward-button[disabled="true"],
#back-button[chromedir="rtl"][disabled="true"] {
  -moz-image-region: rect(48px 24px 72px 0px) !important;
}
#forward-button:not([disabled="true"]):hover:active,
#back-button:not([disabled="true"]):hover:active[chromedir="rtl"] {
  -moz-image-region: rect(0px 24px 24px 0px);
}

/* Menu */
#placesMenu {
  -moz-appearance: none;
  border: none;
}

#placesMenu > menu {
  -moz-padding-start: 4px;
  -moz-padding-end: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  -moz-appearance: none !important;
  color: #000000 !important;
  border: 1px solid transparent;
}

#placesMenu > menu:hover {
  border-color: #FFFFFF #A0A0A0 #A0A0A0 #FFFFFF;
}

#placesMenu > menu[open="true"] {
  border-color: #A0A0A0 #FFFFFF #FFFFFF #A0A0A0;
  color: #0000FF !important;
}

#placesMenu > menu > label {
  -moz-padding-end: 12px;
  background: url(chrome://global/skin/arrow/down.png) right center no-repeat;
}

/* organize button */
#organizeButton {
  list-style-image: url("chrome://browser/skin/places/organize.png");
}

/* view button */
#viewMenu {
  list-style-image: url("chrome://browser/skin/places/view.png");
}

/* maintenance button */
#maintenanceButton {
  list-style-image: url("chrome://browser/skin/places/importAndBackup.png");
}

/* Root View */
#placesView {
  border-top: 1px solid #696969;
}

/* Place List, Place Content */
.placesTree {
  margin: 0px;
}

#placesList {
  -moz-appearance: none;
  margin: 0px;
  border: none;
  padding: 0;
}

#placeContent {
  -moz-appearance: none;
  border: 0px;
}

/* Search Bar */
#searchbar {
  margin: 6px -4px 0px 2px;
}

#infoPaneBox {
  border-top: 1px solid #A0A0A0;
  padding: 5px;
}

.textbox-input-closebutton {
  -moz-appearance: none !important;
  border: none !important;
  background: none !important;  
  margin: 1px 2px 1px 1px;
  min-width: 0;
  background-color: transparent;
  border: none;
  padding: 0 !important;
  list-style-image: url("chrome://browser/skin/icons/closes.png");
  -moz-image-region: rect(0px, 14px, 14px, 0px);
  width: 14px;
  height: 14px;
  cursor: default;
}

.textbox-input-closebutton > .button-box {
  -moz-appearance: none !important;
  border: none !important;
  background: none !important;
  margin: 0;
  padding: 0;
  border: 0;
}

.textbox-input-closebutton:hover {
  -moz-image-region: rect(0px, 28px, 14px, 14px);
}

.textbox-input-closebutton:hover:active {
  -moz-image-region: rect(0px, 42px, 14px, 28px);
}

.small, .small[disabled="true"] {
  font-size: small;
  min-width: 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px;  
  border: 0px;
}

.small .button-text,
.small .button-box {
  padding: 0px;
  margin: 0px;
  border: 0px;
  padding-right: 5px;
}

#searchFilter {
  padding: 0px;
}

#searchFilter .textbox-input-box {
  padding: 2px 2px 3px 4px;
}

/**** expanders ****/

.expander-up,
.expander-down {
  min-width: 0;
}

.expander-up > hbox,
.expander-down > hbox {
  padding: 0;
  padding-right: 12px !important; /* Fix padding problem */
}

.expander-up {
  list-style-image: url("chrome://global/skin/icons/collapse.png");
}

.expander-down {
  list-style-image: url("chrome://global/skin/icons/expand.png");
}

#infoBoxExpanderLabel {
  margin: 0;
  padding: 5px 0;
}

#organizerScopeBar {
  -moz-appearance: none;
  padding: 2px 0;
  -moz-padding-end: 3px;
}

#organizerScopeBar > toolbarbutton {
  -moz-appearance: none;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 0 !important;
  margin: 0 1px;
}

#organizerScopeBar > toolbarbutton > label,
#organizerScopeBar > toolbarbutton > image {
  padding: 0;
  margin: 0;
}

#organizerScopeBar .toolbarbutton-text {
   margin: 0;
   padding: 2px 5px;
}

#organizerScopeBar > toolbarbutton:not([disabled="true"]):not([checked="true"]):hover {
  border-color: #A0A0A0;
}

#organizerScopeBar > toolbarbutton[checked="true"] {
  border-color: #696969 !important;
}

#saveSearch {
  min-width: 70px;
  padding-left: 14px;
}