/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/inContentUI.css");

@namespace html "http://www.w3.org/1999/xhtml";

*|*:root {
  background-color : #EAEAEB;
}

#preferences-home {
  display: block;
}

#header {
  margin-bottom: 18px;
  background : transparent;
}

prefpane   {
  background-color: #DBDBE3;
}

.landingButton {
  -moz-box-align: center;
  -moz-box-orient: vertical;
  border: 2px solid transparent;
  border-radius: 5px;
  background: none;
  box-shadow: none;
}

.landingButton:hover {
  cursor: pointer;
  -moz-border-top-colors: #808080 #fff;
  -moz-border-right-colors: #808080 #A5BFD8;
  -moz-border-bottom-colors: #808080 #99AFCB;
  -moz-border-left-colors: #808080 #A5BFD8;
  background: url(chrome://global/skin/button/hover.png) transparent;
  background-size: 100% 100%;
}

.landingButton-label {
  margin-top: 4px;
}

.landingButton-icon {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
}

.preference-icon {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  margin: 0 20px;
}

/* FF28 start */

caption {
  font-size: 1.667rem;
}

.main-content {
  max-width: 800px;
  padding-bottom: 12px;
}

prefpane > .content-box {
  overflow: auto;
}

/* Category List */

#categories {
  -moz-appearance: none;
  border: none;
  -moz-margin-end: -1px;
  background-color: transparent;
  position: relative;
  margin-top: 31px;
}

.category {
  -moz-box-align: center;
  overflow: hidden;
  min-height: 0;
  padding: 10px 4px;
  margin: 2px;
  -moz-margin-end: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition-property: height, margin, opacity;
  transition-duration: 0.4s, 0.4s;
}

.category[disabled] {
  border-top: 0;
  border-bottom: 0;
  height: 0;
  opacity: 0;
  transition-property: height, opacity;
  transition-duration: 0.5s, 0.2s;
}

.category:not([disabled]) {
  height: 56px;
  transition-property: height, opacity;
  transition-duration: 0.1s, 0.5s;
}

#categories > .category:hover {
  -moz-border-top-colors: #808080 #fff;
  -moz-border-right-colors: #808080 #A5BFD8;
  -moz-border-bottom-colors: #808080 #99AFCB;
  -moz-border-left-colors: #808080 #A5BFD8;
  background: url(chrome://global/skin/button/hover.png) transparent;
  background-size: 100% 100%;
 }

#categories > .category[selected] {
  -moz-border-top-colors: #808080 #fff;
  -moz-border-right-colors: #808080 #A5BFD8;
  -moz-border-bottom-colors: #808080 #99AFCB;
  -moz-border-left-colors: #808080 #A5BFD8;
  background: url(chrome://global/skin/button/hover.png) transparent;
  background-size: 100% 100%;
}

.category-name {
  font-size: 150%;
}

/* Maximize the size of the viewport when the window is small */
@media (max-width: 800px) {
  .category-name {
    display: none;
  }
}

.category-icon {
  width: 32px;
  height: 32px;
  margin: 0 6px;
  -moz-margin-start: 6px;
  -moz-margin-end: 5px;
}
/* FF28 end */

.preference-icon[type="general"],
.landingButton-icon[type="general"],
#category-general > .category-icon {
  list-style-image: url(chrome://browser/skin/preferences/main.png) !important;
}

.preference-icon[type="tabs"],
.landingButton-icon[type="tabs"] {
  list-style-image: url(chrome://browser/skin/preferences/tabs.png) !important;
}

.preference-icon[type="content"],
.landingButton-icon[type="content"],
#category-content > .category-icon {
  list-style-image: url(chrome://browser/skin/preferences/content.png) !important;
}

.preference-icon[type="applications"],
.landingButton-icon[type="applications"],
#category-application > .category-icon {
  list-style-image: url(chrome://browser/skin/preferences/applications.png) !important;
}

.preference-icon[type="privacy"],
.landingButton-icon[type="privacy"],
#category-privacy > .category-icon {
  list-style-image: url(chrome://browser/skin/preferences/privacy.png) !important;
}

.preference-icon[type="security"],
.landingButton-icon[type="security"],
#category-security > .category-icon {
  list-style-image: url(chrome://browser/skin/preferences/security.png) !important;
}

.preference-icon[type="advanced"],
.landingButton-icon[type="advanced"],
#category-advanced > .category-icon {
  list-style-image: url(chrome://browser/skin/preferences/advanced.png) !important;
}

.preference-icon[type="sync"],
.landingButton-icon[type="sync"],
#category-sync > .category-icon {
  list-style-image: url(chrome://browser/skin/preferences/sync.png) !important;
}

caption {
  font-size: 20px;
}

.heading {
  height: 50px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 15px;
  -moz-box-align: center;
}

prefpane > .content-box {
  overflow: auto;
}

/* Applications Pane Styles */

#applications-content {
  padding: 15px;
}

#handlersView {
  -moz-appearance: none;
  border: 1px solid rgba(31,64,100,0.4);
  overflow-y: auto;
}

/* XXX This style is for bug 740213 and should be removed once that
   bug has a solution. */
description > html|a {
  cursor: pointer;
}

/* XXX Styles Below can be removed once bug 660726 lands */
.nav-button {
  list-style-image: url(chrome://mozapps/skin/extensions/navigation.png);
}

#forward-btn {
  -moz-border-start: none;
}

#back-btn:-moz-locale-dir(ltr),
#forward-btn:-moz-locale-dir(rtl) {
  -moz-image-region: rect(0, 18px, 18px, 0);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#back-btn:-moz-locale-dir(rtl),
#forward-btn:-moz-locale-dir(ltr) {
  -moz-image-region: rect(0, 36px, 18px, 18px);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.header-button {
  -moz-box-align: center;
  font-size: 120%;
  border: 1px solid #a2a6ad;
  border-radius: 5px;
  background: url(chrome://global/skin/button/body.png) repeat-x top left #fafafb;
}

.header-button[disabled="true"] {
  -moz-box-align: center;
  font-size: 120%;  
  border: 1px solid #a2a6ad;
  border-radius: 5px;
  background: url(chrome://global/skin/button/body.png) repeat-x top left #fafafb;
}

.header-button:not([disabled="true"]):hover {
  background: url(chrome://global/skin/button/body-hover.png) repeat-x top left #b8e9fe;
  cursor: pointer;
}

.nav-button[disabled="true"] .toolbarbutton-icon {
  opacity: 0.4;
}

.header-button .toolbarbutton-text {
  display: none;
}
