@import url(chrome://browser/skin/browser-nonLinux.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#main-window[sizemode=maximized] > #titlebar > #titlebar-content > #appmenu-button-container ,
#appmenu-button-container,#titlebar-buttonbox{
  margin-top: -1px;
}

#navigator-toolbox:not(:-moz-lwtheme):not(#vertical-toolbar):not(#aios-toolbar) {
  -moz-appearance: none !important;
  background: #FFFFFF url("chrome://browser/skin/icons/Tool-background.png") top left repeat-x;
  border: 0px !important;
}

#navigator-toolbox[iconsize="small"]:not(:-moz-lwtheme):not(#vertical-toolbar):not(#aios-toolbar) {
  -moz-appearance: none !important;
  background: #FFFFFF url("chrome://browser/skin/icons/Tool-background2.png") top left repeat-x;
  border: 0px !important;
}

#TabsToolbar {
	-moz-appearance: none !important;
	background-image: url("chrome://browser/skin/icons/Bookmark-background1.png");
}

#appmenu-button > .button-box{
	margin-top: 2px !important;
}

#main-menubar > menu,
#menubar > menu:hover{
  color: black;
}