/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://global/skin/filefield.css);

/* Global Styles */
radio[pane=paneMain] {
  list-style-image: url(chrome://browser/skin/preferences/main.png) !important;
}

radio[pane=panePrivacy] {
  list-style-image: url(chrome://browser/skin/preferences/privacy.png) !important;
}

radio[pane=paneContent] {
  list-style-image: url(chrome://browser/skin/preferences/content.png) !important;
}

radio[pane=paneTabs] {
  list-style-image: url(chrome://browser/skin/preferences/tabs.png) !important;
}

radio[pane=paneAdvanced] {
  list-style-image: url(chrome://browser/skin/preferences/advanced.png) !important;
}

radio[pane=paneApplications] {
  list-style-image: url(chrome://browser/skin/preferences/applications.png) !important;
}

radio[pane=paneSecurity] {
  list-style-image: url(chrome://browser/skin/preferences/security.png) !important;
}

radio[pane=paneSync] {
  list-style-image: url(chrome://browser/skin/preferences/sync.png) !important;
}

prefpane {
  padding-top: 5px;
  padding-bottom: 0px;
}

.prefWindow-dlgbuttons {
  padding-bottom: 5px;
}

/* Applications Pane */

#paneApplications {
  padding: 8px 0 0;
}

#paneApplications #filter {
  margin: 2px 8px;
}

#BrowserPreferences[animated=true] #handlersView {
  height: 25em;
}

#BrowserPreferences[animated="false"] #handlersView {
  -moz-box-flex: 1;
}

#clearCacheButton {
  list-style-image: url(chrome://global/skin/CuteMenus/Cleanup.png);
}

.inline-link {
  cursor: pointer;
  color: #0066CC;
  text-decoration : none;
}

.inline-link:hover {
  text-decoration: underline;
}

/* Modeless Window Dialogs */
.windowDialog,
.windowDialog prefpane {
  padding: 0;
  background: #dadce4;
}

.contentPane {
  margin: 9px 8px 5px;
}

.actionButtons {
  margin: 0 3px 6px !important;
}

/* Cookies Manager */

#cookiesChildren::-moz-tree-image(domainCol) {
  width: 16px;
  height: 16px;
  margin: 0 2px;
  list-style-image: url(chrome://global/skin/CuteMenus/source.png) !important;
}

#cookiesChildren::-moz-tree-image(domainCol, container) {
  list-style-image: url(chrome://browser/skin/icons/folder_closed.png);
}

#cookiesChildren::-moz-tree-image(domainCol, container, open) {
  list-style-image: url(chrome://browser/skin/icons/folder_open.png);
}

#cookieInfoBox {
  border: 1px solid #A0A0A0;
  border-radius: 0;
  margin: 4px;
  padding: 0;
}

/* Sync Pane */
#syncDesc {
  padding: 0 12em;
}

.syncGroupBox {
  padding: 10px;
}

#accountCaptionImage {
  margin-right: 2px;
  list-style-image: url(chrome://mozapps/skin/profile/profileicon.png);
}

#syncAddDeviceLabel {
  margin-top: 1em;
  margin-bottom: 1em;
 }

#syncEnginesList {
  height: 11em;
}

/* Advanced Pane */
#advancedPrefs {
  padding-bottom: 8px;
}

.bottomBox {
  padding-bottom: 2px;
}