@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#reporterMenuButton {
 list-style-image: url(chrome://browser/skin/icons/report.png);
 -moz-image-region: rect(0 32px 32px 0);
}

toolbar[iconsize="small"] #reporterMenuButton  {
  list-style-image: url(chrome://browser/skin/icons/report-small.png);
  -moz-image-region: rect(0 24px 24px 0);
}