#privacyFrame, #finishExtendedFrame {
  -moz-appearance: listbox;
  color: #000;
  margin: 2px 4px;
  border: 2px solid;
  -moz-border-top-colors: #808080 #404040;
  -moz-border-right-colors: #fff #d4d0c8;
  -moz-border-bottom-colors: #fff #d4d0c8;
  -moz-border-left-colors: #808080 #404040;
  background-color: #f2f2f2;
}

.hide {
  display: none;
}

#privacyPolicy {
  cursor: pointer;
  -moz-user-focus: normal;
  color: #00f;
  text-decoration: underline !important;
}

#privacyPolicy:focus {
  outline: 1px dotted #fff !important;
}

.wizard-header-icon {
  max-height: 32px;
  list-style-image: url(chrome://browser/skin/icons/report.png);
}

wizard[description=""] .wizard-header-description {
  display: none;
}