#privacyFrame, #finishExtendedFrame {
  -moz-appearance: listbox;
  color: #000;
  margin: 2px 4px;
  border: 1px solid #9B9DA2;
  background-color: #f8f8f8;
}

.hide {
  display: none;
}

#privacyPolicy {
  cursor: pointer;
  -moz-user-focus: normal;
  color: #00f;
  text-decoration: underline !important;
}

#privacyPolicy:focus {
  outline: 1px dotted #fff !important;
}

.wizard-header-icon {
  max-height: 32px;
  list-style-image: url(chrome://browser/skin/icons/report.png);
}

wizard[description=""] .wizard-header-description {
  display: none;
}