.statuspanel-label{
	-moz-appearance: none !important;
	background: white !important;
	border: 1px solid black !important;
	color: black !Important;
}

#navigator-toolbox[tabsontop=true] > #toolbar-menubar[autohide=true] ~ #TabsToolbar:not([inFullscreen]) {
  margin: 0;
}
#appmenu-toolbar-button,
#appmenu-toolbar-button:hover,
#appmenu-toolbar-button:hover:active,
#appmenu-toolbar-button[open]{
  color: #fff !important;
  text-shadow: 0 0 2px #333;
}

#TabsToolbar[tabsontop=true] #appmenu-toolbar-button {
  margin: -1px 1px 1px;
}

#TabsToolbar:not([tabsontop=true]) #appmenu-toolbar-button {
  border-top: 1px solid rgba(0,0,0,.5);
  border-radius: 0 0 4px 4px !important;
}

#appmenu-toolbar-button > .toolbarbutton-menu-dropmarker:-moz-locale-dir(ltr) {
  margin: 0 0 0 4px;
  list-style-image: url(chrome://browser/skin/icons/appmenu-dropmarker.png);
  -moz-image-region: auto;
}
#appmenu-toolbar-button > .toolbarbutton-menu-dropmarker:-moz-locale-dir(rtl) {
  margin: 0 4px 0 0;
  list-style-image: url(chrome://browser/skin/icons/appmenu-dropmarker.png);
  -moz-image-region: auto;
}

.appmenu-edit-button > .toolbarbutton-icon {
  width: 16px !important;
  height: 16px !important;
  margin: 0 1px 1px 0 !important;
}

.appmenu-edit-button:not([disabled=true]):hover > .toolbarbutton-icon {
  width: 14px !important;
  height: 14px !important;
  margin: 1px 2px 2px 1px !important;
}

#navigator-toolbox:not(:-moz-lwtheme):not(#vertical-toolbar):not(#aios-toolbar) {
  -moz-appearance: none !important;
  background: #FFFFFF url("chrome://browser/skin/icons/Tool-background.png") top left repeat-x;
  border: 0px !important;
}

#navigator-toolbox[iconsize="small"]:not(:-moz-lwtheme):not(#vertical-toolbar):not(#aios-toolbar) {
  -moz-appearance: none !important;
  background: #FFFFFF url("chrome://browser/skin/icons/Tool-background2.png") top left repeat-x;
  border: 0px !important;
}

.menu-iconic-left {
  visibility: visible !important;
}