:root {
  --appmenu-background-color: #0b86e0;
  --appmenu-background-image: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.4) 30%, rgba(255,255,255,0) 50%);
  --appmenu-border-color: rgba(0,0,0,.5);
  --appmenu-border-radius: 6px;
  --appmenu-box-shadow: 0 0 5px rgba(255,255,255,.5) inset;
}

#navigator-toolbox[tabsontop=true] > #toolbar-menubar[autohide="true"] ~ #TabsToolbar:not([inFullscreen]) {
  margin: 0;
}

/* ::::: app menu button ::::: */

#appmenu-toolbar-button {
  -moz-box-orient: horizontal;
  height: 18px;
  color: #fff;
  text-shadow: 0 0 2px #333;
  margin: 0 1px;
  padding: 0 6px;
  list-style-image: url("chrome://branding/content/icon16.png");
  border: 1px solid var(--appmenu-border-color);
  border-top: 0;
  border-radius: 0 0 var(--appmenu-border-radius) var(--appmenu-border-radius);
  background-color: var(--appmenu-background-color);
  background-image: var(--appmenu-background-image);
  background-clip: padding-box;
  box-shadow: var(--appmenu-box-shadow);
}

#appmenu-toolbar-button:hover:not(:active):not([open]) {
  --appmenu-background-color: #1f9afd;
}

#appmenu-toolbar-button:hover:active,
#appmenu-toolbar-button[open] {
  --appmenu-background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.2) 10%, transparent 60%);
  --appmenu-box-shadow: 0 0 4px rgba(0,0,0,.3) inset;
}

#TabsToolbar[tabsontop=true] #appmenu-toolbar-button {
  margin: -1px 1px 1px;
}

#TabsToolbar:not([tabsontop=true]) #appmenu-toolbar-button {
  border-top: 1px solid var(--appmenu-border-color);
  border-radius: 4px;
}

#appmenu-toolbar-button > .toolbarbutton-text {
  display: none;
}

#appmenu-toolbar-button > .toolbarbutton-menu-dropmarker {
  margin: 0 0 0 4px;
  list-style-image: url(chrome://browser/skin/appmenu-dropmarker.png) ;
}

#main-window[privatebrowsingmode=temporary] #appmenu-toolbar-button {
  --appmenu-background-image: linear-gradient(rgb(153,38,211), rgb(105,19,163) 95%);
  --appmenu-border-color: rgba(43,8,65,.9);
  color : #fff;  
}

#main-window[privatebrowsingmode=temporary] #appmenu-toolbar-button:hover:not(:active):not([open]) {
  --appmenu-background-image: radial-gradient(farthest-side at center bottom, rgba(240,193,255,.5) 10%, rgba(240,193,255,0) 70%), radial-gradient(farthest-side at center bottom, rgb(192,81,247), rgba(236,172,255,0)), linear-gradient(rgb(144,20,207), rgb(95,0,158) 95%);
  --appmenu-border-color: rgba(43,8,65,.9);
}

#main-window[privatebrowsingmode=temporary] #appmenu-toolbar-button:hover:active,
#main-window[privatebrowsingmode=temporary] #appmenu-toolbar-button[open] {
  --appmenu-background-image: linear-gradient(rgb(144,20,207), rgb(95,0,158) 95%);
}

.appmenu-edit-button > .toolbarbutton-icon {
  width: 16px !important;
  height: 16px !important;
  margin: 0 1px 1px 0 !important;
}

.appmenu-edit-button:not([disabled="true"]):hover > .toolbarbutton-icon {
  width: 14px !important;
  height: 14px !important;
  margin: 1px 2px 2px 1px !important;
}