@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

menupopup,popup,popup[type="autocomplete"],
menulist > menupopup {
  color: black;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  -moz-border-top-colors: #666666;
  -moz-border-right-colors: #666666;
  -moz-border-bottom-colors: #666666;
  -moz-border-left-colors: #666666;
  padding: 1px 1px 0px 1px !important;
}
popup[type="autocomplete"],menulist > menupopup {
  background: #DADCE4;
}
menubar > menu:not([disabled]):not(:-moz-lwtheme),
menubar > menu[_moz-menuactive]:not([disabled]):not(:-moz-lwtheme),
menubar > menu[_moz-menuactive][open]:not([disabled]):not(:-moz-lwtheme) {
  color: black;
}
menubar > menu:not([disabled]):not(:-moz-lwtheme) {
  padding: 1px 4px 2px 4px;
  margin: 1px 0px 1px 0px;
  border: 1px solid transparent;
}
menubar > menu[_moz-menuactive]:not([disabled]):not(:-moz-lwtheme) {
  border: 1px solid #0A246A;
  background-color: #B6BDD2;
}
menubar > menu[_moz-menuactive][open]:not([disabled]):not(:-moz-lwtheme){
  border-left: 1px solid #666666;
  border-right: 1px solid #666666;
  border-bottom: 1px solid transparent;
  border-top: 1px solid #666666;
  background-color: #F4F3F1;
}
menubar > menu[disabled]:not(:-moz-lwtheme),
menubar > menu[_moz-menuactive][disabled]:not(:-moz-lwtheme) {
  color: GrayText;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  background-color: transparent;
}
menupopup > menu,popup > menu,
menupopup > menuitem,popup > menuitem {
  border: 1px solid transparent;
  margin: 0px 0px 1px 0px !important;
  padding: 2px 0px 2px 9px !important; 
  height: 20px;
}
menupopup > menu[_moz-menuactive],
menupopup > menuitem[_moz-menuactive],
popup > menu[_moz-menuactive],
popup > menuitem[_moz-menuactive]{
  border: 1px solid #0A246A !important;
  margin: 0px 0px 1px 0px !important;
  padding: 2px 0px 2px 9px !important; 
  height: 20px;
}
menu[disabled], menuitem[disabled]{
	color: black;
}
menupopup > menu[disabled],
menupopup > menuitem[disabled],
popup > menu[disabled],
popup > menuitem[disabled] {
  color: black;
}
menupopup > menu[_moz-menuactive][disabled],
menupopup > menuitem[_moz-menuactive][disabled],
popup > menu[_moz-menuactive][disabled],
popup > menuitem[_moz-menuactive][disabled] {
  color: black;
}
menuseparator {
  border-top: 1px solid;
  border-bottom: 0px solid;
  -moz-border-top-colors: #A6A6A6;
  -moz-border-bottom-colors: transparent;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 1px;
  margin-left: 27px;
}
.menu-iconic-left:-moz-locale-dir(ltr) {
  margin: -2px 4px -2px -8px !important;
}
.menu-iconic-left:-moz-locale-dir(rtl) {
  margin: -2px 0 -2px 8px !important;
}