.searchbar-textbox {
  min-width: 110px;
  margin: 0 2px;
  border: 1px solid #fff;
  border-top-color: #808080;
  border-right-color: #d0d0d0;
  border-left-color: #eee;
  border-radius: 10000px;
  color:black;
  background: linear-gradient(transparent, transparent, transparent),
              url("chrome://browser/skin/icons/leftcap4.png") left no-repeat,
              url("chrome://browser/skin/icons/rightcap4.png") right no-repeat,
              url("chrome://browser/skin/icons/textbox.png") center;
}

.searchbar-textbox:hover, .searchbar-textbox:active {
  color: #00f;
}

.searchbar-engine-button {
  cursor: pointer;
  width: 35px;
  min-width: 35px;
  height: 22px;
  margin: 0px 3px 0 -1px;
  padding: 0 2px;
  border: 0;
  -moz-border-right-colors: #aaa;
  border-radius: 10000px 0 0 10000px;
  background: transparent !important;
}

.searchbar-engine-image {
  height: 16px;
  width: 16px;
  margin-left: 7px;
  list-style-image: url(chrome://mozapps/skin/places/defaultFavicon.png);
}

.searchbar-dropmarker-image {
  list-style-image: url(chrome://global/skin/arrow/arrow-dn.gif);
}

.searchbar-engine-button:hover  >.searchbar-dropmarker-image {
  list-style-image: url(chrome://global/skin/arrow/arrow-dn-hov.gif);
}

.searchbar-engine-button[addengines=true] > .searchbar-dropmarker-image {
  list-style-image: url(chrome://browser/skin/icons/Searchbutton.png);
}

.search-go-button {
  padding: 2px;
  list-style-image: url(chrome://browser/skin/icons/Searchbar.png);
  -moz-image-region: rect(0 16px 16px 0);
}

.search-go-button:hover {
  -moz-image-region: rect(0 34px 16px 18px);
}

.search-go-button:hover:active {
  -moz-image-region: rect(0 50px 16px 34px);
}

.search-go-button[disabled=true] {
  opacity: .6;
}

.searchbar-engine-menuitem[selected] > .menu-iconic-text {
  font-weight: bold;
}