body {
  font-family: Tahoma, sans-serif !important;
  font-size: 13px;
  line-height: 16px;
  color: rgba(0,0,0,.6);
 }
 
#bg {
  position: absolute;
  z-index: -999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#dadce4,#d9dbe3 140px,#5f626e);
}

.tab {
  cursor: pointer;
  margin: 4px;
  padding: 4px 6px 6px 4px;
  border: 1px solid #aaa;
  border-radius: .4em;
  background-color: #f0f0f0;
  box-shadow: inset 0 1px 0 #fff, inset 0 -1px 1px rgba(255,255,255,.8),
	inset 1px 0 1px rgba(255,255,255,.8), inset -1px 0 1px rgba(255,255,255,.8),0 1px 2px rgba(4,38,60,.4);
}

.tab canvas,.cached-thumb {
  border: 1px solid rgba(0,0,0,.2);
}

.favicon {
  height: 17px;
  width: 17px;
  top: 4px;
  left: 4px;
  padding: 4px 6px 6px 4px;
  border-right: 1px solid rgba(0,0,0,.2);
  border-bottom: 1px solid rgba(0,0,0,.2);
  border-bottom-right-radius: .4em;
  background-color: #f0f0f0;
}

.favicon img {
  width: 16px;
  height: 16px;
  border: 0;
}

.close {
  top: 6px;
  right: 6px;
  width: 14px;
  height: 14px;
  background: url(chrome://global/skin/icons/close.png) 0 0 no-repeat;
  opacity: .2;
  transition-property: opacity;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}

.close:hover {
  background-position: -14px 0;
}

.favicon img:hover, close img:hover, expander img:hover {
  opacity: 1;
  border: 0;
}

.tab-title {
  bottom: -20px;
  width: 94.5%;
  text-align: center;
  text-shadow: 0 1px rgba(255,255,255,.6);
  white-space: nowrap;
  overflow: hidden;
}

.stacked {
  padding: 0;
}

.stacked .thumb {
  box-shadow: rgba(0,0,0,.2) 1px 1px 6px;
}

.stack-trayed .tab-title {
  text-shadow: 1px 1px 2px #000;
  color: #eee;
  font-size: 11px;
}

.stack-trayed .thumb {
  box-shadow: none !important;
}

.front .tab-title, 
.front .close, 
.front .favicon, 
.front .expander, 
.front .thumb-shadow {
  display: none;
}

.tab.focus,
.groupItem.activeGroupItem{
  border: 2px solid red;
}

.front .thumb,.front .focus {
  box-shadow: none !important;
}

.tabInGroupItem {
  background-color: #f0f0f0;
}

.tabInGroupItem .favicon {
  background-color: #f0f0f0;
 }

.groupItem {
  cursor: move;
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: .4em;
  box-shadow: inset 0 1px 0 #fff, inset 0 -1px 1px rgba(255,255,255,.8),
  inset 1px 0 1px rgba(255,255,255,.8),inset -1px 0 1px rgba(255,255,255,.8),0 1px 2px rgba(4,38,60,.4);
}

.tab.focus,.groupItem.activeGroupItem {
  box-shadow: inset 0 1px 0 rgba(255,255,255,1),inset 0 -1px 1px rgba(255,255,255,.8),
	inset 1px 0 1px rgba(255,255,255,.8),inset -1px 0 1px rgba(255,255,255,.8),0 0 8px rgba(0,96,214,1);
}

.overlay {
  background-color: rgba(0,0,0,.7) !important;
  box-shadow: 3px 3px 8px rgba(0,0,0,.5);
  border-radius: .4em;
}

.appTabTrayContainer {
  overflow-x: hidden;
  text-align: start;
  line-height: 0;
  top: 27px;
  right: 3px;
  padding: 0 4px;
}

.appTabTray {
  display: inline-block;
  -moz-column-width: 16px;
  -moz-column-count: 0;
  -moz-column-gap: 5px;
  top: 27px;
  right: 3px;
}

.appTabTrayContainerTruncated {
  padding-bottom: 7px;
}

.appTabTrayContainerTruncated:after {
  position: absolute;
  display: block;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 15px;
  line-height: 15px;
  text-align: center;
  font-size: 15px;
  content: "…";
}

.appTabIcon {
  cursor: pointer;
  display: block;
  width: 16px;
  height: 16px;
  margin-bottom: 3px;
  padding: 3px;
  border: 1px solid #aaa;
  border-radius: .4em;
  background-color: #f0f0f0;
}

.appTabIcon:hover {
  border-color: #1f9afd;
}

.undo {
  cursor: pointer;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(255,255,255,.2);
  width: 150px;
  height: 30px;
  line-height: 30px;
  color: rgba(0,0,0,.8);
  border: 1px solid #aaa;
  border-radius: .4em;
  background-color: #e4e4e4;
}

.undo:hover {
  box-shadow: inset 0 0 12px rgba(31,154,253,.4),inset 0 0 3px rgba(31,154,253,1),0 0 rgba(255,255,255,.4);
}

.undo .close {
  top: 4px;
  left: 10px;
  opacity: .5;
}

.undo .close:hover{
  opacity: 1;
}

.info-item {
  cursor: move;
  border: 1px solid rgba(230,230,230,1);
  background-color: rgba(248,248,248,1);
  border-radius: .4em;
  box-shadow: inset rgba(255, 255, 255,.6) 0 0 0 2px,rgba(0,0,0,.2) 1px 1px 4px;
}

.intro {
  margin: 10px;
}

.guideTrench {
  border: 1px dashed  rgba(0,0,0,.12);
  border-bottom: none;
  border-right: none;
  box-shadow: 1px 1px 0 rgba(255,255,255,.15);
  opacity: .9;
}

.visibleTrench {
  opacity: .05;
}

.activeVisibleTrench {
  opacity: 0;
}

.activeVisibleTrench.activeTrench {
  opacity: .45;
}

.visibleTrench.border, 
.activeVisibleTrench.border {
  background-color: #f00;
}

.visibleTrench.guide, 
.activeVisibleTrench.guide {
  background-color: #00f;
}

.newTabButton {
  cursor: pointer;
  bottom: 10px;
  left: 10px;
  width: 16px;
  height: 15px;
  background-image: url(chrome://browser/skin/tabview/new-tab.png);
  opacity: .4;
}

.newTabButton:hover {
  opacity: 1;
}

.active {
  box-shadow: 5px 5px 4px rgba(0,0,0,.5);
}

.acceptsDrop {
  box-shadow: 2px 2px 10px -1px rgba(0,0,0,.6);
}

.titlebar {
  font-size: 12px;
  line-height: 18px;
  height: 18px;
}

input.name {
  color: #999;
  margin: 3px 0 0 3px;
  padding: 1px 1px 1px 20px;
  border: 1px solid transparent;
  background: transparent url(chrome://browser/skin/tabview/edit-light.png) no-repeat;
}

.title-container:hover input.name {
  color: #555;
  border: 1px solid #aaa;
  background-image: url(chrome://browser/skin/tabview/edit.png);
}

.title-container:hover input.name-locked {
  cursor: default;
  border: 1px solid transparent !important;
}

input.name:focus {
  color: #222;
}

input.defaultName {
  font-style: italic !important;
  color: transparent;
}

.title-container:hover input.defaultName {
  color: #aaa;
}

.title-container {
  cursor: text;
}

.title-shield {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 3px 0 0 3px;
  padding: 1px;
}

.transparentBorder {
  border: 1px solid transparent !important;
}

.stackExpander {
  cursor: pointer;
  bottom: 8px;
  width: 24px;
  height: 24px;
  background-image: url(chrome://browser/skin/tabview/stack-expander.png);
  opacity: .7 !important;
}

.stackExpander:hover {
  opacity: 1 !important;
}

.expander, .resizer {
  bottom: 6px;
  right: 6px;
  width: 15px;
  height: 15px;
  background: url(chrome://global/skin/scrollbar/resizer.png) no-repeat bottom right;
  opacity: .2;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.close:hover,.expander:hover {
  opacity: 1.0;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.resizer {
  bottom: 0;
  right: 0;
}

.iq-resizable-handle {
  font-size: 0.1px;
}

.iq-resizable-se {
  cursor: se-resize;
  right: -2px;
  bottom: -2px;
  width: 12px;
  height: 12px;
  padding-right: 3px;
  padding-bottom: 3px;
}

#search,#searchshade {
  width: 100%;
  height: 100%;
}

#searchshade {
  background-color: rgba(0,0,0,.42);
}

#searchbox{
  font-size: 14px;
  width: 270px;
  height: 30px;
  color: #fff;
  padding: 0 5px;
  border: 2px solid #ccc;
  border-radius: .4em;
  background-color: #272727;
}

#actions{
  right: 1px;
  text-align: center;
  width: 26px;
  height: 26px;
}

#exit-button {
  width: 24px;
  height: 24px;
  margin: 2px 3px;
  border: none;
  border-radius: 4px;
  background: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png),0,121,24,97) scroll no-repeat;
}

#exit-button[groups="0"] {
  background: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png),0,25,24,1) scroll no-repeat;
}

#exit-button[groups="1"] {
  background: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png),0,49,24,25) scroll no-repeat;
}

#exit-button[groups="2"] {
  background: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png),0,73,24,49) scroll no-repeat;
}

#exit-button[groups="3"] {
  background: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png),0,97,24,73) scroll no-repeat;
}

#exit-button:hover{
  opacity: .8;
}

#actions #searchbutton{
  width: 20px;
  height: 20px;
  margin-top: 5px;
  border: none;
  background: url(chrome://browser/skin/icons/Searchbar.png) 3px 2px no-repeat transparent;
}

#actions #searchbutton:hover{
  background-position: -15px 2px;
}

.notMainMatch{
  opacity: .7;
}

#otherresults{
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(0,0,0,.3);
  box-shadow: 0 -1px 0 rgba(255,255,255,.1), inset 0 2px 5px rgba(0,0,0,.3);
}

#otherresults .label{
  color: #999;
  line-height: 30px;
  margin: 0 5px;
}

.inlineMatch{
  opacity: 1;
  cursor: pointer;
  height: 20px;
  margin-right: 5px;
  padding: 0 3px;
  border: 1px solid #808080;
  border-radius: .4em;
  background-color: #eee;
  box-shadow: 0 1px 4px rgba(0,0,0,.6);
}

.inlineMatch:hover{
  box-shadow: inset 0 0 10px rgba(31,154,253,.4),inset 0 0 3px rgba(31,154,253,1),0 0 rgba(255,255,255,.4);
}

.inlineMatch>img{
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.inlineMatch>span{
  max-width:200px;
  height: 15px;
}

.newTabGroup {
  border: 0;
  border-top: 1px solid rgba(127,127,127,.5);
  background-color: #d9e7fc;
  border-radius: .1em;
  box-shadow: inset 0 5px 10px rgba(0,0,0,.1);
}

.inNewTabGroup .favicon {
  background-color: #d9e7fc;
  box-shadow: none;
}

.groupItem .close {
  z-index: 10;
  top: 6px;
  right: 6px;
  width: 14px;
  height: 14px;
}