@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#noiamoon-back-forward-dropmarker {
  -moz-box-ordinal-group: 3 !important;
  margin-left: -4px !important;
}

#forward-button {
  margin-left: -6px !important;
}