@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#navigator-toolbox #nav-bar {
  visibility: collapse;
  transition: visibility 0.08s !important;
}

#navigator-toolbox:not(:hover) #PersonalToolbar  ,
#navigator-toolbox:not(:hover) #GBL-Toolbar ,
#navigator-toolbox:not(:hover) #gtbToolbar ,
#navigator-toolbox:not(:hover) #webdeveloper-toolbar ,
#navigator-toolbox:not(:hover) #yahoo-toolbar ,
#navigator-toolbox:not(:hover) #AMAZON_NS_PH_TB-Toolbar ,
#navigator-toolbox:not(:hover) #TFTB-Toolbar ,
#navigator-toolbox:not(:hover) #TabGroupsManagerToolbar ,	
#navigator-toolbox:not(:hover) #antToolbar ,
#navigator-toolbox:not(:hover) #at_toolbar  ,
#navigator-toolbox:not(:hover) .atx-toolbar ,
#navigator-toolbox:not(:hover) #foxlingo_toolbar-2-4-3c ,
#navigator-toolbox:not(:hover) #vidbar-toolbar ,
#navigator-toolbox:not(:hover) #skipity-toolbar ,
#navigator-toolbox:not(:hover) #facebook-toolbar ,
#navigator-toolbox:not(:hover) #wmn-toolbar {
  visibility: collapse;
}


#navigator-toolbox:hover > #nav-bar {
  visibility: visible;
  transition: visibility 0.08s !important;
}
#navigator-toolbox:hover > #PersonalToolbar:not([collapsed="true"]) ,
#navigator-toolbox:hover > #GBL-Toolbar:not([collapsed="true"]),
#navigator-toolbox:hover > #gtbToolbar:not([collapsed="true"]) ,
#navigator-toolbox:hover > #webdeveloper-toolbar:not([collapsed="true"]) ,
#navigator-toolbox:hover > #yahoo-toolbar:not([collapsed="true"]) ,
#navigator-toolbox:hover > #AMAZON_NS_PH_TB-Toolbar:not([collapsed="true"]) ,
#navigator-toolbox:hover > #TFTB-Toolbar:not([collapsed="true"]) ,
#navigator-toolbox:hover > #TabGroupsManagerToolbar:not([collapsed="true"]) ,
#navigator-toolbox:hover > #antToolbar:not([collapsed="true"]) ,
#navigator-toolbox:hover > #at_toolbar:not([collapsed="true"]) ,
#navigator-toolbox:hover > .atx-toolbar:not([collapsed="true"]) ,
#navigator-toolbox:hover > #foxlingo_toolbar-2-4-3c:not([collapsed="true"]) ,
#navigator-toolbox:hover > #vidbar-toolbar:not([collapsed="true"]) ,
#navigator-toolbox:hover > #skipity-toolbar:not([collapsed="true"]) ,
#navigator-toolbox:hover > #facebook-toolbar:not([collapsed="true"]) ,
#navigator-toolbox:hover > #wmn-toolbar:not([collapsed="true"])
{
  visibility: visible;
}

/* Persona */

#navigator-toolbox:not(:hover) #urlbar:-moz-lwtheme:not([focused="true"]) ,
#navigator-toolbox:not(:hover) .searchbar-textbox:-moz-lwtheme:not([focused="true"]) {
  visibility: collapse;
}

#navigator-toolbox:hover #urlbar:-moz-lwtheme:not([focused="true"]) ,
#navigator-toolbox:hover .searchbar-textbox:-moz-lwtheme:not([focused="true"]) {
  visibility: visible;
}