@import url("chrome://global/skin/themeoptions/tabbar3.css");

#main-window:not(:-moz-lwtheme) #addon-bar,
#main-window:not(:-moz-lwtheme) #navigator-toolbox,
#main-window:not([tabsintitlebar]):not(:-moz-lwtheme) #TabsToolbar:not([treestyletab-mode="vertical"]),
#main-window[tabsintitlebar][nmnormal="false"]:not(:-moz-lwtheme) #TabsToolbar:not([treestyletab-mode="vertical"]),
#main-window[nmnormal="false"]:not(:-moz-lwtheme) #titlebar,
#main-window:not(:-moz-lwtheme),
findbar,
#main-window:not(:-moz-lwtheme) #toolbar-menubar,
#navigation-toolbox:not(:-moz-lwtheme),
#tabs-toolbar:not(:-moz-lwtheme),
#mail-toolbar-menubar2:not(:-moz-lwtheme),
.mail-toolbox:not(:-moz-lwtheme),
#quick-filter-bar-main-bar:not(:-moz-lwtheme),
#msgcomposeWindow:not(:-moz-lwtheme),
#compose-toolbar-menubar2:not(:-moz-lwtheme),
#composeToolbar2:not(:-moz-lwtheme),
#MsgHeadersToolbar:not(:-moz-lwtheme),
#FormatToolbar:not(:-moz-lwtheme),
#abContactsPanel:not(:-moz-lwtheme),
#addrbook-toolbar-menubar2:not(:-moz-lwtheme),
#ab-bar2:not(:-moz-lwtheme),
#ab-toolbox:not(:-moz-lwtheme) { 
  background: #DADCE4 !important;
}


#navigation-toolbox:not(:-moz-lwtheme),
#tabs-toolbar:not(:-moz-lwtheme),
#mail-toolbar-menubar2:not(:-moz-lwtheme),
.mail-toolbox:not(:-moz-lwtheme),
#quick-filter-bar-main-bar:not(:-moz-lwtheme),
#msgcomposeWindow:not(:-moz-lwtheme),
#compose-toolbar-menubar2:not(:-moz-lwtheme),
#composeToolbar2:not(:-moz-lwtheme),
#MsgHeadersToolbar:not(:-moz-lwtheme),
#FormatToolbar:not(:-moz-lwtheme),
#abContactsPanel:not(:-moz-lwtheme),
#addrbook-toolbar-menubar2:not(:-moz-lwtheme),
#ab-bar2:not(:-moz-lwtheme),
#ab-toolbox:not(:-moz-lwtheme) { 
  background-image: linear-gradient(rgba(255, 255, 255, .5),
                    rgba(255, 255, 255, .1) 19px) !important;
}

#main-window:not(:-moz-lwtheme) #toolbar-menubar,
#main-window[tabsontop=true][sizemode="maximized"][nmnormal="false"]:not(:-moz-lwtheme) #toolbar-menubar[autohide="true"] ~ #TabsToolbar,
#main-window[nmnormal="false"]:not(:-moz-lwtheme) #titlebar,
#main-window:not(:-moz-lwtheme) { 
  background-image: linear-gradient(rgba(255, 255, 255, 1),
                    rgba(255, 255, 255, .1) 25px) !important;
}

#main-window[tabsontop=true][sizemode="maximized"][nmnormal="false"]:not(:-moz-lwtheme) #toolbar-menubar[autohide="false"] ~ #TabsToolbar,
#main-window[tabsontop=true]:not([sizemode="maximized"]):not(:-moz-lwtheme) #TabsToolbar,
#main-window[tabsontop=false]:not(:-moz-lwtheme) #TabsToolbar,
#main-window:not(:-moz-lwtheme) #navigator-toolbox { 
  background-image: linear-gradient(rgba(255, 255, 255, .1),
                    rgba(255, 255, 255, .1) 19px) !important;

}

#main-window:-moz-lwtheme #TabsToolbar { 
  background: none !important;
}

#main-window[tabsontop="false"][nmnoline="false"]  #toolbar-menubar[autohide="true"] ~ #nav-bar { 
  border-top: 2px groove #eee !important;
}

/* Menu & Popup */

popup,
menupopup {
  background: url(chrome://global/skin/menu/menuback.png) repeat-y #F0F0F0 !important;
}

popup:-moz-locale-dir(rtl),
menupopup:-moz-locale-dir(rtl) {
  background: url(chrome://global/skin/menu/menubackrtl.png) right repeat-y #F0F0F0 !important;
}

#appmenuPrimaryPane {
  background: url(chrome://global/skin/menu/menuback.png) repeat-y #DEE0E7 !important;
}

#appmenuPrimaryPane:-moz-locale-dir(rtl) {
  background: url(chrome://global/skin/menu/menubackrtl.png) right repeat-y #DEE0E7 !important;
}

#appmenuSecondaryPane {
  background-color: #F0F0F0 !important;
}

panel[type="autocomplete"],
panel[type="autocomplete-richlistbox"],
.autocomplete-history-popup,
menulist > menupopup,
menulist > menupopup:-moz-locale-dir(rtl) {
  background: #FFF !important;
}

.panel-arrowcontent {
  background: linear-gradient(to bottom,#fff, #D6D8E0 30%, #DADCE4) !important;
}

#acctCentralGrid {
  background: linear-gradient(145deg, #E5E5E5, #FDFEFF 40%, #E5E5E5 70%) !important;
}

menulist > menupopup > menuseparator,
.menulist-menupopup > menuseparator,
menuseparator {
  border-top: 1px solid #E0E0E0 !important;
  border-bottom: 1px solid #ffffff !important;
}

#social-statusarea-user,
.social-statusarea-user  {
  -moz-border-bottom-colors: #ffffff  #E0E0E0 !important;
}

#social-statusarea-user[_moz-menuactive]:not([disabled="true"]),
.social-statusarea-user[_moz-menuactive]:not([disabled="true"]) {
  -moz-border-bottom-colors: #ffffff  #E0E0E0 !important;
}

#appmenuPrimaryPane menuseparator {
  border-top: 1px solid #c0c0c0 !important;
  border-bottom: 1px solid #f0f0f0 !important;
}

#appmenu-edit-label {
  background: transparent !important;
  border: 1px solid transparent !important;
}


/* Side bar & AIOS */
sidebarheader,
#aios-toolbar,
#vertical-toolbar,
#commandBar  {
  -moz-appearance: none !important;
  background: #DADCE4 !important;
}

#sidebar-search-container {
  background-image: none !important;
  background-color: #DADCE4 !important;
}

/* Extensions */

@-moz-document url("about:addons") {
  #header {
    background: #DADCE4 !important;
  }

  #categories {
    background: #DADCE4 !important;
  }

  #view-port, #addon-list, #search-list, #updates-list {
    background: linear-gradient(145deg, #E5E5E5, #FDFEFF 40%, #E5E5E5 70%) !important;
  }
}

/* about:permissions */

#permissions-box,
#sites-box { 
  background: linear-gradient(145deg, #E5E5E5, #FDFEFF 40%, #E5E5E5 70%) !important;
}

/* Buttons */

#addons-page button:not(.button-link):not(.sorter) {
  box-shadow: none !important;
  box-shadow:
    0 0 2px rgba(255, 255, 255, 0.4) inset,
    0 4px 6px rgba(255, 255, 255, 0.4) inset,
    0 11px 0 -2px rgba(255, 255, 255, 0.2) inset,
    0 13px 8px rgba(80, 80, 80, 0.3) inset,  
    1px 2px 4px rgba(0, 0, 0, 0.1) !important;
}

/* Downloads popup */

@media (-moz-windows-default-theme) {
  #downloadsHistory {
    box-shadow: none !important;  
  }
}

/* Tabview */

@-moz-document url("chrome://browser/content/tabview.html"){
  body {
    background: #DEE0E7 !important;
  }

  #bg {
    background: #DEE0E7 !important;
  }

  .groupItem {
    background-color: #EBECF1 !important;
  }
}

/* about:preferences */

@-moz-document url("about:preferences") {
  #header {
    background: transparent !important;
  }
}

/* Linux */

#main-window[nmlinux="true"][tabsontop="true"][nmnoline="false"] #TabsToolbar {
  border: none !important;
  border-bottom: 2px groove #fff !important;
}

/* Devtools menu */

.devtools-toolbar menupopup,
#debuggerPrefsContextMenu {
  background: #3D464F !important;
}


