/* Add a border to the nav bar for the basic grey theme */

#main-window[tabsintitlebar][nfnoline="false"][nfstrip="false"][nflight="false"][nfblue="false"][nfblack="false"]  #toolbar-menubar[autohide="true"] ~ #nav-bar { 
  border-top: 2px solid !important;
  -moz-border-top-colors: #5C5C5C #DADADA !important
}

/* Nav bar background for the black theme */

@media all and (-moz-windows-compositor) {
  #main-window[nflight="false"][nfblue="false"][nfblack="true"]:not([inFullscreen])  #toolbar-menubar[autohide="true"] ~ #nav-bar { 
    background-image: url("chrome://browser/skin/icons/Tool-background-black.png") !important;
  }

  #main-window:not([tabsintitlebar])[tabsontop="true"]:not([inFullscreen])[nflight="false"][nfblue="false"][nfblack="true"]  #toolbar-menubar[autohide="true"] ~  #TabsToolbar{ 
    background-image: url("chrome://browser/skin/icons/Tool-background-black.png") !important;
  }

  #main-window:not([tabsintitlebar])[tabsontop="true"]:not([inFullscreen])[nflight="false"][nfblue="false"][nfblack="true"]  #toolbar-menubar[autohide="true"] ~ #nav-bar { 
    background: #000 !important;
  }
}

@media not all and (-moz-windows-compositor){
  #main-window[nflight="false"][nfblue="false"][nfblack="true"]:not([inFullscreen])  #toolbar-menubar[autohide="true"] ~ #nav-bar { 
    background-image: url("chrome://browser/skin/icons/Tool-background-black.png") !important;
  }

  #main-window:not([tabsintitlebar])[tabsontop="true"]:not([inFullscreen])[nflight="false"][nfblue="false"][nfblack="true"]  #toolbar-menubar[autohide="true"] ~  #TabsToolbar{ 
    background: #000 !important;
  }

  #main-window:not([tabsintitlebar])[tabsontop="true"]:not([inFullscreen])[nflight="false"][nfblue="false"][nfblack="true"]  #toolbar-menubar[autohide="true"] ~ #nav-bar { 
    background: #000 !important;
  }
}

@media all and (-moz-windows-compositor) {

  /* not(Tabsintitlebar) Aero */

  #main-window:not([tabsalwaysintitlebar]):not(:-moz-lwtheme):not([tabsintitlebar])[tabsontop="true"]{
      -moz-appearance:-moz-win-borderless-glass !important;
      background: transparent !important;
  }
  #main-window:not(:-moz-lwtheme):not([tabsintitlebar])[tabsontop="false"] {
      -moz-appearance:-moz-win-borderless-glass !important;
      background: transparent !important;
  }
  #main-window:not([tabsalwaysintitlebar]):not(:-moz-lwtheme):not([tabsintitlebar])[sizemode="normal"][tabsontop=true] #titlebar-min ,
  #main-window:not(:-moz-lwtheme):not([tabsintitlebar])[sizemode="normal"][tabsontop=false] #titlebar-min ,
  #main-window:not(:-moz-lwtheme):not([tabsintitlebar])[sizemode="maximized"][tabsontop=false] #titlebar-min  {
    -moz-appearance: none !important;
    background: none !important;
  }
  #main-window:not([tabsalwaysintitlebar]):not(:-moz-lwtheme):not([tabsintitlebar])[sizemode="normal"][tabsontop=true] #titlebar-max ,
  #main-window:not(:-moz-lwtheme):not([tabsintitlebar])[sizemode="normal"][tabsontop=false] #titlebar-max ,
  #main-window:not(:-moz-lwtheme):not([tabsintitlebar])[sizemode="maximized"][tabsontop=false] #titlebar-max  {
    -moz-appearance: none !important;
    background: none !important;
  }
  #main-window:not([tabsalwaysintitlebar]):not(:-moz-lwtheme):not([tabsintitlebar])[sizemode="normal"][tabsontop=true] #titlebar-close ,
  #main-window:not(:-moz-lwtheme):not([tabsintitlebar])[sizemode="normal"][tabsontop=false] #titlebar-close ,
  #main-window:not(:-moz-lwtheme):not([tabsintitlebar])[sizemode="maximized"][tabsontop=false] #titlebar-close {
    -moz-appearance: none !important;
    background: none !important;
  }

  #main-window[sizemode="normal"] > #titlebar {
    -moz-appearance: none !important;
    background: none !important;
    border: none !important;
  }	

  #main-window[tabsontop=false][sizemode="normal"] > #titlebar {
    height: 30px !important;
  }

  /* Tabsintitlebar aero */

  #main-window[tabsintitlebar]:not([inFullscreen]) #navigator-toolbox {
    margin-top: 27px !important;
  }

  #main-window[tabsintitlebar]:not([inFullscreen]) #TabsToolbar {
    background: none !important;
    margin-top: -27px !important;
  }

  #main-window[tabsintitlebar]:not([inFullscreen]):not(:-moz-lwtheme) {
    -moz-appearance:-moz-win-borderless-glass !important;
    background: transparent !important;
  }

  #main-window[tabsintitlebar] #titlebar-content:not(:-moz-lwtheme) {   /* Compatibility with Firefox UX: tabsintitlebar = tabsintitlebar + tabsontop */
    background-color: transparent !important;
  }

  #main-window[tabsintitlebar]:not([inFullscreen]):not(:-moz-lwtheme) #titlebar-min,
  #main-window[tabsintitlebar]:not([inFullscreen]):not(:-moz-lwtheme) #titlebar-max,
  #main-window[tabsintitlebar]:not([inFullscreen]):not(:-moz-lwtheme) #titlebar-close {
    -moz-appearance: none !important;
    background: none !important;
  }

  #main-window[tabsintitlebar]:not([inFullscreen]) #titlebar {
    -moz-appearance: none !important;
    background: none !important;
    border: none !important;
  }	

  #main-window[tabsintitlebar]:not([inFullscreen]):not(:-moz-lwtheme)  #TabsToolbar:not([treestyletab-mode="vertical"]):not([orient="vertical"]) {
    padding-inline-end: 30px !important;
  }

}

#main-window[tabsontop=false] #personal-titlebar,
#main-window[sizemode="normal"] #personal-titlebar {
  padding-right: 35px !important;
}

@media not all and (-moz-windows-compositor) {

  /* not(Tabsintitlebar) XP & classic */

  #main-window:not(:-moz-lwtheme)[sizemode="normal"] > #titlebar {
    -moz-appearance: -moz-window-titlebar !important;
    height: 28px !important;
  }

  #main-window:not(:-moz-lwtheme)[sizemode="maximized"][tabsontop=false] > #titlebar {
    -moz-appearance: -moz-window-titlebar-maximized !important;
  }

  #main-window:not(:-moz-lwtheme):not([tabsintitlebar]) #titlebar-buttonbox {
    margin-top: 0px !important;
  }

  #main-window:not(:-moz-lwtheme)[tabsalwaysintitlebar][tabsontop=true][sizemode="normal"] #titlebar-buttonbox {
      -moz-appearance: -moz-window-button-box !important;
  }

  #main-window:not(:-moz-lwtheme):not([tabsintitlebar])[sizemode="maximized"] {
      margin-top: -3px !important;
  }

  #main-window:not(:-moz-lwtheme):not([tabsintitlebar]) #titlebar-min {
    -moz-appearance: -moz-window-button-minimize !important;
    height:16px !important;
  }

  #main-window:not(:-moz-lwtheme):not([tabsintitlebar]) #titlebar-max {
    -moz-appearance: -moz-window-button-maximize !important;
    height:16px !important;
  }

  #main-window[sizemode="maximized"]:not(:-moz-lwtheme):not([tabsintitlebar]) #titlebar-max {
    -moz-appearance: -moz-window-button-restore !important;
    height:16px !important;
  }

  #main-window:not(:-moz-lwtheme):not([tabsintitlebar]) #titlebar-close {
    -moz-appearance: -moz-window-button-close !important;
    height:16px !important;
  }

  #main-window:not(:-moz-lwtheme)[sizemode="maximized"][tabsontop=false] > #titlebar > #titlebar-content > #appmenu-button-container {
    margin-top: 0px !important;
  }
    
  #main-window:not(:-moz-lwtheme):not([tabsintitlebar])[sizemode="maximized"][tabsontop=true] #appmenu-button {
    margin-top:-1px !important;
  }

  #main-window:not(:-moz-lwtheme):not([sizemode="maximized"])[tabsontop=true] > #titlebar > #titlebar-content > #appmenu-button-container {
    margin-top: -2px !important;
  }
    
  #main-window:not(:-moz-lwtheme):not([sizemode="maximized"])[tabsontop=false] > #titlebar > #titlebar-content > #appmenu-button-container {
    margin-top: -2px !important;
  }

  /* Tabsintitlebar XP & classic */

  #main-window[tabsintitlebar]:not([inFullscreen]) #titlebar {
    -moz-appearance: -moz-window-titlebar !important;
    background: none !important;
    border: none !important;
  }

  #main-window[tabsintitlebar]:not([inFullscreen]) #navigator-toolbox {
    margin-top: 25px !important;
  }

  #main-window[tabsintitlebar]:not([inFullscreen]) #TabsToolbar {
    background: none !important;
    margin-top: -27px !important;
  }

  #main-window:not(:-moz-lwtheme)[tabsintitlebar]:not([inFullscreen]) #titlebar-min {
    -moz-appearance: -moz-window-button-minimize !important;
    height:16px !important;
  }

  #main-window:not(:-moz-lwtheme)[tabsintitlebar]:not([inFullscreen]) #titlebar-max {
    -moz-appearance: -moz-window-button-maximize !important;
    height:16px !important;
  }

  #main-window[sizemode="maximized"]:not(:-moz-lwtheme)[tabsintitlebar]:not([inFullscreen]) #titlebar-max {
    -moz-appearance: -moz-window-button-restore !important;
    height:16px !important;
  }

  #main-window:not(:-moz-lwtheme)[tabsintitlebar]:not([inFullscreen]) #titlebar-close {
    -moz-appearance: -moz-window-button-close !important;
    height:16px !important;
  }

  #main-window[tabsintitlebar]:not([inFullscreen]) #appmenu-button-container {
    padding-top: 12px !important;
  }
}

/* Classic */

@media all and (-moz-windows-classic) {
  #main-window[tabsintitlebar] #appmenu-button-container {
    margin-bottom: 3px !important;
  }
}
