tabbox > tabs > tab:first-of-type {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

tabbox > tabs > tab:last-of-type {
  border-right: 1px solid #444444;
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.nftabsmain ,
.nftabsmain:first-of-type ,
.nftabsmain:last-of-type {
  border-radius: 5px !important;
} 

#foxyproxy-global-tab {
  border-right: 1px solid !important;
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

#foxyproxy-quickadd-tab {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  margin-left: 5px !important;
}

/* No rounded tab for these tabs */

#folderPropTabBox tab,
#abTabs tab,
#reminderFoxNetworkTab tab,
.uncram-tab,
#tabviewers  tab {
  border: 1px solid #444444 !important;
  border-left: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

#folderPropTabBox tab:first-of-type:-moz-locale-dir(ltr), 
#folderPropTabBox tab:last-of-type:-moz-locale-dir(rtl),
#abTabs tab:first-of-type:-moz-locale-dir(ltr),
#abTabs tab:last-of-type:-moz-locale-dir(rtl),
#reminderFoxNetworkTab tab:first-of-type:-moz-locale-dir(ltr),
#reminderFoxNetworkTab tab:last-of-type:-moz-locale-dir(rtl),
.uncram-tab:first-of-type:-moz-locale-dir(ltr),
.uncram-tab:last-of-type:-moz-locale-dir(rtl),
#tabviewers  tab:first-of-type:-moz-locale-dir(ltr),
#tabviewers  tab:last-of-type:-moz-locale-dir(rtl) {
  border-left: 1px solid #444444 !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
