@import url(chrome://global/content/aboutMemory.css);

html {
  height: 100%;
  background: url(chrome://browser/skin/icons/box-background.png) repeat-x bottom fixed #cdced3;
}

body {
  color: #000;
  margin: 4em;
  padding: 1em;
  border: 1px solid #808080;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #404040;
}

h1 {
  text-align: center;
  margin: 0 0 .6em;
  font-size: 220%;
  text-shadow: 1px 1px 1px #aaa;
}

.memBox {
  margin: 20px auto;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.memOther table {
  font-size: 120%;
}

abbr {
  border-bottom: 0;
}