body {
  display: table;
}

table {
  table-layout: fixed;
  width: 100%;
  color: #000;
  margin-bottom: 1em;
  border: 1px solid #000;
  border-top: 1px solid #808080;
  border-spacing: 0;
  border-radius: 5px;
  background: #f0f0f0;
}

th, td {
  padding: 3px;
}

th {
  width: 12em;
  word-wrap: break-word;
  vertical-align: top;
  text-align: right;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #808080;
  background: #1f9afd;
}

td {
  display: block;
  white-space: pre-wrap;
  border: 0;
  border-bottom: 1px dotted #808080;
}

th + th,
td + td {
  border-left: 1px dotted #808080;
}

thead > th,
tr:last-child th,
tr:last-child td {
  border-bottom: 0;
}

#td-key {
  word-wrap: break-word;
}

pre {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #f0f0f0;
}

a {
  color: #1f9afd;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: #62d;
}

a:hover {
  color: #00f;
}

a:hover:active {
  color: #f00;
}

hr {
  display: none;
}