@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@namespace html url(http://www.w3.org/1999/xhtml);

/* autocomplete */
textbox {
  cursor: default;
}

textbox[nomatch=true][highlightnonmatches=true] {
  color: #f00;
}

textbox:not(.padded) {
  padding: 0;
}

.textbox-input-box {
  margin: 0;
  padding:0;
  -moz-box-align: center;
}

/* autocomplete popups */
panel[type="autocomplete"],
panel[type="autocomplete-richlistbox"],
.autocomplete-history-popup,
panel[type="private-autocomplete"],
panel[type="private-autocomplete-richlistbox"],
.private-autocomplete-history-popup {
  -moz-appearance: none;
  padding: 0;
  margin-top: -1px;
  -moz-border-top-colors: #808080;
  -moz-border-right-colors: #808080;
  -moz-border-bottom-colors: #808080;
  -moz-border-left-colors: #808080;
  background-color: #f8f8f8;
}

.autocomplete-history-popup,
.private-autocomplete-history-popup {
  max-height: 180px;
}

/* Dropmarker */

.autocomplete-history-dropmarker,
.private-autocomplete-history-dropmarker {
  -moz-box-align: center;
  padding: 2px 3px 0 0;
  list-style-image: url(chrome://browser/skin/icons/url_dropmarker.png);
  -moz-image-region: rect(0 16px 16px 0);
}

.autocomplete-history-dropmarker:hover,
.autocomplete-history-dropmarker[open="true"],
.private-autocomplete-history-dropmarker:hover,
.private-autocomplete-history-dropmarker[open="true"] {
  -moz-image-region: rect(16px 16px 32px 0);
}

/* tree */
.autocomplete-tree,
.private-autocomplete-tree {
  -moz-appearance: none !important;
  border: 0 !important;
  background-color: transparent !important;
}

.autocomplete-treecol,
.private-autocomplete-treecol {
  margin: 0 !important;
  border: none !important;
  padding: 0 !important;
}

/* GTK calculates space for a sort arrow */
.autocomplete-treecol > .treecol-sortdirection,
.private-autocomplete-treecol > .treecol-sortdirection {
  -moz-appearance: none !important;
}

.autocomplete-treebody::-moz-tree-cell-text,
.private-autocomplete-treebody::-moz-tree-cell-text {
  padding-inline-start: 8px;
}

.autocomplete-treebody::-moz-tree-image(treecolAutoCompleteValue),
.private-autocomplete-treebody::-moz-tree-image(treecolAutoCompleteValue) {
  max-width: 16px;
  height:16px;
}

treechildren.autocomplete-treebody::-moz-tree-row(hover),
treechildren.private-autocomplete-treebody::-moz-tree-row(hover) {
  border: 1px solid transparent;
  background: none;
}

treechildren.autocomplete-treebody::-moz-tree-row(selected),
treechildren.autocomplete-treebody::-moz-tree-row(hover, focus),
treechildren.private-autocomplete-treebody::-moz-tree-row(selected),
treechildren.private-autocomplete-treebody::-moz-tree-row(hover, focus) {
  border: 1px solid #78C1FE;
  background: url(chrome://browser/skin/icons/tree-hover.png) repeat-x center;
}

treechildren.autocomplete-treebody::-moz-tree-cell-text(selected),
treechildren.private-autocomplete-treebody::-moz-tree-cell-text(selected) {
  color: #000000;
}

/* richlistbox autocomplete */
.autocomplete-richlistbox,
.private-autocomplete-richlistbox {
  -moz-appearance: none;
  margin: 0;
  border: 0 !important;
}

.autocomplete-richlistitem,
.private-autocomplete-richlistitem {
  padding: 1px;
}

.ac-title-box {
  margin-top: 4px;
}

.ac-url-box {
  margin: 1px 0 4px;
}

.autocomplete-richlistitem:hover,
.private-autocomplete-richlistitem:hover {
  background-color: transparent;
  border: 1px solid transparent;
}
  
.autocomplete-richlistitem[selected="true"],
.private-autocomplete-richlistitem[selected="true"] {
  border : 1px solid transparent;
  color: inherit;
  background-image: none;
  background-color: #E6EDF6;
  background-clip: content-box;
  border-radius: 6px;
  outline: 1px solid #B8D6FB;
  -moz-outline-radius: 6px;
  outline-offset: -2px;
}

.ac-site-icon {
  width: 16px;
  height: 16px;
  margin: 5px 12px -7px 5px;
}

.ac-type-icon {
  width: 16px;
  height: 16px;
  margin: 5px 0 -7px;
}

.ac-url-box > .ac-site-icon,
.ac-url-box > .ac-type-icon {
  /* Otherwise the spacer is big enough to stretch its container */
  height: auto;
}

.ac-extra > .ac-result-type-tag {
  margin: 0 4px;
}

.ac-extra > .ac-comment {
  padding-right: 4px;
}

.ac-ellipsis-after {
  margin: 0 !important;
  padding: 0;
  min-width: 1em;
}

.ac-normal-text {
  margin: 0 !important;
  padding: 0;
}

.ac-normal-text > html|span {
  margin: 0 !important;
  padding: 0;
}

html|span.ac-emphasize-text {
  box-shadow: inset 0 0 1px 1px rgba(208,208,208,0.5);
  background-color: rgba(208,208,208,0.3);
  border-radius: 2px;
  text-shadow: 0 0 currentColor;
}

html|span.ac-emphasize-alt {
  text-decoration: underline;
}

.ac-title, .ac-url {
  overflow: hidden;
}

.autocomplete-richlistitem[type="tag"] > hbox > .ac-title,
.private-autocomplete-richlistitem[type="tag"] > hbox > .ac-title {
 color: #0acf00;
}

/* textboxes inside toolbarpaletteitems */
toolbarpaletteitem > toolbaritem > textbox > hbox > hbox > html|*.textbox-input,
toolbarpaletteitem > toolbaritem > * > textbox > hbox > hbox > html|*.textbox-input {
  visibility: hidden;
}