@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* colorpicker button */

colorpicker[type="button"] {
  width: 38px;
  height: 24px;
  border: 2px solid;
  -moz-border-top-colors: #D4D0C8 #FFFFFF;
  -moz-border-right-colors: #404040 #808080;
  -moz-border-bottom-colors: #404040 #808080;
  -moz-border-left-colors: #D4D0C8 #FFFFFF;
  background-color: #D4D0C8;
  padding: 3px;
}

.colorpicker-button-colorbox {
  border: 1px solid #000000;
}

colorpicker[type="button"]:focus {
  -moz-border-top-colors: #404040 #FFFFFF;
  -moz-border-right-colors: #404040 #808080;
  -moz-border-bottom-colors: #404040 #808080;
  -moz-border-left-colors: #404040 #FFFFFF;
}

colorpicker[type="button"][open="true"] {
  -moz-border-top-colors: #404040 #808080;
  -moz-border-right-colors: #404040 #808080;
  -moz-border-bottom-colors: #404040 #808080;
  -moz-border-left-colors: #404040 #808080;
}

/* ::::: colorpicker tiles ::::: */

.colorpickertile {
  width: 20px;
  height: 20px;
  margin: 1px;
  border-left: 1px solid #808080;
  border-top: 1px solid #808080;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.colorpickertile[selected="true"] {
  border : 2px outset #C0C0C0;
}

.colorpickertile[hover="true"] {
  border : 2px dotted #FFFFFF;
}

.cp-light[hover="true"] {
  border : 2px dotted #909090;
}