@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

colorpicker[type="button"] {
  width: 38px;
  height: 24px;
  border: 2px solid;
  border-radius: 5px;
  -moz-border-top-colors: #d4d0c8 #fff;
  -moz-border-right-colors: #404040 #808080;
  -moz-border-bottom-colors: #404040 #808080;
  -moz-border-left-colors: #d4d0c8 #fff;
  background-color: #d4d0c8;
  padding: 3px;
}

.colorpicker-button-colorbox {
  border: 1px solid #000;
  border-radius: 2px;
}

colorpicker[type="button"]:focus {
  -moz-border-top-colors: #404040 #fff;
  -moz-border-right-colors: #404040 #808080;
  -moz-border-bottom-colors: #404040 #808080;
  -moz-border-left-colors: #404040 #fff;
}

colorpicker[type="button"][open=true] {
  -moz-border-top-colors: #404040 #808080;
  -moz-border-right-colors: #404040 #808080;
  -moz-border-bottom-colors: #404040 #808080;
  -moz-border-left-colors: #404040 #808080;
}

colorpicker[disabled="true"] {
  opacity: .4;
}

/* colorpicker tiles */
.colorpickertile {
  width: 20px;
  height: 20px;
  margin: 1px;
  border-left: 1px solid #808080;
  border-top: 1px solid #808080;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.colorpickertile[selected="true"] {
  border: 2px solid #fff;
}

.cp-light[selected="true"] {
  border: 2px solid #000;
}

.colorpickertile[hover=true] {
  border: 2px dotted #fff;
}

.cp-light[hover=true] {
  border : 2px dotted #909090;
}