@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: dialog ::::: */

dialog { 
  padding-top: 8px;
  padding-bottom: 10px;
  -moz-padding-start: 8px;
  -moz-padding-end: 10px;
}

/* ::::: dialog buttons ::::: */

.dialog-button {
  font: menu;
  margin-top: 6px;
}

/* ::::: dialog header ::::: */

dialogheader {
  margin: 0px 5px 5px 5px;
  border: 2px solid;
  -moz-border-top-colors: #808080 #404040;
  -moz-border-right-colors: #FFFFFF #404040;
  -moz-border-bottom-colors: #FFFFFF #404040;
  -moz-border-left-colors: #808080 #404040;
  padding: 5px 8px;
  background-image : url("chrome://browser/skin/icons/Caption-background.png") !important;
  background-color: #DADCE4;
  color: #000000;
}

.dialogheader-title {
  margin: 0px !important;
  letter-spacing: 10px !important;
  font-size: 14pt;
  font-weight: bold;
}

/* ::::: large dialog header ::::: */

.header-large {
  -moz-box-orient: vertical;
  margin: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  -moz-border-bottom-colors: #FFFFFF #808080;
  padding: 12px 5px 12px 25px;
  background-color: #DADCE4;
  color: #000000;
}

.header-large > .dialogheader-title {
  font: inherit;
  font-weight: bold;
}

.header-large > .dialogheader-description {
  margin-left: 12px !important;
}

/* Dialog Button strip */
.dialog-button-box {
  padding-bottom: 2px;
  padding-top: 5px; 
}

/*:::::::::: Alert Dialogs ::::::::::*/

#commonDialog{
  background: url("chrome://browser/skin/icons/alert-sidebar.png") repeat-y !important;
/*  padding: 10px 0px 0px 22px;*/
  background-color: #DEDEDE !important;
/*  min-width: 38em !important;*/
}