@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

treeitem[selected="true"] > treerow{
    background: transparent !important;
    border: none !important;
    color: #000000 !important;
}
  
treecell:hover{
    text-decoration: underline !important;
    color: #000080 !important;
    cursor: pointer;
}
  
treecell:hover:active {
    text-decoration: underline !important;
    color: red !important;
}