@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: listbox ::::: */

listbox {
  margin: 2px 4px;
  border: 2px solid;
  -moz-border-top-colors: #808080 #404040;
  -moz-border-right-colors: #FFFFFF #D4D0C8;
  -moz-border-bottom-colors: #FFFFFF #D4D0C8;
  -moz-border-left-colors: #808080 #404040;
  background-color: #FFFFFF;
  color: #000000;
}

/* ::::: listitem ::::: */

listitem {
  border: 1px solid transparent;
}

listbox:focus > listitem[selected="true"][current="true"] {
  border: 1px solid transparent;
}

listitem[selected="true"] {
  background: url("chrome://browser/skin/icons/Bookmark-background2.png") repeat-x !important;
  background-position: center center !important;    
  color: #000000;
}

listbox:focus > listitem[selected="true"] {
  background: url("chrome://browser/skin/icons/Bookmark-background.png") repeat-x !important;
  background-position: center center !important;    
  color: #FFFFFF;
}

/* ::::: listheader ::::: */

listheader { 
  -moz-appearance: treeheadercell;
  -moz-box-align: center;
  border: 2px solid;
  -moz-border-top-colors: #FFFFFF #D4D0C8;
  -moz-border-right-colors: #404040 #808080;
  -moz-border-bottom-colors: #404040 #808080;
  -moz-border-left-colors: #FFFFFF #D4D0C8;
  background-color: #DADCE4;
  color: #000000;
  padding: 0 4px;
}

listheader[sortable="true"]:hover:active {
  border-top: 2px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 2px solid;
  -moz-border-top-colors: #808080 #D4D0C8;
  -moz-border-right-colors: #808080;
  -moz-border-bottom-colors: #808080;
  -moz-border-left-colors: #808080 #D4D0C8;
  padding: 1px 4px 0 5px;
}

.listheader-icon {
  margin-right: 2px;
}

.listheader-label {
  margin: 0px !important;
}

/* ..... sort direction icon ..... */

.listheader-sortdirection {
  list-style-image: none;
}

.listheader-sortdirection[sortDirection="ascending"] {
  list-style-image: url("chrome://global/skin/tree/sort-asc.gif");
}

.listheader-sortdirection[sortDirection="descending"] {
  list-style-image: url("chrome://global/skin/tree/sort-dsc.gif");
}

/* ::::: listcell ::::: */

.listcell-label {
  margin: 0px !important;
  padding: 0px 0px 1px 4px;
  white-space: nowrap;
}

.listcell-icon {
  margin-right: 2px;
}

.listcell-label[disabled="true"] {
  color: #808080;
}

/* ::::: listcell checkbox ::::: */

.listcell-check {
  width:18px;
  height:18px;
  background: url("chrome://global/skin/checkbox/checkbox.png") no-repeat;
  list-style-image: none !important;
}

.listcell-check[checked="true"] {
  background: url("chrome://global/skin/checkbox/checkbox-checked.png") no-repeat;
}

.listcell-check[disabled="true"] {
  opacity:0.3;
  background: url("chrome://global/skin/checkbox/checkbox.png") no-repeat;

}

.listcell-check[disabled="true"][checked="true"] {
  opacity:0.3;
  background: url("chrome://global/skin/checkbox/checkbox-checked.png") no-repeat;
}