@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@namespace html url(http://www.w3.org/1999/xhtml);

menulist {
  -moz-appearance: none;
  padding-inline-end : 2px;
  background-color:#f8f8f8;
  color: #000000;
  border: 1px solid;
  -moz-border-top-colors: #909090;
  -moz-border-right-colors: #909090;
  -moz-border-bottom-colors: #b0b0b0;
  -moz-border-left-colors: #909090;
  border-radius: 9.5pt;
  margin: 2px 4px;
  min-height: 20px;
}

menulist[disabled="true"] {
  color: #aaaaaa;
  border: 1px solid #bebebe;
}

.menulist-label-box {
  -moz-box-align: center;
  -moz-box-pack: center;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 1px;
  margin-inline-start: 4px;
}

.menulist-label {
  margin-top: 0 !important;
  margin-inline-end: 0 !important;
  margin-bottom: 0 !important;
}

menulist:focus:not([open="true"]):not(.menulist-compact) > .menulist-label-box > .menulist-label {
  outline: 1px dotted;
}

.menulist-description {
  font-style: italic;
  color: inherit;
  margin-inline-start: 1ex !important;
}

.menulist-dropmarker {
  width: 18px;
  -moz-box-align: center;
  -moz-box-pack: center;
  list-style-image:url(chrome://browser/skin/url_dropmarker.png);
  -moz-image-region: rect(0px 16px 16px 0px);
  padding: 1px 0 1px 2px;
}

menulist[open] > .menulist-dropmarker {
  -moz-image-region: rect(16px 16px 32px 0);
}

menulist[disabled="true"] > .menulist-dropmarker {
  opacity: .5;
}

menulist:not([disabled="true"]):hover .menulist-dropmarker{
  -moz-image-region: rect(16px 16px 32px 0) !important;
}

/* editable menulists */

menulist[editable="true"][focused="true"]   {
  border: 1px solid #60B4E0;
  background-color: white;
}

.menulist-editable-box {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-inline-start: 8px;
  padding-inline-end: 0px;
}

html|*.menulist-editable-input {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background: inherit;
  font: inherit;
  color : inherit;
}
