@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@namespace html url(http://www.w3.org/1999/xhtml);

/* Fixes */
#CustomizeToolbarWindow  menulist {
	width: 150px !important;
}/*
#panePrivacy menulist,#paneMain menulist{
	width: 350px !important;
}
/* fixes end*/

menulist:not(.menulist-editable-input ) {
  color: #000;
  margin: 1px 3px;
  padding: 1px 2px;
  border: 1px solid #000;
  -moz-border-top-colors: #404040 #fff;
  -moz-border-right-colors: #404040 #808080;
  -moz-border-bottom-colors: #404040 #808080;
  -moz-border-left-colors: #404040 #fff;
  border-radius: 50px;
  background: url(chrome://global/skin/button/body.png) repeat-x top left #fafafb;
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.4) !important;
}

menulist:focus {
  -moz-border-top-colors: #404040 #fff;
  -moz-border-right-colors: #404040 #02a1fe;
  -moz-border-bottom-colors: #404040 #02a1fe;
  -moz-border-left-colors: #404040 #fff;
  background: url(chrome://global/skin/button/body-active.png) repeat-x top left #c6feff;
}

menulist[default] {
  -moz-border-top-colors: #404040 #6c6cfa;
  -moz-border-right-colors: #404040 #1c1cca;
  -moz-border-bottom-colors: #404040 #1c1cca;
  -moz-border-left-colors: #404040 #6c6cfa;
  background: url(chrome://global/skin/button/body-active.png) repeat-x top left #c5ebf9;
}

menulist:hover {
  background: url(chrome://global/skin/button/body-hover.png) repeat-x top left #b8e9fe;
}

menulist[open] {
  color: #fff;
  -moz-border-top-colors: #404040 #808080;
  -moz-border-right-colors: #404040 #fff;
  -moz-border-bottom-colors: #404040 #fff;
  -moz-border-left-colors: #404040 #808080;
  background: url(chrome://global/skin/button/body-active.png) repeat-x top left #c5ebf9;
}

menulist[disabled=true] {
  color: #d4d0c8;
  -moz-border-top-colors: #808080 #fff !important;
  -moz-border-right-colors: #808080 #fff !important;
  -moz-border-bottom-colors: #808080 #fff !important;
  -moz-border-left-colors: #808080 #fff !important;
  background: url(chrome://global/skin/button/body-disabled.png) repeat-x top left #fafafb !important;
}

.menulist-label-box {
	font-weight: bold;
	min-width: 60px !important;
}

.menulist-icon {
  max-height: 16px;
  margin: 1px 0;
  padding: 0 2px;
}

.menulist-dropmarker {
  width: 18px;
  padding: 1px 0 1px 2px;
  list-style-image:url(chrome://browser/skin/icons/url_dropmarker.png);
  -moz-image-region: rect(0 16px 16px 0);
}

.dropmarker-icon {
  max-height: 16px;
}

menulist[open] > .menulist-dropmarker {
  -moz-image-region: rect(16px 16px 32px 0);
}

menulist[disabled=true] > .menulist-dropmarker {
  opacity: .5;
}

/* editable menulists */
menulist[editable=true] {
  padding: 3px;
}

html|*.menulist-editable-input {
  font: inherit;
  margin: 0 3px 0 0;
  padding: 0 2px;
  border: 0;
  font-weight:bold;
  border-radius: 2px;
  background-color: transparent;
}

/* compact menulists */
.menulist-compact {
  -moz-box-align: center;
  -moz-box-pack: center;
  max-height: 18px;
  margin: 0;
  padding: 0;
  border-radius: 2px;
}

.menulist-compact > .menulist-label {
  text-align: left;
  margin: -1px 3px 1px !important;
}

.menulist-compact > .menulist-dropmarker {
  margin: -1px 0 0 2px;
  padding: 0;
  list-style-image:url('chrome://browser/skin/icons/dropmarker.png');
  -moz-image-region: rect(0 10px 10px 0);
}

.menulist-compact[open] > .menulist-dropmarker {
  -moz-image-region: rect(10px 10px 20px 0);
}