@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#SignonViewerDialog {
  background: #dadce4;
}

.contentPane {
  margin: 9px 8px 5px 8px;
}

.actionButtons {
  margin: 0px 3px 6px 3px !important;
}

treechildren::-moz-tree-image(siteCol) {
  list-style-image: url(chrome://mozapps/skin/places/defaultFavicon.png);
  width: 16px;
  height: 16px;
  -moz-margin-end: 5px;
}
