.home-arrow {
  list-style-image: url(chrome://global/skin/icons/start.png);
}

.end-arrow {
  list-style-image: url(chrome://global/skin/icons/finish.png);
}

.previous-arrow, .left-arrow {
  list-style-image: url(chrome://browser/skin/icons/arrow-left.png);
}

.next-arrow, .right-arrow {
  list-style-image: url(chrome://browser/skin/icons/arrow-right.png);
}

.up-arrow {
  list-style-image: url(chrome://global/skin/arrow/arrow-up-sharp.gif);
}

.down-arrow {
  list-style-image: url(chrome://global/skin/arrow/arrow-dn-sharp.gif);
}

.home-arrow:hover, .end-arrow:hover, .previous-arrow:hover, .left-arrow:hover,
.next-arrow:hover, .right-arrow:hover, .up-arrow:hover , .down-arrow:hover{
	opacity:.7 !important;
} 

#scale {
  min-width: 200px;
}

.toolbar-portrait-page,
.toolbar-landscape-page {
  -moz-box-pack:center;
  -moz-box-align:center;
  font-family: arial, sans-serif;
  font-weight: bold;
  color: #000;
  margin: 1px 3px;
  padding: 4px 8px 4px 8px;
  border: 1px solid;
  -moz-border-top-colors: #404040 #fff;
  -moz-border-right-colors: #404040 #808080;
  -moz-border-bottom-colors: #404040 #808080;
  -moz-border-left-colors: #404040 #fff;
  border-radius: 50px;
  background: url(chrome://global/skin/button/body.png) repeat-x top left #fafafb;
}

.toolbar-portrait-page {
  list-style-image: url(chrome://global/skin/icons/Portrait-small.png);
}

.toolbar-landscape-page {
  list-style-image: url(chrome://global/skin/icons/Landscape-small.png);
}

.toolbar-portrait-page:not([checked=true]),
.toolbar-landscape-page:not([checked=true]) {
  -moz-border-top-colors: transparent;
  -moz-border-right-colors: transparent;
  -moz-border-bottom-colors: transparent;
  -moz-border-left-colors: transparent;
  background: transparent;
}