@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: progressmeter ::::: */

progressmeter {
  height: 14px;
  background:url("chrome://global/skin/progressmeter/background.png") repeat-x left center;
}

progressmeter[mode="undetermined"] {
  background: url("chrome://global/skin/progressmeter/busy.gif") repeat-x 0% 50%;
}

.progress-bar {
  background:url("chrome://global/skin/progressmeter/progress.gif") repeat-x left center;
}

.progress-remainder{
}

/* ::::: statusbar progressmeter ::::: */

.progressmeter-statusbar {
  margin: 0;
  border: 0px;
  min-width: 96px;
}