@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: radio ::::: */

radio {
  -moz-box-align: center;
  margin: 2px 4px;
  padding: 1px 2px 1px 4px;
}

.radio-label-box {
  margin-left: 2px;
  border: 1px solid transparent;
  padding: 0px 0px 1px 1px;
}

.radio-icon {
  margin-right: 2px;
}

.radio-label {
  margin: 0 !important;
}

/* radio box*/
.radio-check-box1 {
  list-style-image:url("chrome://global/skin/radio/radio.png");
}


/* ..... focused state ..... */

radio[focused="true"] .radio-label-box{
  border: 1px dotted #66C3F0;	
  /*border-radius:50%;*/
}

radio[focused="true"] .radio-check-box1 {
  list-style-image: url("chrome://global/skin/radio/radio-focus.png");
}

radio[selected="true"][focused="true"] .radio-check-box1 {
  list-style-image: url("chrome://global/skin/radio/radio-checked-focus.png");
}


/* ::::: pressed image ::::: */

radio:active .radio-check-box1 {
  list-style-image:url("chrome://global/skin/radio/radio-active.png");
}

radio[selected="true"]:active .radio-check-box1 {
  list-style-image:url("chrome://global/skin/radio/radio-checked-active.png");
}


/* ..... selected state ..... */

radio[selected="true"] .radio-check-box1 {
  list-style-image: url("chrome://global/skin/radio/radio-checked.png");
}


/* ..... hover state ..... */

radio:not([disabled="true"]):hover .radio-check-box1 {
  list-style-image:url("chrome://global/skin/radio/radio-active.png") !important;
}

radio[selected="true"]:not([disabled="true"]):hover .radio-check-box1 {
  list-style-image:url("chrome://global/skin/radio/radio-checked-active.png") !important;
}


/* ..... disabled state ..... */
radio[disabled="true"] {
  opacity: 0.4;
  color: #785130;
}

radio[disabled="true"] .radio-check-box1 {
  list-style-image: url("chrome://global/skin/radio/radio.png");
}

radio[selected="true"][disabled="true"] .radio-check-box1 {
  list-style-image: url("chrome://global/skin/radio/radio-checked.png");
}