tabmodalprompt {
  background-color: rgba(0,0,0,.35);
}



.mainContainer {
  color: black;
  border: 1px solid #000;
  border-radius: 5px;
  background : linear-gradient(to right,#AEB0BA,#DDDFE3);
  box-shadow: 5px 5px 5px #404040;
}

.topContainer {
  padding: 20px 20px 10px 50px;
  background: url(chrome://browser/skin/icons/alert-message.png) 10px center no-repeat;
}

.buttonContainer {
  padding: 3px;
  border-top: 2px groove #d4d0c8;
  border-radius: 0 0 5px 5px;
  background : linear-gradient(to right,#AEB0BA,#DDDFE3);
}

.buttonContainer > button {
  min-width: 4em;
}