@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* ::::: textbox ::::: */
textbox {
  cursor: text;
  margin: 2px 4px;
  border: 1px solid;
  -moz-border-top-colors: #D1D3E6;
  -moz-border-bottom-colors: #C0BFD5;
  -moz-border-right-colors: #D1D3E6;
  border-left-width: 2px;
  -moz-border-left-colors: #D1D3E6 #FFFFFF;
  padding: 1px 2px 1px 2px;
  background:url("chrome://global/skin/textbox/textbox-body.png") repeat-x #FFFFFF;
  color: #000000;
  border-radius: 10px;
}

textbox[isempty="true"] {
  color: #808080;
}

textbox[focused="true"]{
border: 1px solid;
-moz-border-top-colors: #4EBCEB;
-moz-border-bottom-colors: #4EB0EB;
-moz-border-right-colors: #4EBCEB;
border-left-width:2px;
-moz-border-left-colors: #4EB0EB #FFFFFF;
}

html|*.textbox-input, 
html|*.textbox-textarea {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background-color: inherit;
  color: inherit;
  font: inherit;
}

/* ..... readonly state ..... */
textbox[readonly="true"] {
  background: #DADCE4;
  border:none;
}

textbox[readonly="true"][disabled="true"] {
  opacity: 0.5 !important;
}

/* make read-only text-boxes in groupsboxes lighter*/
groupbox textbox[readonly="true"] {
  background:  #E6E7F4;
  border: none;
}

/* ..... disabled state ..... */
textbox[disabled="true"] {
  opacity: 0.4 !important;
  cursor: default;
  background-color: #DADCE4;
  color: #808080;
} 

/* ::::: plain textbox ::::: */
textbox.plain {
  -moz-appearance: none !important;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  background-color: #DADCE4 !important;
}

/* ::::: search textbox ::::: */
.textbox-search-icon {
  list-style-image: url(chrome://browser/skin/Search.png);
  -moz-image-region: rect(0, 16px, 16px, 0);
}

.textbox-search-icon[searchbutton]:not([disabled]) {
  cursor: pointer;
}

.textbox-search-clear {
  list-style-image: url(chrome://browser/skin/icons/close.png);
  -moz-image-region: rect(0, 16px, 16px, 0);
}

.textbox-search-clear:not([disabled]) {
  cursor: default;
}

.textbox-search-clear:not([disabled]):hover  {
  list-style-image: url(chrome://browser/skin/icons/closeX.png);
  -moz-image-region: rect(0, 16px, 16px, 0);
}
.textbox-search-icon[searchbutton]:not([disabled]):hover {
  list-style-image: url(chrome://browser/skin/Search.png);
  -moz-image-region: rect(0, 32px, 16px, 16px);
}


.textbox-search-clear:not([disabled]):hover:active {
  list-style-image: url(chrome://browser/skin/icons/close.png);
  -moz-image-region: rect(0, 16px, 16px, 0);
}
.textbox-search-icon[searchbutton]:not([disabled]):hover:active {
  list-style-image: url(chrome://browser/skin/Search.png);
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

/* ::::: textboxes inside toolbarpaletteitems ::::: */
toolbarpaletteitem > toolbaritem > textbox > .textbox-input-box > html|*.textbox-input {
  visibility: hidden;
}

textbox[isempty="true"]:-moz-system-metric(windows-default-theme) {
  font-style: italic;
}