@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: toolbox ::::: */
toolbox:not(:-moz-lwtheme):not(#vertical-toolbar):not(#aios-toolbar){
  /*background-image: url("chrome://browser/skin/icons/Tool-background2.png");*/
  background-image: linear-gradient(#989ca8, #fefffe);
}

toolbox:not(:-moz-lwtheme){
  -moz-appearance: none;
  background-color: #FFFFFF;
  border-left: 1px solid #808080;
  border-top: 1px solid #808080;
  border-right: 1px solid #FFFFFF;
}

/* ::::: toolbar & menubar ::::: */
toolbar,menubar {
  min-width: 1px;
  min-height: 19px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #808080;
}

menubar {
  -moz-box-align: center;
}

#toolbar-menubar {
  min-height: 23px !important;
}

toolbar[mode="icons"] .toolbarbutton-text {
  display: none;
}

toolbar[mode="text"] .toolbarbutton-icon {
  display: none;
}

toolbar[mode="text"] .toolbarbutton-text {
  padding: 0px !important;
  margin: 0px 3px !important;
  vertical-align: middle !important;  
}

/* ::::: toolbar decorations ::::: */

toolbarseparator {
  margin : 2px 0.2em;
  border-right : 1px solid #FFFFFF;
  border-left : 1px solid #808080;
  width : 2px;
}

toolbarpaletteitem[place="palette"] toolbarseparator {
  display: none;
}

toolbarspacer {
  width: 15px;
}

/* ::::: toolbarpaletteitem ::::: */
toolbarpaletteitem {
  cursor: -moz-grab;
}

.toolbarpaletteitem-box[type="spacer"],
.toolbarpaletteitem-box[type="spring"] {
  border: 1px solid #808080;
  background-color: transparent !important;
  -moz-box-align: stretch;
}

toolbarpaletteitem[place="toolbar"] {
  margin-left: -2px;
  margin-right: -2px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

toolbarpaletteitem[place="toolbar"] > toolbarspacer {
  width: 11px;
}

.toolbarpaletteitem-box[type="spacer"][place="toolbar"],
.toolbarpaletteitem-box[type="spring"][place="toolbar"] {
  margin-top: 2px;
  margin-bottom: 2px;
  -moz-margin-start: 0px;
  -moz-margin-end: 2px;
}

.toolbarpaletteitem-box[type="separator"][place="palette"] {
  background: url("chrome://global/skin/toolbar/separator-icon.png") no-repeat center;
  height: 32px;
  width: 2px;
  margin-bottom: 2px;
}

.toolbarpaletteitem-box[type="spacer"][place="palette"],
.toolbarpaletteitem-box[type="spring"][place="palette"] {
  margin-bottom: 2px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent !important;
}

.toolbarpaletteitem-box[type="spring"][place="palette"] {
  background: url("chrome://global/skin/toolbar/spring.png") no-repeat center;
}

.toolbarpaletteitem-box[type="spacer"][place="palette"] {
  background: url("chrome://global/skin/toolbar/space-icon.png") no-repeat center;
}

/* ..... drag and drop feedback ..... */
toolbarpaletteitem[dragover="left"] {
  border-left-color: #000000;
}

toolbarpaletteitem[dragover="right"] {
  border-right-color: #000000;
}