@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#AccountWizard {
  background: #dadce4;
}

#updates {
  min-width: 42em;
}

.wizard-header {
  color: #000;
  border-bottom: 2px groove #d4d0c8;
  background: url(chrome://browser/skin/icons/Tool-background.png) top left repeat-x #dadce4;
  background-size: auto 100%;
}

.wizard-header-box-1 {
  padding: 5px 0;
}

.wizard-header-icon {
  list-style-image: url(chrome://branding/content/icon64.png);
  margin-inline-end: 5px;
}

wizard[description=""] .wizard-header-description {
  display: none;
}

.wizard-header-label {
  padding-top: 15px;
  margin-left: 23px;
  font-weight: bold;
}

.wizard-header-description {
  margin-left: 44px;
}

.wizard-page-box {
  padding: 10px 25px;
}

#migrationWizard .wizard-page-box {
  padding: 20px 5px 0;
}

#migrationWizard #importItems {
  margin: 0 -5px;
}

.wizard-buttons {
  border-top: 2px groove #d4d0c8;
  background: url(chrome://browser/skin/icons/Tool-background2.png) top left repeat-x #dadce4;
  background-size: auto 100%;
}

.wizard-buttons-separator {
  display: none;
}

.wizard-buttons-box-2,
.wizard-buttons-btm {
  margin: 5px 10px;
}

.wizard-button[wizardbutton=finish],
.wizard-button[wizardbutton=next] {
  margin-left: -1px !important;
}

.wizard-button[wizardbutton=back] {
  margin-right: 0 !important;
}