@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

.tab-close-button,
#find-closebutton ,
.findbar-closebutton,
#addonbar-closebutton,
.messageCloseButton,
#abp-sidebar-close {
   list-style-image: url("chrome://browser/skin/icons/blue.png") !important;
   -moz-image-region: rect(0, 16px, 16px, 0) !important;
 }
 
 /* Thunderbird */
.ab-closebutton,
.closeConversationButton {
   list-style-image: url("chrome://browser/skin/icons/blue.png") !important;
   -moz-image-region: rect(0, 16px, 16px, 0) !important;
}
 
.ab-closebutton:hover,
.closeConversationButton:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
}

.ab-closebutton:hover:active,
.closeConversationButton:hover:active {
  -moz-image-region: rect(0 48px 16px 32px) !important;
}
 
 /* */

.tabs-closebutton {
   list-style-image: url("chrome://browser/skin/icons/tabs-blue.png") !important;
   -moz-image-region: rect(0, 14px, 14px, 0) !important;
 }

tab[selected="true"] .tab-close-button, 
tab:hover .tab-close-button, 
#find-closebutton,
.findbar-closebutton,
#addonbar-closebutton,
.messageCloseButton,
#abp-sidebar-close {
  -moz-image-region: rect(0, 16px, 16px, 0) !important;
}

tab .tab-close-button:hover, 
#find-closebutton:hover,
.findbar-closebutton:hover,
#addonbar-closebutton:hover,
.messageCloseButton:hover,
#abp-sidebar-close:hover
 {
  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
}

.tabs-closebutton:hover, 
.tabs-closebutton:hover:active 
 {
  -moz-image-region: rect(0, 28px, 14px, 14px) !important;
}



