#main-window[nfblack="false"] #nav-bar .toolbarbutton-1:not(#social-toolbar-button):not([checked="true"]):not([disabled="true"]):hover,
#main-window[nfblack="false"] #nav-bar .toolbarbutton-1:not(#social-toolbar-button):not([checked="true"]):not([disabled="true"])[buttonover="true"]
{
  background: url(chrome://global/skin/button/hover.png) repeat-x top left #fff;
  box-shadow: 0px 0px 1px transparent, 0px 0px 1px #000 inset;
  background-size : auto 100%;
  border-radius : 3px;
}

#main-window[nfblack="true"] #nav-bar .toolbarbutton-1:not(#social-toolbar-button):not([checked="true"]):not([disabled="true"]):hover,
#main-window[nfblack="true"] #nav-bar .toolbarbutton-1:not(#social-toolbar-button):not([checked="true"]):not([disabled="true"])[buttonover="true"]
{
  background: linear-gradient(to bottom, rgba(150,150,150,1), #333333 15px, #000000) !important;
  box-shadow: 0px 0px 1px #000, 0px 0px 2px #fff inset !important;
  border-radius : 3px !important;
}