toolbar:-moz-any(#PersonalToolbar) toolbarbutton  {
  border: 1px solid transparent;
  margin-bottom : 1px !important;
}

#main-window[nfblack="false"] toolbar:-moz-any(#PersonalToolbar) toolbarbutton:not(.toolbarbutton-menubutton-button):not([disabled="true"]):hover {
  background: url(chrome://global/skin/button/hover.png) repeat-x top left transparent;
  border-radius : 3px;
  box-shadow: none;
  border : 1px solid #808080; 
}

#main-window[nfblack="false"] toolbar:-moz-any(#PersonalToolbar) toolbarbutton:not([disabled="true"]):hover {
  color : #000 !important;
}


/* dark */

#main-window[nfblack="true"] toolbar:-moz-any(#PersonalToolbar) toolbarbutton  {
  padding-top : 0px !important;
  padding-bottom : 0px !important;
  margin-top : 1px !important;
  margin-bottom : 1px !important;
}

#main-window[nfblack="true"] toolbar:-moz-any(#PersonalToolbar) toolbarbutton:not(.toolbarbutton-menubutton-button):not([disabled="true"]):hover  {
  border : 1px solid !important;
  -moz-border-top-colors: #bbb !important;
  -moz-border-right-colors: #808080 !important;
  -moz-border-bottom-colors: #808080 !important;
  -moz-border-left-colors: #808080 !important;
  background: transparent !important;
  background: linear-gradient(to bottom, rgba(150,150,150,1), #333333 15px, #222) !important;
}