/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== config.css ==============================================
   == Styles for about:config
   ======================================================================= */

@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: warning screen ::::: */

#config {
  background: url(chrome://browser/skin/icons/Toolbar-Background.png) top left repeat-x #adaebb;
}

#warningScreen
{
  background: url(chrome://browser/skin/icons/box-background.png) repeat-x bottom fixed #cdced3;
}

#warningBox
{
  background-color: #fff;
  background-image: url("chrome://global/skin/icons/warning-large.png");
  background-repeat: no-repeat;
  background-position: 30px 3em;
  color: #000;
  border: 1px solid #808080;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #404040;
  padding: 3em;
  padding-inline-start: 78px;
  margin: 0 1em;
}

.title, .description
{
  max-width: 50em;
  padding-inline-start: 3em;
}

#warningTitle
{
  margin: 0 0 .6em;
  font-size: 160%;
  border-bottom: 1px solid #d4d0c8;
}

#warningText
{
  font-size: 110%;
  margin-inline-start: 0;
}

#warningButton
{
  margin-top: 0.6em;
}

#showWarningNextTime
{
  margin-top: 0.6em;
}

/* ::::: tree rows ::::: */

treechildren::-moz-tree-cell-text(user)
{
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(locked)
{
  font-style: italic;
}
