
/* Tabview */

@-moz-document url("chrome://browser/content/tabview.html"){
body {
  background: #1C1C1C !important;
}

#bg {
  background: #1C1C1C !important;
}

.groupItem  {
  background-color: #888 !important;
}

.tab-title {
  color : #fff !important;
  text-shadow: none !important;
}

input.name {
  color : #fff !important;
}
}

/* About:home */

@-moz-document url("about:home") {
body {
  background-image: none !important;
  background-color: #222 !important;
}
#searchText {
  background: #000 !important;
  background-image: linear-gradient(to bottom, #111 1%, #323232) !important;
  color : #FFF !important;
}

.launchButton {
  border: 1px solid transparent !important;
}

.launchButton, #snippets {
  color: #999 !important;
}

.launchButton:hover,
.launchButton:hover:active {
  background : #222 !important;
  background-image: linear-gradient(to bottom, #111 1%, #323232) !important;
  border-color: #555 !important;
  color : #FFF !important;
}

#restorePreviousSession {
  color : #999 !important;
}

#restorePreviousSession:hover {
  color: #FFF !important;
}

a {
  color : #0066CC !important;
}

}

/* gcli.css */

.gcli-menu-option {
  color : #fff !important;
}

.gcli-menu-option:hover {
  color : #000 !important;
}

/* Session restore */

@-moz-document url("about:sessionrestore")
{
  button {
    color : #000 !important;
}
}

/* Private browsing */

@-moz-document url("about:privatebrowsing")
{
  button {
    color : #000 !important;
}
}

/* about:preferences */

@-moz-document url("about:preferences") {

#header {
  background : transparent !important;
}

*|*:root {
  background-color: #000 !important;
  background-image: /* Fade-out texture at the top, and blend with browser tab */
                    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 100%),
                    /* Texture */
                    url("chrome://global/skin/inContentUI/background-texture.png") !important;
}

*|*.main-content {
  border: 1px solid #808080 !important;
}
}

/* LastPass */

@-moz-document url("chrome://lastpass/content/home2.xul") { 
  
vbox {  
  background : #000 !important;
}

.lptabs {
  background : #333 !important;
  box-shadow :inset 0 2px 2px #B2B3B5,0px 1px 0 #333 !important;
  color : #999 !important;
  text-shadow : none !important;
}

.lptabs:hover ,
.activetab{
  background : #555 !important;
  box-shadow :inset 0 2px 2px #B2B3B5,0px 1px 0 #555 !important;
}

#treepane,
.pane {
  background : #333 !important;
  box-shadow :inset 0 2px 2px #B2B3B5,0px 1px 0 #333 !important;
}

treechildren::-moz-tree-row(hover),
treechildren::-moz-tree-row(selected) {
  background-size : auto 100% !important;
}
}

/* Reminder Fox */

.rmFx-searchText-field {
  -moz-appearance : none !important;
}

.rmFx-searchText-field .textbox-input {
  background-color : #333 !important;
  background-image: linear-gradient(to bottom, #111 1%, #323232) !important;
  color : #fff !important;
  border: 1px solid #606060 !important;
}
  












