#TabsToolbar:not([treestyletab-mode="vertical"]) .tabbrowser-tab {
  border-radius: 15px !important;
}

#main-window[nfstrip="true"] #TabsToolbar:not([multibar]) .tabbrowser-tab,
#TabsToolbar:not([multibar]) .tabbrowser-tab[style*="background-image"] {
  border-radius: 15px !important;
}

/* Thunderbird */

.tabmail-tab {
  border-radius: 15px !important;
}