#noiamoon-back-forward-dropmarker:-moz-locale-dir(ltr) {
	padding-left: 7px !important;
	margin-left:-15px !important;
	padding-right:0px !important;
}
#forward-button:-moz-locale-dir(ltr){
	margin-left:-10px !important;
}
#forward-button:-moz-locale-dir(rtl){
	margin-right:-10px !important;
}
#forward-button {
	list-style-image: url("chrome://browser/skin/icons/forward-r.png") !important;
}
toolbar[iconsize="small"] #forward-button {
	list-style-image: url("chrome://browser/skin/icons/forward-small-r.png") !important;
}