#tabs-toolbar:not(:-moz-lwtheme) { 
  background : #D2E1F6 !important;
}

#tabs-toolbar:-moz-lwtheme {
  background: none !important;
}

#main-window:not(:-moz-lwtheme) #navigator-toolbox { 
  background-image: linear-gradient(rgba(255, 255, 255, .1),
                    rgba(255, 255, 255, .1) 19px) !important;

}

#tabs-toolbar:not(:-moz-lwtheme) { 
  background-image: linear-gradient(rgba(255, 255, 255, 1),
                    rgba(255, 255, 255, .1) 25px) !important;
}