/* Thunderbird Lightning */

#newMsgButton-mail-menuitem {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png") !important;
  -moz-image-region: rect(0px 48px 24px 24px) !important;
}

#calendar-status-todaypane-button {
  border : 2px solid transparent !important;
}

#calendar-status-todaypane-button[checked="true"],
#calendar-status-todaypane-button:hover {
  background: url(chrome://global/skin/button/hover.png) repeat-x top left transparent !important;
  color : #000 !important;
  border-radius : 3px;
  box-shadow: none;
  border : 2px solid !important;
  -moz-border-top-colors: #404040 #fff !important;
  -moz-border-right-colors: #404040 #9BB0D1 !important;
  -moz-border-bottom-colors: #404040 #9BB0D1 !important;
  -moz-border-left-colors: #404040 #fff !important;
}

.calbar-toolbarbutton-1 {
  list-style-image: url(chrome://calendar/skin/toolbar-large.png) !important;
}

toolbar[iconsize="small"] .calbar-toolbarbutton-1 {
  list-style-image: url(chrome://calendar/skin/toolbar-small.png) !important;
}

#calendar-synchronize-button,
#task-synchronize-button {
  -moz-image-region: rect(0px 648px 24px 624px) !important;
}

#calendar-synchronize-button[disabled],
#task-synchronize-button[disabled] {
  -moz-image-region: rect(48px 648px 72px 624px) !important;
}

toolbar[iconsize="small"] #calendar-synchronize-button,
toolbar[iconsize="small"] #task-synchronize-button {
  -moz-image-region: rect(0px 432px 16px 416px) !important;
}

toolbar[iconsize="small"] #calendar-synchronize-button[disabled],
toolbar[iconsize="small"] #task-synchronize-button[disabled] {
  -moz-image-region: rect(32px 432px 48px 416px) !important;
}

#calendar-newevent-button,
#task-newevent-button {
  -moz-image-region: rect(0px 24px 24px 0px) !important;
}

#calendar-newevent-button[disabled],
#task-newevent-button[disabled] {
  -moz-image-region: rect(48px 24px 72px 0px) !important;
}

toolbar[iconsize="small"] #calendar-newevent-button,
toolbar[iconsize="small"] #task-newevent-button {
  -moz-image-region: rect(0px 16px 16px 0px) !important;
}

toolbar[iconsize="small"] #calendar-newevent-button[disabled],
toolbar[iconsize="small"] #task-newevent-button[disabled] {
  -moz-image-region: rect(32px 16px 48px 0px) !important;
}

#calendar-newtask-button,
#task-newtask-button {
  -moz-image-region: rect(0px 384px 24px 360px) !important;
}

#calendar-newtask-button[disabled],
#task-newtask-button[disabled] {
  -moz-image-region: rect(48px 384px 72px 360px) !important;
}

toolbar[iconsize="small"] #calendar-newtask-button,
toolbar[iconsize="small"] #task-newtask-button {
  -moz-image-region: rect(0px 256px 16px 240px) !important;
}

toolbar[iconsize="small"] #calendar-newtask-button[disabled],
toolbar[iconsize="small"] #task-newtask-button[disabled] {
  -moz-image-region: rect(32px 256px 48px 240px) !important;
}

#calendar-edit-button,
#task-edit-button {
  -moz-image-region: rect(0px 48px 24px 24px) !important;
}

#calendar-edit-button[disabled],
#task-edit-button[disabled] {
  -moz-image-region: rect(48px 48px 72px 24px) !important;
}

toolbar[iconsize="small"] #calendar-edit-button,
toolbar[iconsize="small"] #task-edit-button {
  -moz-image-region: rect(0px 32px 16px 16px) !important;
}

toolbar[iconsize="small"] #calendar-edit-button[disabled],
toolbar[iconsize="small"] #task-edit-button[disabled] {
  -moz-image-region: rect(32px 32px 48px 16px) !important;
}

#calendar-delete-button,
#task-delete-button {
  -moz-image-region: rect(0px 72px 24px 48px) !important;
}

#calendar-delete-button[disabled],
#task-delete-button[disabled] {
  -moz-image-region: rect(48px 72px 72px 48px) !important;
}

toolbar[iconsize="small"] #calendar-delete-button,
toolbar[iconsize="small"] #task-delete-button {
  -moz-image-region: rect(0px 48px 16px 32px) !important;
}

toolbar[iconsize="small"] #calendar-delete-button[disabled],
toolbar[iconsize="small"] #task-delete-button[disabled] {
  -moz-image-region: rect(32px 48px 48px 32px) !important;
}

#calendar-goto-today-button {
  -moz-image-region: rect(0px 408px 24px 384px) !important;
}

#calendar-goto-today-button[disabled] {
  -moz-image-region: rect(48px 408px 72px 384px) !important;
}

toolbar[iconsize="small"] #calendar-goto-today-button {
  -moz-image-region: rect(0px 272px 16px 256px) !important;
}

toolbar[iconsize="small"] #calendar-goto-today-button[disabled] {
  -moz-image-region: rect(32px 272px 48px 256px) !important;
}

#calendar-print-button,
#task-print-button {
  -moz-image-region: rect(0px 360px 24px 336px) !important;
}

#calendar-print-button[disabled],
#task-print-button[disabled] {
  -moz-image-region: rect(48px 360px 72px 336px) !important;
}

toolbar[iconsize="small"] #calendar-print-button,
toolbar[iconsize="small"] #task-print-button {
  -moz-image-region: rect(0px 240px 16px 224px) !important;
}

toolbar[iconsize="small"] #calendar-print-button[disabled],
toolbar[iconsize="small"] #task-print-button[disabled] {
  -moz-image-region: rect(32px 240px 48px 224px) !important;
}

#calendar-unifinder-button {
  -moz-image-region: rect(0px 528px 24px 504px) !important;
}

#calendar-unifinder-button[disabled] {
  -moz-image-region: rect(48px 528px 72px 504px) !important;
}

toolbar[iconsize="small"] #calendar-unifinder-button {
  -moz-image-region: rect(0px 352px 16px 336px) !important;
}

toolbar[iconsize="small"] #calendar-unifinder-button[disabled] {
  -moz-image-region: rect(32px 352px 48px 336px) !important;
}

.cal-event-toolbarbutton {
  list-style-image: url("chrome://calendar/skin/calendar-event-dialog-toolbar.png") !important;
}

toolbar[iconsize="small"] .cal-event-toolbarbutton {
  list-style-image: url("chrome://calendar/skin/calendar-event-dialog-toolbar-small.png") !important;
}

#button-attendees {
  -moz-image-region: rect(0px 48px 24px 24px) !important;
}
#button-attendees[disabled="true"],
#button-attendees[disabled="true"]:hover {
  -moz-image-region: rect(48px 48px 72px 24px) !important;
}
#button-attendees:hover {
  -moz-image-region: rect(24px 48px 48px 24px) !important;
}

toolbar[iconsize="small"] #button-attendees {
  -moz-image-region: rect(0px 32px 16px 16px) !important;
}
toolbar[iconsize="small"] #button-attendees[disabled="true"],
toolbar[iconsize="small"] #button-attendees[disabled="true"]:hover {
  -moz-image-region: rect(32px 32px 48px 16px) !important;
}
toolbar[iconsize="small"] #button-attendees:hover {
  -moz-image-region: rect(16px 32px 32px 16px) !important;
}

#button-url {
  -moz-image-region: rect(0px 96px 24px 72px) !important;
}
#button-url[disabled="true"],
#button-url[disabled="true"]:hover {
  -moz-image-region: rect(48px 96px 72px 72px) !important;
}
#button-url:hover {
  -moz-image-region: rect(24px 96px 48px 72px) !important;
}

toolbar[iconsize="small"] #button-url {
  -moz-image-region: rect(0px 64px 16px 48px) !important;
}
toolbar[iconsize="small"] #button-url[disabled="true"],
toolbar[iconsize="small"] #button-url[disabled="true"]:hover {
  -moz-image-region: rect(32px 64px 48px 48px) !important;
}
toolbar[iconsize="small"] #button-url:hover {
  -moz-image-region: rect(16px 64px 32px 48px) !important;
}

#event-toolbox { 
  background: linear-gradient(rgba(255, 255, 255, .8),
              rgba(255, 255, 255, .1) 19px) !important;
}

#event-toolbox  #button-privacy {
  -moz-image-region: rect(0px 120px 24px 96px) !important;
}
#event-toolbox  #button-privacy[disabled="true"],
#event-toolbox #button-privacy[disabled="true"]:hover {
  -moz-image-region: rect(48px 120px 72px 96px) !important;
}
#event-toolbox #button-privacy:hover {
  -moz-image-region: rect(24px 120px 48px 96px) !important;
}

#event-toolbox toolbar[iconsize="small"] #button-privacy {
  -moz-image-region: rect(0px 80px 16px 64px) !important;
}
#event-toolbox toolbar[iconsize="small"] #button-privacy[disabled="true"],
#event-toolbox toolbar[iconsize="small"] #button-privacy[disabled="true"]:hover {
  -moz-image-region: rect(32px 80px 48px 64px) !important;
}
#event-toolbox toolbar[iconsize="small"] #button-privacy:hover {
  -moz-image-region: rect(16px 80px 32px 64px) !important;
}

#event-toolbox #button-save {
  -moz-image-region: rect(0px 144px 24px 120px) !important;
}
#event-toolbox #button-save[disabled="true"],
#event-toolbox #button-save[disabled="true"]:hover {
  -moz-image-region: rect(48px 144px 72px 120px) !important;
}
#event-toolbox #button-save:hover {
  -moz-image-region: rect(24px 144px 48px 120px) !important;
}

#event-toolbox toolbar[iconsize="small"] #button-save {
  -moz-image-region: rect(0px 96px 16px 80px) !important;
}
#event-toolbox toolbar[iconsize="small"] #button-save[disabled="true"],
#event-toolbox toolbar[iconsize="small"] #button-save[disabled="true"]:hover {
  -moz-image-region: rect(32px 96px 48px 80px) !important;
}
#event-toolbox toolbar[iconsize="small"] #button-save:hover {
  -moz-image-region: rect(16px 96px 32px 80px) !important;
}

#event-toolbox #button-delete {
  -moz-image-region: rect(0px 408px 24px 384px) !important;
}
#event-toolbox #button-delete[disabled="true"],
#event-toolbox #button-delete[disabled="true"]:hover {
  -moz-image-region: rect(48px 408px 72px 384px) !important;
}
#event-toolbox #button-delete:hover {
  -moz-image-region: rect(24px 408px 48px 384px) !important;
}

#event-toolbox toolbar[iconsize="small"] #button-delete {
  -moz-image-region: rect(0px 272px 16px 256px) !important;
}
#event-toolbox toolbar[iconsize="small"] #button-delete[disabled="true"],
#event-toolbox toolbar[iconsize="small"] #button-delete[disabled="true"]:hover {
  -moz-image-region: rect(32px 272px 48px 256px) !important;
}
#event-toolbox toolbar[iconsize="small"] #button-delete:hover {
  -moz-image-region: rect(16px 272px 32px 256px) !important;
}

.occurrence-accept-buttons {
  list-style-image: url(chrome://calendar/skin/calendar-occurrence-prompt.png) !important;
  margin: 10px 0px !important;
}

.occurrence-accept-buttons > .button-box > .button-text {
  margin: 0 3px !important;
}

#accept-buttons-box[action="edit"] > #accept-occurrence-button {
  -moz-image-region: rect(0 20px 20px 0) !important;
}

#accept-buttons-box[action="edit"] > #accept-parent-button {
  -moz-image-region: rect(0 40px 20px 20px) !important;
}

#accept-buttons-box[action="edit"] > #accept-allfollowing-button {
  -moz-image-region: rect(0 60px 20px 40px) !important;
}

#accept-buttons-box[action="delete"] > #accept-occurrence-button {
  -moz-image-region: rect(0 80px 20px 60px) !important;
}

#accept-buttons-box[action="delete"] > #accept-parent-button {
  -moz-image-region: rect(0 100px 20px 80px) !important;
}

#accept-buttons-box[action="delete"] > #accept-allfollowing-button {
  -moz-image-region: rect(0 120px 20px 100px) !important;
}

#calendar-tab-button {
  list-style-image: url(chrome://lightning/skin/mode-switch-icons.png) !important;
  -moz-image-region: rect(0px 64px 16px 48px) !important;
}

#calendar-tab-button[disabled] {
  -moz-image-region: rect(32px 64px 48px 48px) !important;
}

#task-tab-button {
  list-style-image: url(chrome://lightning/skin/mode-switch-icons.png) !important;
  -moz-image-region: rect(0px 80px 16px 64px) !important;
}

#task-tab-button[disabled] {
  -moz-image-region: rect(32px 80px 48px 64px) !important;
}


#calendar-tab-button:not([disabled="true"]):hover:active,
#task-tab-button:not([disabled="true"]):hover:active {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}


.tabmail-tab[type="calendar"] {
  list-style-image: url(chrome://lightning/skin/mode-switch-icons.png) !important;
  -moz-image-region: rect(0px 64px 16px 48px) !important;
}

.tabmail-tab[type="tasks"] {
  list-style-image: url(chrome://lightning/skin/mode-switch-icons.png) !important;
  -moz-image-region: rect(0px 80px 16px 64px) !important;
}

