@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#main-window[privatebrowsingmode=temporary] #appmenu-toolbar-button,
#main-window[privatebrowsingmode=temporary] #appmenu-button {
  background: rgba(255,255,255,.0) !important;
  border-color: hsla(214,89%,21%,.5) !important;
  box-shadow: 0 1px 0 hsla(0,0%,100%,.2) inset,
			  0 0 2px 1px hsla(0,0%,100%,.25) inset,
			  0 1px 0 hsla(0,0%,100%,.2),
			  0 0 1px 1px hsla(0,0%,100%,.25) !important;
}
#main-window[privatebrowsingmode=temporary] #appmenu-toolbar-button:hover:not(:active):not([open]),
#main-window[privatebrowsingmode=temporary] #appmenu-button:hover:not(:active):not([open]) {
  background-image: radial-gradient(farthest-side at center bottom, hsla(0,0%,100%,.5) 10%, hsla(0,0%,100%,0) 70%),
					radial-gradient(farthest-side at center bottom, hsla(0,0%,100%,.7), hsla(0,0%,100%,0)) !important;
  border-color: hsla(214,89%,21%,.5) !important;
  box-shadow: 0 1px 0 hsla(0,0%,100%,.15) inset,
			  0 0 2px 1px hsla(0,0%,100%,.5) inset,
			  0 -1px 0 hsla(0,0%,100%,.2) inset,
			  0 1px 0 hsla(0,0%,100%,.2),
			  0 0 1px 1px hsla(0,0%,100%,.25) !important;
}
#main-window[privatebrowsingmode=temporary] #appmenu-toolbar-button:hover:active,
#main-window[privatebrowsingmode=temporary] #appmenu-toolbar-button[open] ,
#main-window[privatebrowsingmode=temporary] #appmenu-button:hover:active,
#main-window[privatebrowsingmode=temporary] #appmenu-button[open] {
  box-shadow: 0 2px 3px rgba(0,0,0,.4) inset,
			  0 1px 1px rgba(0,0,0,.2) inset !important;
}