/* CSS Document */

.bookmark-item[container] {
  list-style-image: url("chrome://browser/skin/icons/folder_closed2.png") !important;
}
.bookmark-item[container][open] {
  list-style-image: url("chrome://browser/skin/icons/folder_open2.png") !important;
}

.folder-icon {
  list-style-image: url("chrome://browser/skin/icons/folder_closed2.png") !important;
}

treechildren::-moz-tree-image(Name, container) {
  list-style-image: url("chrome://browser/skin/icons/folder_closed2.png") !important;
}

treechildren::-moz-tree-image(Name, open) {
  list-style-image: url("chrome://browser/skin/icons/folder_open2.png") !important;
}

treechildren::-moz-tree-image(title, container) {
  list-style-image: url("chrome://browser/skin/icons/folder_closed2.png") !important;
}

treechildren::-moz-tree-image(title, open) {
  list-style-image: url("chrome://browser/skin/icons/folder_open2.png") !important;
}

treechildren::-moz-tree-image(title, query, hostContainer) {
  list-style-image: url("chrome://browser/skin/icons/folder_closed2.png") !important;
}

treechildren::-moz-tree-image(title, query, hostContainer, open) {
  list-style-image: url("chrome://browser/skin/icons/folder_open2.png") !important;
}

treechildren::-moz-tree-image(title, query, folder) {
  list-style-image: url("chrome://browser/skin/icons/folder_closed2.png") !important;
}

treechildren::-moz-tree-image(title, query, folder, open) {
  list-style-image: url("chrome://browser/skin/icons/folder_open2.png") !important;
}

#cookiesChildren::-moz-tree-image(domainCol, container) {
  list-style-image: url("chrome://browser/skin/icons/folder_closed2.png") !important;
}

#cookiesChildren::-moz-tree-image(domainCol, container, open) {
  list-style-image: url("chrome://browser/skin/icons/folder_open2.png") !important;
}