@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

prefpane button,prefwindow button,dialog button,#addons-page button:not(.button-link),#actbutton,#deactbutton,
window toolbar:not(.devtools-toolbar) button:not(#appmenu-button):not(#appmenu-toolbar-button):not(.searchbar-engine-button):not(.mini-button):not(.devtools-toolbarbutton):not(.developer-toolbar-button),
#header-utils-btn,menulist{
  -moz-appearance: none !important;
  background: rgba(255,255,255,.5) !important;
  color:black !important;
  border: 1px solid rgba(255,255,255,.6) !important;
  box-shadow: 0 0px 1px rgba(0,0,0,.3),
			  0 0px 1px rgba(0,0,0,.2),
			  0 1px 0 hsla(0,0%,100%,.2) inset,
			  0 0 2px 1px hsla(0,0%,100%,.25) inset !important;
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.4) !important;
}


#actbutton:hover,#deactbutton:hover,
prefpane button:hover,prefwindow button:hover,dialog button:hover, #addons-page button:not(.button-link):hover,
window toolbar:not(.devtools-toolbar) button:hover:not(#appmenu-button):not(.searchbar-engine-button):not(.mini-button),
#header-utils-btn:hover,menulist:hover{
  background-image: radial-gradient(farthest-side at center bottom, hsla(0,0%,100%,.7) 10%, hsla(0,0%,100%,0) 70%),
					radial-gradient(farthest-side at center bottom, hsla(0,0%,100%,.9), hsla(0,0%,100%,0)) !important;
  border: 1px solid rgba(255,255,255,.2) !important;
  box-shadow: 0 0px 1px rgba(0,0,0,.1),
			  0 1px 0 hsla(0,0%,100%,.15) inset,
			  0 0 2px 1px hsla(0,0%,100%,.5) inset,
			  0 -1px 0 hsla(0,0%,100%,.2) inset !important;
}

prefpane button:focus,prefwindow button:focus,dialog button:focus,#addons-page button:not(.button-link):focus,
window button:not(#appmenu-button):not(#appmenu-toolbar-button):not(.searchbar-engine-button):not(.mini-button):focus,
#actbutton:active,#deactbutton:active,prefpane button:active, prefwindow button:active,dialog button:active, #addons-page button:not(.button-link):active,
window toolbar:not(.devtools-toolbar) button:active:not(#appmenu-button):not(.searchbar-engine-button):not(.mini-button),
#actbutton:focus,#deactbutton:focus,#header-utils-btn:focus,menulist:active,menulist:focus{
  background-image: radial-gradient(farthest-side at center bottom, hsla(0,0%,100%,.7) 10%, hsla(0,0%,100%,0) 70%),
					radial-gradient(farthest-side at center bottom, hsla(0,0%,100%,.9), hsla(0,0%,100%,0)) !important;
  border: 1px solid rgba(255,255,255,.6) !important;
  box-shadow: 0 0px 1px rgba(0,0,0,.1),
			  0 1px 0 hsla(0,0%,100%,.15) inset,
			  0 0 2px 1px hsla(0,0%,100%,.5) inset,
			  0 -1px 0 hsla(0,0%,100%,.2) inset !important;
}