@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

prefpane button,prefwindow button,dialog button,#addons-page button:not(.button-link),#actbutton,#deactbutton,
window toolbar:not(.devtools-toolbar) button:not(#appmenu-button):not(#appmenu-toolbar-button):not(.searchbar-engine-button):not(.mini-button):not(.devtools-toolbarbutton):not(.developer-toolbar-button),
#header-utils-btn,menulist{
	background:linear-gradient(#868585,#101010,#101010,#474747,#474747,#101010) !important;
	color:white !important;
	border:1px solid black !important;
	box-shadow:1px 1px 2px rgba(0, 0, 0, 0.4) !important;
}

prefpane button:focus,prefwindow button:focus,dialog button:focus,#addons-page button:not(.button-link):focus,
window button:not(#appmenu-button):not(#appmenu-toolbar-button):not(.searchbar-engine-button):not(.mini-button):focus,
#actbutton:hover,#actbutton:active,#deactbutton:hover,#deactbutton:active,
prefpane button:hover,prefwindow button:hover,dialog button:hover, #addons-page button:not(.button-link):hover,
prefpane button:active, prefwindow button:active,dialog button:active, #addons-page button:not(.button-link):active,
window toolbar:not(.devtools-toolbar) button:hover:not(#appmenu-button):not(.searchbar-engine-button):not(.mini-button),
window toolbar:not(.devtools-toolbar) button:active:not(#appmenu-button):not(.searchbar-engine-button):not(.mini-button),
#actbutton:focus,#deactbutton:focus,#header-utils-btn:hover,#header-utils-btn:focus,
menulist:active,menulist:hover,menulist:focus{
	background: url(chrome://global/skin/button/body-hover.png) repeat-x top left #b8e9fe !important;
	color:black !important;
}

.menulist-editable-input{
	color: white !important;
}

#header-utils-btn > .toolbarbutton-menu-dropmarker {
  list-style-image:url(chrome://browser/skin/icons/appmenu-dropmarker.png) !important;
  -moz-image-region: rect(-5px 10px 10px 0px) !important;
}

#header-utils-btn:hover > .toolbarbutton-menu-dropmarker,
#header-utils-btn:focus > .toolbarbutton-menu-dropmarker {
	list-style-image: url(chrome://global/skin/arrow/arrow-dn.gif) !important;
	-moz-image-region: rect(0px 11px 11px 0px) !important;
}