.menu-right {
  list-style-image: url(chrome://global/skin/menu/Menu-arrow2.png) !important;
}
.menu-right[_moz-menuactive=true] {
  list-style-image: url(chrome://global/skin/menu/Menu-arrow-hover.png) !important;
}
.menu-right[disabled=true] {
  list-style-image: url(chrome://global/skin/menu/Menu-arrow-disabled.png) !important;
}

menu.bookmark-item,
menuitem.bookmark-item {
  background-color: Transparent !important;
}

menupopup {
  background: url("chrome://browser/skin/icons/popup-dark.png") repeat-y !important;
  background-color: Transparent !important;
}

popup {
  background: url("chrome://browser/skin/icons/popup-dark.png") repeat-y !important;
  background-color: Transparent !important;
}

popup[type="autocomplete"],
menulist > menupopup {
  background: url("chrome://browser/skin/icons/popup-dark.png") repeat-y !important;
  background-color: Transparent !important;  
}

menupopup > menu[_moz-menuactive="true"]:not([disabled="true"]),
menupopup > menuitem[_moz-menuactive="true"]:not([disabled="true"]),
popup > menu[_moz-menuactive="true"]:not([disabled="true"]),
popup > menuitem[_moz-menuactive="true"]:not([disabled="true"]){
  background-color: Transparent !important;
}

treechildren::-moz-tree-row {
  border: 1px solid Transparent !important;
}

popup[type="autocomplete"],
panel[type="autocomplete-richlistbox"],
.autocomplete-history-popup {
  border-top: 1px solid !important;
  border-right: 1px solid !important;
  border-bottom: 1px solid !important;
  border-left: 1px solid !important;
  -moz-border-top-colors: #696969 !important;
  -moz-border-right-colors: #696969 !important;
  -moz-border-bottom-colors: #696969 !important;
  -moz-border-left-colors: #696969 !important;
}

panel[type="autocomplete"] {
  background: url("chrome://browser/skin/icons/popup-dark.png") repeat-y !important;
  background-color: Transparent !important;
}

panel[type="autocomplete-richlistbox"] {
  background: none !important;
  background-color: Transparent !important;
}

.autocomplete-richlistbox {
  background: url("chrome://browser/skin/icons/popup-dark.png") repeat-y !important;
  background-color: Transparent !important;
}

.autocomplete-richlistitem[selected="true"] {
  background-color: Transparent !important;
}

.autocomplete-richlistitem {
  border-bottom: 1px solid #696969 !important;
  background-color: Transparent !important;
}

.ac-comment {
  color: #aaffff !important;
}

.ac-url-text {
  color: #beffbe !important;
}

.ac-comment[selected="true"] {
  color: #ffffff !important;
}
.ac-url-text[selected="true"] {
  color: #00d700 !important;
}

#identity-popup {
  background-color: Transparent !important;
}

#identity-popup-container {
  background: url("chrome://browser/skin/icons/popup-background.png") repeat-y Transparent !important;
}

#editBookmarkPanel:not([type=arrow]) {
  background: url("chrome://browser/skin/icons/popup-background.png") repeat-y Transparent !important;
  background-color: #000000 !important;
  color: #FFFFFF !important;
}

#editBookmarkPanelTitle {
  color:#00FFFF !important;
}

tooltip {
  background-color: Transparent !important;
  background: url("chrome://browser/skin/icons/tooltip-background.png") repeat-y !important;
  color: #FFFFFF !important;
  border: 1px solid #808080 !important;
}

#autoscroller {
  height: 28px !important;
  width: 28px !important;
  border: none !important;
  margin: -14px !important;
  padding: 0 !important;
  background-image: url("chrome://global/skin/icons/autoscroll.png") !important;
  background-color: transparent !important;
  background-position: right top !important;
  -moz-appearance: none !important;
}