menuitem:not(:hover):not([_moz-menuactive]),
menupopup > menu:not(:hover):not([_moz-menuactive]),
menupopup:not(:hover):not([_moz-menuactive]),
#appmenu_webDeveloper:not(:hover):not([_moz-menuactive]),
.splitmenu-menuitem:not(:hover):not([_moz-menuactive]),
menuitem[_moz-menuactive],
menupopup > menu[_moz-menuactive],
menupopup[_moz-menuactive],
#appmenu_webDeveloper[_moz-menuactive],
.splitmenu-menuitem[_moz-menuactive]{
    font-weight:bold !important;
}