@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#identity-box.unknownIdentity:not(.mixedContent) #page-proxy-favicon,
#identity-box.chromeUI #page-proxy-favicon {
  visibility: hidden !important;
  margin-left:-22px !important;
}
#noia4favicon{
  height:16px !important;
  width:16px !important;
  margin-left: 7px !important;
  margin-right: 7px !important;
}

#identity-box.verifiedIdentity #noia4favicon,
#identity-box.verifiedDomain #noia4favicon,
#identity-box.unknownIdentity.mixedContent #noia4favicon {
  margin-right: 0px !important;
}
