@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#noia4favicon{
  height:16px !important;
  width:16px !important;
  margin-left: 7px !important;
  margin-right: 0px !important;
}