@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul) {

	toolbarbutton dropmarker,
	toolbarbutton dropmarker:hover{
		list-style-image: url("chrome://browser/skin/toolbarbutton-dropdown-arrow.png") !important;
		-moz-image-region: rect(0, 9px, 7px, 0) !important;
	}

	#navigator-toolbox[iconsize=large] #nav-bar #noiaop-toolbar-button > .toolbarbutton-icon {
	  max-height: 25px !important;
	}

	#navigator-toolbox[iconsize=small] #nav-bar #noiaop-toolbar-button > .toolbarbutton-icon {
	  max-height: 16px !important;
	}	

	#back-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	  -moz-image-region: rect(0, 18px, 18px, 0) !important;
	}

	#forward-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	  -moz-image-region: rect(0, 36px, 18px, 18px) !important;
	}

	#stop-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	  -moz-image-region: rect(0, 54px, 18px, 36px) !important;
	}

	#reload-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	  -moz-image-region: rect(0, 72px, 18px, 54px) !important;
	}

	#home-button.bookmark-item {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	}
	#home-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	  -moz-image-region: rect(0, 90px, 18px, 72px) !important;
	}

	toolbar:not(#aios-toolbar) #downloads-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	  -moz-image-region: rect(0, 108px, 18px, 90px) !important;
	}
	
	#downloads-indicator{
		background: -moz-image-rect(url("chrome://browser/skin/Toolbar.png"), 0, 108, 18, 90) center no-repeat !important;
	}
	
	toolbar:not(#aios-toolbar) #history-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	  -moz-image-region: rect(0, 126px, 18px, 108px) !important;
	}

	toolbar:not(#aios-toolbar) #bookmarks-button,
	#bookmarks-menu-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	  -moz-image-region: rect(0, 144px, 18px, 126px) !important;
	}

	#bookmarks-menu-button.bookmark-item {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	}

	#print-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	  -moz-image-region: rect(0, 162px, 18px, 144px) !important;
	}

	#n4_new-tab-button,#new-tab-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	  -moz-image-region: rect(0, 180px, 18px, 162px) !important;
	}

	#new-window-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	  -moz-image-region: rect(0, 198px, 18px, 180px) !important;
	}

	#cut-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	  -moz-image-region: rect(0, 216px, 18px, 198px) !important;
	}

	#copy-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	  -moz-image-region: rect(0, 234px, 18px, 216px) !important;
	}

	#paste-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	  -moz-image-region: rect(0, 252px, 18px, 234px) !important;
	}

	#fullscreen-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	  -moz-image-region: rect(0, 270px, 18px, 252px) !important;
	}

	#zoom-out-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	  -moz-image-region: rect(0, 288px, 18px, 270px) !important;
	}

	#zoom-in-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	  -moz-image-region: rect(0, 306px, 18px, 288px) !important;
	}

	#sync-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	  -moz-image-region: rect(0, 324px, 18px, 306px) !important;
	}

	#feed-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	  -moz-image-region: rect(0, 342px, 18px, 324px) !important;
	  background:none !important;
	}

	#back-forward-dropmarker_n4{
		list-style-image:url('chrome://global/skin/arrow/arrow-dn.gif') !important;
		-moz-image-region: rect(1px 9px 9px 2px) !important;
        margin-bottom: 8px !important;
		margin-left: -5px !important;

		background: rgba(151,152,153,.05)
				  linear-gradient(rgba(251,252,253,.95), rgba(246,247,248,.47) 49%, 
									   rgba(231,232,233,.45) 51%, rgba(225,226,229,.3)) !important;
		background-clip: padding-box !important;
		border-radius: 3.5px !important;
		border: 1px solid !important;
		border-color: rgba(0,0,0,.12) rgba(0,0,0,.19) rgba(0,0,0,.38) !important;
		box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
				  0 0 0 2px rgba(255,255,255,.1) inset !important;
		padding:0 !important;
	}

	#navigator-toolbox[iconsize=small] #back-forward-dropmarker_n4{
		margin: 4px 0px 4px -2px !important;
	}
	
	#back-forward-dropmarker_n4:hover{
		list-style-image:url('chrome://global/skin/arrow/arrow-dn-dis.gif') !important;
		-moz-image-region: rect(1px 9px 9px 2px) !important;
	  background-color: hsla(190,60%,70%,.5) !important;
	  border-color: hsla(190,50%,65%,.8) hsla(190,50%,50%,.8) hsla(190,50%,40%,.8) !important;
	  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
				  0 0 0 1.5px rgba(255,255,255,.1) inset,
				  0 0 3.5px hsl(190,90%,80%) !important;
	  transition: background-color .4s ease-in,
					   border-color .3s ease-in,
					   box-shadow .3s ease-in !important;
	}

	#navigator-toolbox[iconsize=large] #nav-bar toolbarbutton[type="menu-button"] > .toolbarbutton-icon,
	#navigator-toolbox[iconsize=large] #nav-bar .toolbarbutton-menubutton-dropmarker > image,
	#navigator-toolbox[iconsize=large] #nav-bar .toolbarbutton-menubutton-button .toolbarbutton-icon,
	#navigator-toolbox[iconsize=large] #nav-bar .toolbarbutton-1:hover > .toolbarbutton-icon,
	#navigator-toolbox[iconsize=large] #nav-bar .toolbarbutton-1[checked=true] > .toolbarbutton-icon,
	#navigator-toolbox[iconsize=large] #nav-bar .toolbarbutton-1[open=true] > .toolbarbutton-icon,
	#navigator-toolbox[iconsize=large] #nav-bar .toolbarbutton-1[type="menu-button"] > .toolbarbutton-icon,
	#navigator-toolbox[iconsize=large] #nav-bar .toolbarbutton-1[type="menu-button"] > .toolbarbutton-menubutton-dropmarker::before{
		-moz-appearance: none !important;
		background: none !important;
		background-image: none !important;
		border-radius: 2.5px !important;
		border-color: transparent !important;
		box-shadow: none !important;
		transition-property: none !important;
        transition-duration: 0ms !important;
	}

	#navigator-toolbox[iconsize=large] #nav-bar toolbarbutton:not([type="menu-button"]):not(#back-button):not(#forward-button):not(#urlbar-go-button):not(#urlbar-reload-button):not(#urlbar-stop-button) .toolbarbutton-icon {
	  padding: 0px 2px !important;
	  margin: 0px !important;
	  padding-top: 0px !important;
	  padding-bottom: 0px !important;
	}
	
    #navigator-toolbox[iconsize=large] #nav-bar toolbarbutton[type="menu-button"]:not(#back-button):not(#forward-button):not(#urlbar-go-button):not(#urlbar-reload-button):not(#urlbar-stop-button) .toolbarbutton-icon {
      padding: 0px 2px 0px 1px !important;
    }
	
	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1:not(#back-button):not(#forward-button) {
	   margin:6px 2px !important;
	   min-width:26px !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar{
	   margin-top:0px !important;
	   margin-bottom:0px !important;
	}

	#navigator-toolbox[iconsize=large] #nav-bar .toolbarbutton-1:not(#back-button):not(#forward-button) > .toolbarbutton-icon{	
	  padding-top: 1px !important;
	  padding-bottom: 1px !important;
	  padding-left: 2px !important;
	  padding-right: 2px !important;
	}

	#navigator-toolbox[iconsize=large] #nav-bar toolbarbutton[type="menu-button"] .dropmarker-icon{
	  padding: 0px !important;
	  margin: -1px !important;
	}
	
	#navigator-toolbox[iconsize=large] #nav-bar .toolbarbutton-menubutton-dropmarker{
	  margin: 0px !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar:not([currentset*="unified-back-forward-button,urlbar-container"]) #forward-button {
	  padding-left: 3px !important;
	  padding-right: 1px !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar toolbarbutton:not(#back-button):not(#forward-button) .toolbarbutton-text {
	  margin-right: 3px !important;
	  margin-left: 3px !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar toolbarbutton[type="menu-button"] .dropmarker-icon {
	  margin: -1px !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar toolbarbutton[type="menu"] .dropmarker-icon {
	  margin-right: 2px !important;
	  margin-left: -2px !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > .toolbarbutton-1[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
	#navigator-toolbox[iconsize=large][mode=icons] > .toolbarbutton-1[disabled="true"] > .toolbarbutton-icon {
	  opacity: .4 !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar {
	  counter-reset: smallicons !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar {
	  -moz-padding-start: 0 !important;
	  -moz-padding-end: 2px !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button,
	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker,
	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1:not(#back-button):not(#forward-button):not([type="menu-button"]) {
	  -moz-appearance: none !important;
	  padding: 1px 2px !important;
	  background: rgba(151,152,153,.05)
					linear-gradient(rgba(251,252,253,.95), rgba(246,247,248,.47) 49%, 
											rgba(231,232,233,.45) 51%, rgba(225,226,229,.3))
				  padding-box !important;
	  border-radius: 2.5px !important;
	  border: 1px solid !important;
	  border-color: rgba(0,0,0,.12) rgba(0,0,0,.19) rgba(0,0,0,.38) !important;
	  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
					0 0 0 2px rgba(255,255,255,.1) inset !important;
	  color: black !important;
	  text-shadow: 0 0 2px white !important;
	  transition-property: background-color, border-color, box-shadow !important;
	  transition-duration: 250ms !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
	  padding-left: 3px !important;
	  padding-right: 3px !important;
	}
	
	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1[type="menu-button"] {
	  -moz-appearance: none !important;
	  padding: 0 !important;
	  background: none !important;
	  border: none !important;
	  box-shadow: none !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:-moz-locale-dir(ltr),
	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker:-moz-locale-dir(rtl) {
	  border-top-right-radius: 0 !important;
	  border-bottom-right-radius: 0 !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:-moz-locale-dir(rtl),
	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker:-moz-locale-dir(ltr) {
	  border-top-left-radius: 0 !important;
	  border-bottom-left-radius: 0 !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
	  -moz-border-start: none !important;
	  padding-left: 2px !important;
	  padding-right: 2px !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1 > .toolbarbutton-menu-dropmarker {
	  margin-top: 0 !important;
	  -moz-margin-start: 2px !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1[disabled="true"] {
	  opacity: .4 !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1[disabled="true"] > .toolbarbutton-icon {
	  opacity: 1 !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1:not(#back-button):not(#forward-button):not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover {
	  background-color: hsla(190,60%,70%,.5) !important;
	  border-color: hsla(190,50%,65%,.8) hsla(190,50%,50%,.8) hsla(190,50%,40%,.8) !important;
	  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
				  0 0 0 1.5px rgba(255,255,255,.1) inset,
				  0 0 3.5px hsl(190,90%,80%) !important;
	  transition: background-color .4s ease-in,
					   border-color .3s ease-in,
					   box-shadow .3s ease-in !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1:not(#back-button):not(#forward-button) > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1:not(#back-button):not(#forward-button):hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1:not(#back-button):not(#forward-button)[open="true"] > .toolbarbutton-menubutton-dropmarker,
	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1:not(#back-button):not(#forward-button):not([type="menu-button"]):not([disabled="true"]):hover:active,
	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1:not(#back-button):not(#forward-button):not([type="menu-button"])[checked="true"],
	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1:not(#back-button):not(#forward-button)[open="true"] {
	  background-color: hsla(210,54%,20%,.2) !important;
	  border-color: hsla(210,54%,20%,.3) hsla(210,54%,20%,.35) hsla(210,54%,20%,.4) !important;
	  box-shadow: 0 1px 1px rgba(0,0,0,.1) inset,
				  0 0 2px rgba(0,0,0,.3) inset,
				  0 1px 0 hsla(210,54%,20%,0),
				  0 0 2px hsla(210,54%,20%,0) !important;
	  text-shadow: none !important;
	  transition: none !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1[checked="true"]:not(:active):hover {
	  background-color: rgba(90%,90%,90%,.4) !important;
	  transition: background-color .4s !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > .toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
	#navigator-toolbox[iconsize=large][mode=icons] > .toolbarbutton-1 > .toolbarbutton-icon {
	  -moz-margin-end: 0 !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1:not(:-moz-any(#back-button, #forward-button, #reload-button, #stop-button, #home-button, #print-button, #downloads-button, #history-button, #bookmarks-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #cut-button, #copy-button, #paste-button, #fullscreen-button, #zoom-out-button, #zoom-in-button, #sync-button, #feed-button, #alltabs-button, #tabview-button)) > .toolbarbutton-icon {
	  margin: 1px !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > toolbar[mode="full"] .toolbarbutton-1,
	#navigator-toolbox[iconsize=large][mode=icons] > toolbar[mode="full"] .toolbarbutton-1 > .toolbarbutton-menubutton-button {
	  min-width: 57px !important;
	}

	
	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar toolbarbutton:not(.toolbarbutton-1):not(#back-button):not(#forward-button):not(#urlbar-go-button):not(#urlbar-reload-button):not(#urlbar-stop-button):not(.toolbarbutton-menubutton-dropmarker):not([type="menu-button"]):not(.toolbarbutton-menubutton-button):not(#back-forward-dropmarker_n4) {
	  -moz-appearance: none !important;
	  margin: 6px 2px !important;
	  padding: 0px 6px !important;
	  background: rgba(151,152,153,.05)
					linear-gradient(rgba(251,252,253,.95), rgba(246,247,248,.47) 49%, 
											rgba(231,232,233,.45) 51%, rgba(225,226,229,.3))
				  padding-box !important;
	  border-radius: 2.5px !important;
	  border: 1px solid !important;
	  border-color: rgba(0,0,0,.12) rgba(0,0,0,.19) rgba(0,0,0,.38) !important;
	  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
					0 0 0 2px rgba(255,255,255,.1) inset !important;
	  color: black !important;
	  text-shadow: 0 0 2px white !important;
	  transition-property: background-color, border-color, box-shadow !important;
	  transition-duration: 250ms !important;
	}
	
	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar toolbarbutton:not(.toolbarbutton-1):not(#back-button):not(#forward-button):not(#urlbar-go-button):not(#urlbar-reload-button):not(#urlbar-stop-button):not(.toolbarbutton-menubutton-dropmarker):not([type="menu-button"]):not(.toolbarbutton-menubutton-button):not(#back-forward-dropmarker_n4) :not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover {
	  background-color: hsla(190,60%,70%,.5) !important;
	  border-color: hsla(190,50%,65%,.8) hsla(190,50%,50%,.8) hsla(190,50%,40%,.8) !important;
	  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
				  0 0 0 1.5px rgba(255,255,255,.1) inset,
				  0 0 3.5px hsl(190,90%,80%) !important;
	  transition: background-color .4s ease-in,
					   border-color .3s ease-in,
					   box-shadow .3s ease-in !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar toolbarbutton:not(.toolbarbutton-1):not(#back-button):not(#forward-button):not(#urlbar-go-button):not(#urlbar-reload-button):not(#urlbar-stop-button):not(.toolbarbutton-menubutton-dropmarker):not([type="menu-button"]):not(.toolbarbutton-menubutton-button):not(#back-forward-dropmarker_n4) [open="true"],
	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar toolbarbutton:not(.toolbarbutton-1):not(#back-button):not(#forward-button):not(#urlbar-go-button):not(#urlbar-reload-button):not(#urlbar-stop-button):not(.toolbarbutton-menubutton-dropmarker):not([type="menu-button"]):not(.toolbarbutton-menubutton-button):not(#back-forward-dropmarker_n4) :not([disabled="true"]):hover:active {
	  background-color: hsla(210,54%,20%,.2) !important;
	  border-color: hsla(210,54%,20%,.3) hsla(210,54%,20%,.35) hsla(210,54%,20%,.4) !important;
	  box-shadow: 0 1px 1px rgba(0,0,0,.1) inset,
				  0 0 2px rgba(0,0,0,.3) inset,
				  0 1px 0 hsla(210,54%,20%,0),
				  0 0 2px hsla(210,54%,20%,0) !important;
	  text-shadow: none !important;
	  transition: none !important;
	}

	/* unified back/forward button (when urlbar IS right next to unified back/forward button) */
	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #forward-button:-moz-locale-dir(rtl) > .toolbarbutton-icon {
	  -moz-margin-start: 0px !important;
	  -moz-margin-end: -5px !important;
	}
	#navigator-toolbox[iconsize=large][mode=icons] #back-button {
	  -moz-image-region: rect(0, 18px, 18px, 0) !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] #forward-button {
	  -moz-image-region: rect(0, 36px, 18px, 18px) !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] #back-button:-moz-locale-dir(rtl) > .toolbarbutton-icon,
	#navigator-toolbox[iconsize=large][mode=icons] #forward-button:-moz-locale-dir(rtl),
	#navigator-toolbox[iconsize=large][mode=icons] #forward-button:-moz-locale-dir(rtl) > .toolbarbutton-text {
	  transform: scaleX(-1) !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button {
	  -moz-box-align: center !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #forward-button {
	  padding: 0 !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #forward-button > menupopup {
	  margin-top: 1px !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #forward-button > .toolbarbutton-icon {
	  clip-path: url(chrome://browser/content/browser.xul#windows-keyhole-forward-clip-path) !important;
	  -moz-margin-start: -12px !important;
	  border-left-style: none !important;
	  border-radius: 0 !important;
	  padding: 2px 3px 2px 7px !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > :-moz-any(#forward-button:not(:hover):not(:active):not([open]),
										#forward-button[disabled]) > .toolbarbutton-icon {
		  background: rgba(151,152,153,.05)
						linear-gradient(rgba(251,252,253,.95), rgba(246,247,248,.47) 49%, 
												rgba(231,232,233,.45) 51%, rgba(225,226,229,.3))
					  padding-box !important;
		  border-color: rgba(0,0,0,.12) rgba(0,0,0,.19) rgba(0,0,0,.38) !important;
		  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
						0 0 0 2px rgba(255,255,255,.1) inset !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > :-moz-any(#forward-button:hover:not(:active):not([open]),
	 								    #forward-button[disabled]) > .toolbarbutton-icon {
		background: rgba(151,152,153,.05)
					linear-gradient(rgba(251,252,253,.95), rgba(246,247,248,.47) 49%, 
											rgba(231,232,233,.45) 51%, rgba(225,226,229,.3))
				  padding-box !important;		  
		background-color: hsla(190,60%,70%,.5) !important;
		border-color: hsla(190,50%,65%,.8) hsla(190,50%,50%,.8) hsla(190,50%,40%,.8) !important;
		box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
				    0 0 0 1.5px rgba(255,255,255,.1) inset,
					0 0 3.5px hsl(190,90%,80%) !important;
		transition: background-color .4s ease-in,
					     border-color .3s ease-in,
						 box-shadow .3s ease-in !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > :-moz-any(#forward-button:hover:active,#forward-button:active,#forward-button[open="true"],
	 								    #forward-button[disabled]) > .toolbarbutton-icon {
	  background: rgba(151,152,153,.05)
					linear-gradient(rgba(251,252,253,.95), rgba(246,247,248,.47) 49%, 
											rgba(231,232,233,.45) 51%, rgba(225,226,229,.3))
				  padding-box !important;
	  box-shadow: 0 1px 1px rgba(0,0,0,.1) inset,
				  0 0 2px rgba(0,0,0,.3) inset,
				  0 1px 0 hsla(210,54%,20%,0),
				  0 0 2px hsla(210,54%,20%,0) !important;
	  text-shadow: none !important;
	  transition: none !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button:not([switchingtabs]) > #forward-button {
	  transition: opacity 150ms ease-out !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button:not(:hover) > #forward-button[disabled] {
	  opacity: 0 !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button {
	  -moz-image-region: rect(18px, 20px, 38px, 0) !important;
	  padding-top: 3px !important;
	  padding-bottom: 3px !important;
	  -moz-padding-start: 5px !important;
	  -moz-padding-end: 0 !important;
	  position: relative !important;
	  z-index: 1 !important;
	  border-radius: 0 10000px 10000px 0 !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button:-moz-locale-dir(rtl) {
	  border-radius: 10000px 0 0 10000px !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button > menupopup {
	  margin-top: -1px !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button > .toolbarbutton-icon {
	  border-radius: 10000px !important;
	  padding:5px !important;
	  border: none !important;
	  background: rgba(151,152,153,.05)
					linear-gradient(rgba(251,252,253,.95), rgba(246,247,248,.47) 49%, 
											rgba(231,232,233,.45) 51%, rgba(225,226,229,.3)) !important;
	  box-shadow: 0 1px 0 rgba(255,255,255,.3) inset,
				  0 0 0 1px rgba(255,255,255,.3) inset,
				  0 1px 0 hsla(210,54%,20%,.02),
				  0 0 0 1px rgba(0,0,0,.15) !important;
	  transition-property: background-color, box-shadow !important;
	  transition-duration: 250ms !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button:not([disabled="true"]):not([open="true"]):not(:active):hover > .toolbarbutton-icon {
	  background-color: hsla(190,60%,70%,.5) !important;
	  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
				  0 0 0 1.5px rgba(255,255,255,.1) inset,
				  0 0 3.5px hsl(190,90%,80%) !important;
	  transition: background-color .4s ease-in,
					   border-color .3s ease-in,
					   box-shadow .3s ease-in !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button:not([disabled="true"]):hover:active > .toolbarbutton-icon,
	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button[open="true"] > .toolbarbutton-icon {
	  background-color: hsla(210,54%,20%,.2) !important;
	  box-shadow: 0 1px 1px rgba(0,0,0,.1) inset,
				  0 0 2px rgba(0,0,0,.3) inset,
				  0 0 0 1px rgba(0,0,0,.2) !important;
	  transition: none !important;
	}
	
	/* unified back/forward button (when urlbar is NOT right next to unified back/forward button)*/
	
	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar:not([currentset*="unified-back-forward-button,urlbar-container"]),#nav-bar:not([currentset])) > #unified-back-forward-button > #forward-button:-moz-locale-dir(ltr) > .toolbarbutton-icon {
	  -moz-margin-start: -13px !important;
	}
	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar:not([currentset*="unified-back-forward-button,urlbar-container"]),#nav-bar:not([currentset])) > #unified-back-forward-button > #forward-button:-moz-locale-dir(rtl) > .toolbarbutton-icon {
	  -moz-margin-end: -13px !important;
	}
	
	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar:not([currentset*="unified-back-forward-button,urlbar-container"]),#nav-bar:not([currentset])) > #unified-back-forward-button > #forward-button > .toolbarbutton-icon {
	  -moz-appearance: none !important;
	  padding: 2px 2px 2px 7px !important;
	  background: rgba(151,152,153,.05)
				  linear-gradient(rgba(251,252,253,.95), rgba(246,247,248,.47) 49%, 
											rgba(231,232,233,.45) 51%, rgba(225,226,229,.3))
				  padding-box !important;
	  border-radius: 2.5px !important;
	  border: 1px solid !important;
	  border-color: rgba(0,0,0,.12) rgba(0,0,0,.19) rgba(0,0,0,.38) !important;
	  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
					0 0 0 2px rgba(255,255,255,.1) inset !important;
	  color: black !important;
	  text-shadow: 0 0 2px white !important;
	  transition-property: background-color, border-color, box-shadow !important;
	  transition-duration: 250ms !important;
	}

    window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar:not([currentset*="unified-back-forward-button,urlbar-container"]),#nav-bar:not([currentset])) > #unified-back-forward-button > #forward-button:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover > .toolbarbutton-icon {
	  background-color: hsla(190,60%,70%,.5) !important;
	  border-color: hsla(190,50%,65%,.8) hsla(190,50%,50%,.8) hsla(190,50%,40%,.8) !important;
	  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
				  0 0 0 1.5px rgba(255,255,255,.1) inset,
				  1px 0 3.5px hsl(190,90%,80%) !important;
	  transition: background-color .4s ease-in,
					   border-color .3s ease-in,
					   box-shadow .3s ease-in !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar:not([currentset*="unified-back-forward-button,urlbar-container"]),#nav-bar:not([currentset])) > #unified-back-forward-button > #forward-button:not([type="menu-button"]):not([disabled="true"]):not([checked="true"])[open="true"] > .toolbarbutton-icon,
	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar:not([currentset*="unified-back-forward-button,urlbar-container"]),#nav-bar:not([currentset])) > #unified-back-forward-button > #forward-button:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):active:hover > .toolbarbutton-icon {
	  background-color: hsla(210,54%,20%,.2) !important;
	  border-color: hsla(210,54%,20%,.3) hsla(210,54%,20%,.35) hsla(210,54%,20%,.4) !important;
	  box-shadow: 0 1px 1px rgba(0,0,0,.1) inset,
				  0 0 2px rgba(0,0,0,.3) inset,
				  0 1px 0 hsla(210,54%,20%,0),
				  0 0 2px hsla(210,54%,20%,0) !important;
	  text-shadow: none !important;
	  transition: none !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar:not([currentset*="unified-back-forward-button,urlbar-container"]),#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button {
	  -moz-image-region: rect(18px, 20px, 38px, 0) !important;
	  -moz-margin-end: 0 !important;
	  margin: -5px 0 !important;
	  padding-top: 0 !important;
	  padding-bottom: 0 !important;
	  -moz-padding-start: 5px !important;
	  -moz-padding-end: 0 !important;
	  position: relative !important;
	  z-index: 1 !important;
	  border-radius: 0 10000px 10000px 0 !important;
	  background: transparent !important;
	  border: none !important;
	  box-shadow: none !important;
	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar #back-button:-moz-locale-dir(rtl) {
	  border-radius: 10000px 0 0 10000px !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar:not([currentset*="unified-back-forward-button,urlbar-container"]),#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button  > .toolbarbutton-icon {
	  border-radius: 10000px !important;
	  padding: 5px !important;
	  border: none !important;
	  background: rgba(151,152,153,.05)
					linear-gradient(rgba(251,252,253,.95), rgba(246,247,248,.47) 49%, 
											rgba(231,232,233,.45) 51%, rgba(225,226,229,.3)) !important;
	  box-shadow: 0 1px 0 rgba(255,255,255,.3) inset,
				  0 0 0 1px rgba(255,255,255,.3) inset,
				  0 1px 0 hsla(210,54%,20%,.02),
				  0 0 0 1px rgba(0,0,0,.15) !important;
	  transition-property: background-color, box-shadow !important;
	  transition-duration: 250ms !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar:not([currentset*="unified-back-forward-button,urlbar-container"]),#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button:not([disabled="true"]):not([open="true"]):not(:active):hover > .toolbarbutton-icon {
	  background-color: hsla(190,60%,70%,.5) !important;
	  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
				  0 0 0 1.5px rgba(255,255,255,.1) inset,
				  0 0 3.5px hsl(190,90%,80%) !important;
	  transition: background-color .4s ease-in,
					   border-color .3s ease-in,
					   box-shadow .3s ease-in !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar:not([currentset*="unified-back-forward-button,urlbar-container"]),#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button:not([disabled="true"]):hover:active > .toolbarbutton-icon,
	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar:not([currentset*="unified-back-forward-button,urlbar-container"]),#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button[open="true"] > .toolbarbutton-icon {
	  background-color: hsla(210,54%,20%,.2) !important;
	  box-shadow: 0 1px 1px rgba(0,0,0,.1) inset,
				  0 0 2px rgba(0,0,0,.3) inset,
				  0 0 0 1px rgba(0,0,0,.2) !important;
	  transition: none !important;
	}

    window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar:not([currentset*="unified-back-forward-button,urlbar-container"]),#nav-bar:not([currentset])) > #unified-back-forward-button > #forward-button > .toolbarbutton-icon {
	  clip-path: url(chrome://browser/content/browser.xul#windows-keyhole-forward-clip-path) !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button:not(:hover) > #forward-button[disabled] ,
	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button:hover > #forward-button[disabled] {
	  opacity: 0.4 !important;
	}

	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button:not(:hover) > #forward-button:-moz-locale-dir(rtl) ,
	window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button:hover > #forward-button:-moz-locale-dir(rtl) {
	  margin-right:-5px !important;
	}	

	#navigator-toolbox[iconsize=small] > #nav-bar {
		padding-top: 1px !important;
		padding-bottom: 1px !important;
	}
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button,
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker,
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1 {
		-moz-appearance: none !important;
		padding: 1px 5px !important;
		background: rgba(151,152,153,.05)
					linear-gradient(rgba(251,252,253,.95), rgba(246,247,248,.47) 49%, 
											rgba(231,232,233,.45) 51%, rgba(225,226,229,.3)) !important;
		background-clip: padding-box !important;
		border-radius: 3.5px !important;
		border: 1px solid !important;
		border-color: rgba(0,0,0,.12) rgba(0,0,0,.19) rgba(0,0,0,.38) !important;
		box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
					0 0 0 2px rgba(255,255,255,.1) inset !important;
	}
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker,
	#navigator-toolbox[iconsize=small][mode="icons"] > #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button,
	#navigator-toolbox[iconsize=small][mode="icons"] > #nav-bar .toolbarbutton-1 {
		padding-left: 3px !important;
		padding-right: 3px !important;
	}
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1[type="menu-button"] {
		-moz-appearance: none !important;
		padding: 0 !important;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
	}
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1 {
		margin: 1px 3px !important;
	}
	#navigator-toolbox[iconsize=small][mode="icons"] > #nav-bar .toolbarbutton-1 {
		margin-left: 1px !important;
		margin-right: 1px !important;
	}
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
		-moz-border-start-style: none !important;
	}
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:-moz-locale-dir(ltr),
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker:-moz-locale-dir(rtl) {
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:-moz-locale-dir(rtl),
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker:-moz-locale-dir(ltr) {
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1[disabled="true"] {
	  opacity: .8 !important;
	}
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1[disabled="true"] > .toolbarbutton-icon {
	  opacity: .5 !important;
	}
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover {
	  background-color: hsla(190,60%,70%,.5) !important;
	  border-color: hsla(190,50%,65%,.8) hsla(190,50%,50%,.8) hsla(190,50%,40%,.8) !important;
	  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
				  0 0 0 1.5px rgba(255,255,255,.1) inset,
				  0 0 3.5px hsl(190,90%,80%) !important;
	  transition: background-color .4s ease-in,
					   border-color .3s ease-in,
					   box-shadow .3s ease-in !important;
	}
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1[open="true"] > .toolbarbutton-menubutton-dropmarker,
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1:not([type="menu-button"]):not([disabled="true"]):hover:active,
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1:not([type="menu-button"])[checked="true"],
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1[open="true"] {
	  background-color: transparent !important;
	  border-color: rgba(0,0,0,.65) rgba(0,0,0,.55) rgba(0,0,0,.5) !important;
	  box-shadow: 0 0 6.5px rgba(0,0,0,.4) inset,
				  0 0 2px rgba(0,0,0,.4) inset,
				  0 1px 0 rgba(255,255,255,.4) !important;
	}
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1[checked="true"]:not(:active):hover {
	  background-color: rgba(90%,90%,90%,.4) !important;
	  transition: background-color .4s !important;
	}
	#navigator-toolbox[iconsize=small] .toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
	#navigator-toolbox[iconsize=small] .toolbarbutton-1 > .toolbarbutton-icon {
	  -moz-margin-end: 0 !important;
	}
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1:not(:-moz-any(#back-button, #forward-button, #reload-button, #stop-button, #home-button, #print-button, #downloads-button, #history-button, #bookmarks-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #cut-button, #copy-button, #paste-button, #fullscreen-button, #zoom-out-button, #zoom-in-button, #sync-button, #feed-button, #alltabs-button, #tabview-button)) > .toolbarbutton-icon {
	  margin: 1px !important;
	}
	#navigator-toolbox[iconsize=small] toolbar[mode="full"] .toolbarbutton-1,
	#navigator-toolbox[iconsize=small] toolbar[mode="full"] .toolbarbutton-1 > .toolbarbutton-menubutton-button {
	  min-width: 57px !important;
	}
	#navigator-toolbox[iconsize=small] :-moz-any(#TabsToolbar, #addon-bar) .toolbarbutton-1,
	#navigator-toolbox[iconsize=small] :-moz-any(#TabsToolbar, #addon-bar) .toolbarbutton-1 > .toolbarbutton-menubutton-button,
	#navigator-toolbox[iconsize=small] .tabbrowser-arrowscrollbox > .scrollbutton-up,
	#navigator-toolbox[iconsize=small] .tabbrowser-arrowscrollbox > .scrollbutton-down {
	  -moz-appearance: none !important;
	  border-style: none !important;
	  padding: 0 3px !important;
	}
	#navigator-toolbox[iconsize=small] #TabsToolbar .toolbarbutton-1:not([disabled]):hover,
	#navigator-toolbox[iconsize=small] #TabsToolbar .toolbarbutton-1[open],
	#navigator-toolbox[iconsize=small] #TabsToolbar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):hover,
	#navigator-toolbox[iconsize=small] .tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled]):hover,
	#navigator-toolbox[iconsize=small] .tabbrowser-arrowscrollbox > .scrollbutton-down:not([disabled]):hover {
	  background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.5)),
						linear-gradient(transparent, rgba(0,0,0,.25) 30%),
						linear-gradient(transparent, rgba(0,0,0,.25) 30%) !important;
	  background-position: 1px -1px, 0 -1px, 100% -1px !important;
	  background-size: calc(100% - 2px) 100%, 1px 100%, 1px 100% !important;
	  background-repeat: no-repeat !important;
	}
	#navigator-toolbox[iconsize=small] #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker{
		padding: 0px !important;
	}
	#navigator-toolbox[iconsize=small] #nav-bar #back-button:-moz-locale-dir(ltr),
	#navigator-toolbox[iconsize=small] #nav-bar #zoom-out-button:-moz-locale-dir(ltr){
	  margin: 1px -2px 1px 1px !important;
	  border-top-right-radius: 0px !important;
	  border-bottom-right-radius: 0px !important;
	}
	#navigator-toolbox[iconsize=small] #nav-bar #forward-button:-moz-locale-dir(ltr),
	#navigator-toolbox[iconsize=small] #nav-bar #zoom-in-button:-moz-locale-dir(ltr){
	  border-top-left-radius: 0px !important;
	  border-bottom-left-radius: 0px !important;
	}
	#navigator-toolbox[iconsize=small] #nav-bar #back-button:-moz-locale-dir(rtl),
	#navigator-toolbox[iconsize=small] #nav-bar #forward-button:-moz-locale-dir(rtl){
	  border-top-left-radius: 0px !important;
	  border-bottom-left-radius: 0px !important;
	}
	#navigator-toolbox[iconsize=small] #nav-bar #back-button:-moz-locale-dir(rtl){
	  margin: 1px 1px 1px -2px !important;
	}	
	#navigator-toolbox[iconsize=small] #nav-bar #zoom-out-button:-moz-locale-dir(rtl){
	  margin: 1px 1px 1px -2px !important;
	  border-top-left-radius: 0px !important;
	  border-bottom-left-radius: 0px !important;
	}
	#navigator-toolbox[iconsize=small] #nav-bar #zoom-in-button:-moz-locale-dir(rtl){
	  border-top-right-radius: 0px !important;
	  border-bottom-right-radius: 0px !important;
	}
	
	/*FF14+ downloads button*/
	#nav-bar #downloads-button > .toolbarbutton-icon{
		list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
		-moz-image-region: rect(0, 108px, 18px, 90px) !important;
	}

	#nav-bar #downloads-indicator:not([counter]):not([attention]) > #downloads-indicator-anchor  > #downloads-indicator-icon{
		background: -moz-image-rect(url("chrome://browser/skin/Toolbar.png"), 0, 108, 18, 90) center no-repeat !important;
	}
	
	#nav-bar #downloads-indicator[attention] > #downloads-indicator-anchor > #downloads-indicator-icon,
	#nav-bar #downloads-indicator:not([counter])[attention] > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter {
	  background-image: url("chrome://browser/skin/icons/download-glow.png") !important;
	}
	
	#nav-bar #downloads-indicator{
		width:28px !important;
	}
	#nav-bar #downloads-indicator-counter {
	  height: 10px !important;
	  font-size: 10px !important;
	  line-height: 8px !important;
	  margin-top:-3px !important;
	}

	#nav-bar #downloads-indicator-progress {
	  width: 18px !important;
	  height: 3px !important;
	}

	#nav-bar #downloads-indicator:not([counter])[attention] > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter,
	#nav-bar #downloads-indicator[attention] > #downloads-indicator-anchor > #downloads-indicator-icon {
	  opacity: .8 !important;
	}
	#bookmarks-menu-button > dropmarker{
		visibility:collapse;
	}
    toolbar:not(#nav-bar) .toolbarbutton-1:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-button,
	toolbar:not(#nav-bar) .toolbarbutton-1:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker,
	toolbar:not(#nav-bar) .toolbarbutton-1:not([open="true"]):not(:active):hover {
	  -moz-appearance: none !important;
	  background-color: hsla(190,60%,70%,.5) !important;
	  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
				  0 0 0 1.5px rgba(255,255,255,.1) inset !important;
	  transition: background-color .4s ease-in,
					   border-color .3s ease-in,
					   box-shadow .3s ease-in !important;
	}
    toolbar:not(#nav-bar) .toolbarbutton-1:not([open="true"]):active:hover > .toolbarbutton-menubutton-button,
	toolbar:not(#nav-bar) .toolbarbutton-1:not([open="true"]):active:hover > .toolbarbutton-menubutton-dropmarker,
	toolbar:not(#nav-bar) .toolbarbutton-1:not([open="true"]):active:hover,
	toolbar:not(#nav-bar) .toolbarbutton-1[checked="true"] > .toolbarbutton-menubutton-button,
	toolbar:not(#nav-bar) .toolbarbutton-1[checked="true"] > .toolbarbutton-menubutton-dropmarker,
	toolbar:not(#nav-bar) .toolbarbutton-1[checked="true"]{
	  background-color: hsla(210,54%,20%,.2) !important;
	  box-shadow: 0 1px 1px rgba(0,0,0,.1) inset,
				  0 0 2px rgba(0,0,0,.3) inset !important;
	  text-shadow: none !important;
	  transition: none !important;
	}
}