@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/*override some default menulist settings for theme manager*/
#noiaop menupopup menuitem[_moz-menuactive]:not([disabled]){
	color:white !important;
	text-shadow:0 0 0.2em #000,0 0 0.2em #000,0 0 0.2em #000,
				0 0 0.2em #000,0 0 0.2em #000,0 0 0.2em #000,
				0 0 0.2em #000,0 0 0.2em #000,0 0 0.2em #000 !important;
}
#noiaop menupopup menuitem[_moz-menuactive][disabled]{
	color:black !important;
	text-shadow:none !important;
	opacity: .5 !important;
}

/* fix for CrystalSVG ext. menu icons */
splitmenu>.splitmenu-menuitem>.menu-iconic-left,
menuitem[label]:not(.searchbar-engine-menuitem)>.menu-iconic-left,
menupopup menu[label]>.menu-iconic-left,
popup menu[label]>.menu-iconic-left{
	-moz-appearance:none !important;
	padding-top:0px !important
}

.developer-toolbar-button:hover {
  color: inherit !important;
}

/* fixes for devtools toolbars*/
.devtools-toolbar .webconsole-filter-button > .toolbarbutton-menubutton-dropmarker{
	margin: 5px 0 0 2px !important;
}

.devtools-responsiveui-toolbar > menulist > dropmarker > image {
	margin-bottom: -10px !important;
}
.devtools-responsiveui-toolbar > menulist:hover,
.devtools-responsiveui-toolbar > toolbarbutton:hover {
	color:white !important;
}
#dbg-toolbar #sources > dropmarker,
#dbg-toolbar #scripts > dropmarker{
	margin-bottom: -12px !important;
}

/* fix for favicon add-ons */
#identity-box{
  padding-left: 2px !important;
  padding-right: 2px !important;
}
#identity-box:-moz-locale-dir(ltr){
  margin-right: -5px !important;
}
#fav-image,
#sitefavinurl-image{
  margin-left: 4px !important;
  margin-right: 5px !important;
}
#page-proxy-favicon:-moz-locale-dir(ltr) {
  margin-right: 6px !important;
}

#identity-box:-moz-locale-dir(rtl){
  margin-right: 0px !important;
}
#page-proxy-favicon:-moz-locale-dir(rtl) {
  margin-right: 2px !important;
}
.mixedContent #noia4favicon:-moz-locale-dir(rtl),
.verifiedDomain #noia4favicon:-moz-locale-dir(rtl),
.verifiedIdentity #noia4favicon:-moz-locale-dir(rtl){
  margin-left: 0px !important;
}

#identity-box:-moz-locale-dir(ltr) {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}
#identity-box:-moz-locale-dir(rtl) {
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}
/*make sure no add-on overrides Noia4s identity colors*/
#identity-box:not(.verifiedIdentity):not(.verifiedDomain) {
  background: linear-gradient(transparent, transparent),
                    url("chrome://browser/skin/icons/ib_startcap-start.png") no-repeat,
                    url("chrome://browser/skin/icons/ib_startcap-mid.png"),
                    url("chrome://browser/skin/icons/ib_startcap-end.png") no-repeat !important;
}
#identity-box.verifiedIdentity {
  background: linear-gradient(transparent, transparent),
                    url("chrome://browser/skin/icons/startcap-verified-start.png") no-repeat,
                    url("chrome://browser/skin/icons/startcap-verified-mid.png"),
                    url("chrome://browser/skin/icons/startcap-verified-end.png") no-repeat !important;
               
}
#identity-box.verifiedDomain {
  background: linear-gradient(transparent, transparent),
                    url("chrome://browser/skin/icons/startcap-secure-start.png") no-repeat,
                    url("chrome://browser/skin/icons/startcap-secure-mid.png"),
                    url("chrome://browser/skin/icons/startcap-secure-end.png") no-repeat !important;
}

#urlbar #feed-button{
  min-width: 26px !important;
}
#urlbar #feed-button > .toolbarbutton-icon{
 list-style-image: url("chrome://browser/skin/feeds/feed16.png") !important;
}

.devtools-toolbar{
  border:0 !important;
}
.jsterm-input-container{
  background: #394049 !important;
}