@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#navigator-toolbox[tabsontop] #TabsToolbar,
#navigator-toolbox[tabsontop=false] #TabsToolbar{
	-moz-appearance: none !important;
	background: none !important;
}

@media all and (-moz-windows-compositor) {
	#navigator-toolbox[tabsontop] #TabsToolbar{
		border:0px !important;
	}
}