@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@namespace html url(http://www.w3.org/1999/xhtml);

#addons-page *:hover >image,
window:not(#speeddialWindow) *:hover >image,
*:hover >.menu-iconic-icon,
*:hover >.button-icon,
*:hover >.treecol-icon,
*:hover >.xpinstallItemIcon,
*:hover >.addon-icon,
*:hover >.checkbox-check,
#noiaop radio:hover .radio-check-box1,
awcanvas:hover>image,image.search-go-button:hover,dropmarker:hover>image,#urlbar-icons>image:hover,
#urlbarext-icons>image:hover,#page-proxy-stack:hover>image,#xpinstallheader:hover>image,
installitem:hover>hbox>.xpinstallIconContainer>.xpinstallItemIcon,treecol:hover>.treecol-icon,
richlistitem:hover>hbox>.addon-icon>.addonIconStack>.addonIcon,statusbarpanel>[class="fs-toolbutton"]:hover,
statusbarpanel:hover>hbox>image,statusbarpanel:hover>image:not(.fs-toolbutton),tab:hover>*>image,tab:hover>image,
checkbox:hover>.checkbox-check,radio:hover>image,radio:hover>*>image,menuitem:hover>hbox>.menu-iconic-icon,
menu:hover>image.menubar-left,menu:hover>hbox>.menu-iconic-icon,toolbarbutton:hover>image,
hbox[id*="Button"]:not(#BottomAreaButtons):hover>.button-box>.button-icon,button:hover>.button-box>.button-icon{
	transform:rotate(15deg);
}