@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/*
menupopup > menu,
menupopup > menuitem,
popup > menu,
popup > menuitem,
menupopup menuitem,
menupopup menu,
.splitmenu-menuitem {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}*/
.splitmenu-menuitem,
.splitmenu-menu,
* menuitem{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom:0px !important;
  height:16px !important;
}