@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

menupopup > menu[_moz-menuactive="true"]:not([disabled="true"]),
menupopup > menuitem[_moz-menuactive="true"]:not([disabled="true"]),
popup > menu[_moz-menuactive="true"]:not([disabled="true"]),
popup > menuitem[_moz-menuactive="true"]:not([disabled="true"]),
menupopup menuitem[_moz-menuactive],
menupopup menu[_moz-menuactive],
.splitmenu-menuitem[_moz-menuactive],
treechildren::-moz-tree-row(selected,focus),
treechildren::-moz-tree-row(hover,selected) {
  background: none !important;
  background-image: none !important;
}

menupopup menuitem[_moz-menuactive][disabled],
menupopup menu[_moz-menuactive][disabled],
.splitmenu-menuitem[_moz-menuactive][disabled]{
	text-shadow: none !important;
}