@import url("chrome://browser/skin/tcsettings/skin_blue.css");
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#navigator-toolbox toolbar:not(#TabsToolbar):not(#nav-bar):not(#addon-bar):not(#status-bar):not(#PersonalToolbar):not(#inspector-toolbar):not(.devtools-toolbar):not(.devtools-tabbar),
#navigator-toolbox #PersonalToolbar,
#navigator-toolbox #nav-bar,
#navigator-toolbox menubar,
#navigator-toolbox #toolbar-menubar,
#navigator-toolbox toolbar:not(#TabsToolbar):not(#nav-bar):not(#addon-bar):not(#status-bar):not(#PersonalToolbar):not(#inspector-toolbar):not(.devtools-toolbar):not(#personal-titlebar):not(.devtools-tabbar){
	-moz-appearance: none !important;
	background: none !important;
}

#navigator-toolbox {
  -moz-appearance: none !important;
  background: #9fd5f0  url("chrome://browser/skin/icons/Tool-background-blue.png") top left repeat-x  !important;
  border: 0px !important;
}

#navigator-toolbox[iconsize="small"] {
  -moz-appearance: none !important;
  background: #9fd5f0 url("chrome://browser/skin/icons/Tool-background2-blue.png") top left repeat-x  !important;
  border: 0px !important;
}

#navigator-toolbox #TabsToolbar {
  -moz-appearance: none !important;
  background: linear-gradient(#bce3f4,#f0f9fc,#c9e7ff) !important;
}

menubar > menu{
	background: none !important;
}

#main-window[tabsintitlebar][sizemode="maximized"] #titlebar-buttonbox {
	-moz-appearance: none !important;
}

#main-window[tabsintitlebar][sizemode="maximized"] .titlebar-button:not(:-moz-lwtheme) {
    display: inline !important;
	margin-top: -3px !important;
}
#main-window[tabsintitlebar][sizemode="maximized"]  #TabsToolbar{
	margin-right:0px !important;
}
#toolbar-menubar{
  border-top: 0px !important;
}