@import url("chrome://browser/skin/tcsettings/skin_black.css");
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#navigator-toolbox toolbar:not(#TabsToolbar):not(#nav-bar):not(#addon-bar):not(#status-bar):not(#PersonalToolbar):not(#inspector-toolbar):not(.devtools-toolbar):not(.devtools-tabbar),
#navigator-toolbox #PersonalToolbar,
#navigator-toolbox #nav-bar,
#navigator-toolbox menubar,
#navigator-toolbox #toolbar-menubar{
	-moz-appearance: none !important;
	background: none !important;
}

#navigator-toolbox {
  -moz-appearance: none !important;
  background: #515151 url("chrome://browser/skin/icons/Tool-background-black.png") top left repeat-x !important;
  border: 0px !important;
}

#navigator-toolbox[iconsize="small"] {
  -moz-appearance: none !important;
  background: #515151 url("chrome://browser/skin/icons/Tool-background2-black.png") top left repeat-x !important;
  border: 0px !important;
}

#navigator-toolbox #TabsToolbar  {
	-moz-appearance: none !important;
	background-image: url("chrome://browser/skin/icons/Bookmark-background3.png") !important;
}

menubar > menu{
	background: none !important;
}

#main-window[tabsintitlebar][sizemode="maximized"] #titlebar-buttonbox {
	-moz-appearance: none !important;
}

#main-window[tabsintitlebar][sizemode="maximized"] .titlebar-button:not(:-moz-lwtheme) {
    display: inline !important;
	margin-top: -3px !important;
}
#main-window[tabsintitlebar][sizemode="maximized"]  #TabsToolbar{
	margin-right:0px !important;
}