@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#main-window[sizemode=fullscreen],
#toolbar-menubar{
	-moz-appearance: -moz-win-glass !important; 
	background: rgba(184,194,196, .1) !important;
}

#urlbar:not(:hover):not([focused=true]),
.searchbar-textbox:not(:hover):not([focused=true]) {
  opacity: .85 !important;
}

.tabs-newtab-button{
	background: url(chrome://browser/skin/icons/active_glass_tab2.png) !important;
}
.tabs-newtab-button:hover  {
	background-image: url(chrome://browser/skin/icons/active_glass_tab_focus2.png) !important;
}

menubar > menu{
	background: none !important;}

toolbar:not(#aios-toolbar):not(#vertical-toolbar):not(#inspector-toolbar):not(.devtools-toolbar):not(.devtools-tabbar),
#toolbar-menubar,menubar[tabsontop=true],
#PersonalToolbar,#TabsToolbar,
#status-bar,#addon-bar,statusbar,statusbarpanel,#browser-bottombox{
	-moz-appearance: none !important;
	background-image: none !important;
	background: none !important;}

toolbar, menubar {
  border-left: 1px solid transparent !important;
  border-top: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
  border-bottom: 1px solid transparent !important;}

#navigator-toolbox {
  border-bottom: 1px solid !important;
  -moz-border-bottom-colors: #808080 !important;}

#navigator-toolbox[iconsize="small"] {
  border-bottom: 1px solid !important;
  -moz-border-bottom-colors: #808080 !important;}

toolbarseparator {
  border-right: 1px solid #515151 !important;
  border-left: 1px solid Transparent !important;
}

#addon-bar, .browserContainer > findbar, #FindToolbar {
	-moz-appearance: none !important;
	background: none !important;
	border:0 !important;}

#FindToolbar:not([hidden]) ~ #addon-bar{
	border: none !important;
}

.browserContainer > findbar,
#FindToolbar {
	padding: 0px !important;
	text-shadow: RGBa(255,255,255,.8) 1px 1px 9px, RGBa(255,255,255,.8) -1px 1px 9px, RGBa(255,255,255,.8) 1px -1px 9px, RGBa(255,255,255,.8) -1px -1px 9px !important;
	color: #000 !important;
	border: none !important;}

#FindToolbar .findbar-find-next, #FindToolbar .findbar-find-previous, #FindToolbar .findbar-highlight{
	color: #000 !important;}

#FindToolbar .findbar-find-next > label, #FindToolbar .findbar-find-previous > label {
	display: none !important;}

#FindToolbar .findbar-find-next > image, #FindToolbar .findbar-find-previous > image {
	margin: 0px !important;}

#FindToolbar .findbar-textbox {
	-moz-appearance: none !important;
	background-color: rgba(255,255,255,.725) !important;
	height: 21px !important;
	box-shadow: 0 1px 0 RGBa(0,0,0,.1) inset,
				0 1px 0 RGBa(255,255,255,.4) !important;}

#FindToolbar .findbar-textbox:hover {
	background-color: RGBa(255,255,255,.8) !important;}

#FindToolbar .findbar-textbox[status="notfound"] {
	background-color: Red !important;}

#sync-notifications, #content{
	box-shadow: none !important;
	background-color: RGBa(255,255,127,.1) !important;}

notification {
	-moz-appearance: none !important;
	background-color: RGBa(255,255,127,.5) !important;
	background-image: url("chrome://mozapps/skin/extensions/stripes-warning.png") !important;
	background-repeat: repeat-x !important;
	font-weight: bold !important;
	color: #916D15 !important;
	text-shadow: RGBa(255,255,255,.8) 1px 1px 9px, RGBa(255,255,255,.8) -1px 1px 9px, RGBa(255,255,255,.8) 1px -1px 9px, RGBa(255,255,255,.8) -1px -1px 9px !important;}

notification[type="critical"] {
	background-color: RGBa(255,63,63,.5) !important;
	background-image: url("chrome://mozapps/skin/extensions/stripes-error.png") !important;
	color: #864441 !important;}

notification[type="info"]  {
	background-color: RGBa(112,162,232,.5) !important;
	background-image: url("chrome://mozapps/skin/extensions/stripes-info-negative.png") !important;
	color: #3F3F3F !important;}

notification > * {
	border: none !important;
	border-top: 1px solid RGBa(0,0,0,.37) !important;
	border-bottom: 1px solid RGBa(0,0,0,.37) !important;}

#sync-notifications notification > * {
	border-bottom: none !important;}

#content notification > *{
	border-top: none !important;}

#browser-bottombox .toolbarbutton-menu-dropmarker .dropmarker-icon {
	display: none !important;}