@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#TabsToolbar[orient="vertical"]{
	background: linear-gradient(#e8e8ec,#adaebb) !important;
}

toolbar:not(#TabsToolbar):not(#addon-bar):not(#status-bar):not(#PersonalToolbar):not(#inspector-toolbar):not(.devtools-toolbar):not(#aios-toolbar):not(#vertical-toolbar):not(.devtools-tabbar),
#toolbar-menubar,menubar[tabsontop=true],#PersonalToolbar{
	-moz-appearance: none !important;
	background-image: none !important;
}

#navigator-toolbox {
  -moz-appearance: none !important;
  background: #FFFFFF url("chrome://browser/skin/icons/Tool-background.png") top left repeat-x !important;
  border: 0px !important;
}

#navigator-toolbox[iconsize="small"] {
  -moz-appearance: none !important;
  background: #FFFFFF url("chrome://browser/skin/icons/Tool-background2.png") top left repeat-x !important;
  border: 0px !important;
}

#TabsToolbar{
	-moz-appearance: none !important;
	background-image: url("chrome://browser/skin/icons/Bookmark-background1.png") !important;
}

menubar > menu{
	background: none !important;
}

@media not all and (-moz-windows-compositor) {
	#titlebar,#main-window{
	  -moz-appearance:none !important;
	  background: #a3a6b1 !important;
	}
}

#main-window[tabsintitlebar][sizemode="maximized"] #titlebar-buttonbox {
	-moz-appearance: none !important;
}

#main-window[tabsintitlebar][sizemode="maximized"] .titlebar-button:not(:-moz-lwtheme) {
    display: inline !important;
	margin-top: -3px !important;
}
#main-window[tabsintitlebar][sizemode="maximized"]  #TabsToolbar{
	margin-right:0px !important;
}

#aios-toolbar,#vertical-toolbar{
	background: linear-gradient(#e8e8ec,#adaebb) !important;
}

#toolbar-menubar{
  border-top: 0px !important;
}