@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#TabsToolbar[orient="vertical"]{
	background: linear-gradient(#e8e8ec,#adaebb) !important;
}

#navigator-toolbox[tabsontop=false] #TabsToolbar{
	-moz-appearance: none !important;
	background: linear-gradient(#f4f5f6,#cdcfd8,#f4f5f6) !important;
}
	
@media all and (-moz-windows-compositor) {
	#nav-bar{
		background: linear-gradient(#c7cad4,#f0f1f3) !important;
	}

	#PersonalToolbar {
		background: linear-gradient(#f0f1f3,#fafafb) !important;
	}
	
	#addon-bar, #status-bar{
		background-image: url("chrome://browser/skin/icons/Bookmark-background1.png") !important;
	}
	
	toolbar:not(#TabsToolbar):not(#nav-bar):not(#addon-bar):not(#status-bar):not(#PersonalToolbar):not(#inspector-toolbar):not(.devtools-toolbar):not(#personal-titlebar):not(.devtools-tabbar){
		background: linear-gradient(#fafafb,#f0f1f3,#fafafb) !important;
	}
}

@media not all and (-moz-windows-compositor) {
	#titlebar,#main-window{
	  -moz-appearance:none !important;
	  background: #ced3de !important;
	}

	toolbar:not(#TabsToolbar):not(#nav-bar):not(#addon-bar):not(#status-bar):not(#PersonalToolbar):not(#inspector-toolbar):not(.devtools-toolbar):not(#aios-toolbar):not(#vertical-toolbar):not(.devtools-tabbar),
	#toolbar-menubar,menubar[tabsontop=true],
	#PersonalToolbar{
		-moz-appearance: none !important;
		background-image: none !important;
	}

	#navigator-toolbox {
	  -moz-appearance: none !important;
	  background-image: linear-gradient(#caced7,#ffffff) !important;
	  border: 0px !important;
	}

	#navigator-toolbox[iconsize="small"]{
	  -moz-appearance: none !important;
	  background-image: linear-gradient(#caced7,#ffffff) !important;
	  border: 0px !important;
	}
	#navigator-toolbox #TabsToolbar{
		-moz-appearance: none !important;
		background: linear-gradient(#f4f5f6,#cdcfd8,#f4f5f6) !important;
	}
}

/*Personal titlebar ext.*/
#personal-titlebar,#personal-titlebar menubar > menu{
	background: none !important;
}

#aios-toolbar,#vertical-toolbar{
	background: linear-gradient(#e8e8ec,#adaebb) !important;
}