#zoom-in-button,
toolbar[iconsize='small']  #zoom-in-button {
 list-style-image: url("chrome://browser/skin/icons/tbx-small.png") !important;
 -moz-image-region: rect(0px 200px 20px 180px) !important;
}
#zoom-out-button,
toolbar[iconsize='small'] #zoom-out-button {
 list-style-image: url("chrome://browser/skin/icons/tbx-small.png") !important;
 -moz-image-region: rect(0px 160px 20px 140px) !important;
}

#zoom-in-button:hover,
#zoom-in-button:hover:active ,
toolbar[iconsize='small'] #zoom-in-button:hover,
toolbar[iconsize='small'] #zoom-in-button:hover:active {
 list-style-image: url("chrome://browser/skin/icons/zoom-small.png") !important;
 -moz-image-region: rect(0px 40px 20px 20px) !important;
}

#zoom-out-button:hover,
#zoom-out-button:hover:active,
toolbar[iconsize='small'] #zoom-out-button:hover,
toolbar[iconsize='small'] #zoom-out-button:hover:active {
 list-style-image: url("chrome://browser/skin/icons/zoom-small.png") !important;
 -moz-image-region: rect(0px 20px 20px 0px) !important;
}

#addons-button {
	list-style-image: url(chrome://browser/skin/icons/aios-large.png) !important;
	-moz-image-region: rect(0px, 64px, 32px, 32px) !important;
}
#addons-button:hover {
	list-style-image: url(chrome://browser/skin/icons/aios-large.png) !important;
	-moz-image-region: rect(0px, 32px, 32px, 0px) !important;
}
#multipanel-button {
	list-style-image: url(chrome://browser/skin/icons/aios-large.png) !important;
	-moz-image-region: rect(0px, 128px, 32px, 96px) !important;
}
#multipanel-button:hover {
	list-style-image: url(chrome://browser/skin/icons/aios-large.png) !important;
	-moz-image-region: rect(0px, 96px, 32px, 64px) !important;
}
#pageinfo-button {
	list-style-image: url(chrome://browser/skin/icons/aios-large.png) !important;
	-moz-image-region: rect(0px, 192px, 32px, 160px) !important;
}
#pageinfo-button:hover {
	list-style-image: url(chrome://browser/skin/icons/aios-large.png) !important;
	-moz-image-region: rect(0px, 160px, 32px, 128px) !important;
}
toolbar[iconsize="small"] #addons-button {
	list-style-image: url(chrome://browser/skin/icons/aios-small.png) !important;
	-moz-image-region: rect(0px, 56px, 28px, 28px) !important;
}
toolbar[iconsize="small"] #addons-button:hover {
	list-style-image: url(chrome://browser/skin/icons/aios-small.png) !important;
	-moz-image-region: rect(0px, 28px, 28px, 0px) !important;
}
toolbar[iconsize="small"] #multipanel-button {
	list-style-image: url(chrome://browser/skin/icons/aios-small.png) !important;
	-moz-image-region: rect(0px, 112px, 28px, 84px) !important;
}
toolbar[iconsize="small"] #multipanel-button:hover {
	list-style-image: url(chrome://browser/skin/icons/aios-small.png) !important;
	-moz-image-region: rect(0px, 84px, 28px, 56px) !important;
}
toolbar[iconsize="small"] #pageinfo-button {
	list-style-image: url(chrome://browser/skin/icons/aios-small.png) !important;
	-moz-image-region: rect(0px, 168px, 28px, 140px) !important;
}
toolbar[iconsize="small"] #pageinfo-button:hover {
	list-style-image: url(chrome://browser/skin/icons/aios-small.png) !important;
	-moz-image-region: rect(0px, 140px, 28px, 112px) !important;
}

#nav-bar #noiaop-toolbar-button {
  list-style-image: url("chrome://browser/skin/icons/n4-r.png") !important;
}

#nav-bar[iconsize="small"] #noiaop-toolbar-button {
  list-style-image: url("chrome://browser/skin/icons/n4-small-r.png") !important;
}

#addon-bar #print-button {
  list-style-image: url("chrome://browser/skin/icons/print-tiny-r.png") !important;
  -moz-image-region: rect(0px 16px 16px 0px) !important;
}
#addon-bar #print-button:not([disabled="true"]):hover {
  -moz-image-region: rect(16px 16px 32px 0px) !important;
}
#addon-bar #print-button[disabled="true"] {
  -moz-image-region: rect(32px 16px 48px 0px) !important;
}
#addon-bar #print-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(0px 16px 16px 0px) !important;
}

toolbar[iconsize="large"][mode="icons"] #back-forward-dropmarker {
  list-style-image: url("chrome://browser/skin/icons/dropmarker-r.png") !important;
}

/* ::::: large icons :::::*/
#back-button {
  list-style-image: url("chrome://browser/skin/icons/back-r.png") !important;
}

#forward-button {
  list-style-image: url("chrome://browser/skin/icons/forward-r.png") !important;
}

#reload-button {
 list-style-image: url("chrome://browser/skin/icons/reload-r.png") !important;
}

#stop-button {
  list-style-image: url("chrome://browser/skin/icons/stop-r.png") !important;
}

#home-button {
  list-style-image: url("chrome://browser/skin/icons/home-r.png") !important;
}

#print-button {
  list-style-image: url("chrome://browser/skin/icons/print-r.png") !important;
}

#n4_new-tab-button,
#new-tab-button {
  list-style-image: url("chrome://browser/skin/icons/new_tab-r.png") !important;
}

#new-window-button {
  list-style-image: url("chrome://browser/skin/icons/new_window-r.png") !important;
}

#downloads-button {
  list-style-image: url("chrome://browser/skin/icons/downloads-r.png") !important;
}

#downloads-indicator{
	background: -moz-image-rect(url("chrome://browser/skin/icons/downloads-r.png"), 0, 32, 32, 0) center no-repeat !important;
}
#downloads-indicator:not([disabled="true"]):hover {
  background: -moz-image-rect(url("chrome://browser/skin/icons/downloads-r.png"), 32, 32, 64, 0) center no-repeat !important;
}
#downloads-indicator[disabled="true"] {
  background: -moz-image-rect(url("chrome://browser/skin/icons/downloads-r.png"), 64, 32, 96, 0) center no-repeat !important;
}
#downloads-indicator:not([disabled="true"]):hover:active {
  background: -moz-image-rect(url("chrome://browser/skin/icons/downloads-r.png"), 0, 32, 32, 0) center no-repeat !important;
}

#bookmarks-button {
  list-style-image: url("chrome://browser/skin/icons/bookmarks-r.png") !important;
}

#history-button {
 list-style-image: url("chrome://browser/skin/icons/history-r.png") !important;
}

#cut-button {
 list-style-image: url("chrome://browser/skin/icons/cut-r.png") !important;
}

#copy-button {
 list-style-image: url("chrome://browser/skin/icons/copy-r.png") !important;
}

#paste-button {
 list-style-image: url("chrome://browser/skin/icons/paste-r.png") !important;
}

#fullscreen-button {
 list-style-image: url("chrome://browser/skin/icons/fullscreen-r.png") !important;
}

#feed-button {
  list-style-image: url("chrome://browser/skin/feeds/feed24.png");
}

#feed-button:hover {
  list-style-image: url("chrome://browser/skin/feeds/feed124.png");
}

#sync-button {
  list-style-image: url(chrome://browser/skin/icons/sync24.png) !important;
  -moz-image-region: rect(0px 24px 24px 0px) !important;
}

#sync-button:hover {
  -moz-image-region: rect(24px 24px 48px 0px) !important;
}

#webrtc-status-button {
 list-style-image: url("chrome://browser/skin/icons/webrtc-r.png") !important;
}

#social-share-button {
  list-style-image: url("chrome://browser/skin/icons/share_button-r.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px) !important;
}
#social-share-button:not([disabled="true"]):hover {
  -moz-image-region: rect(32px 32px 64px 0px) !important;
}
#social-share-button[disabled="true"] {
  -moz-image-region: rect(64px 32px 96px 0px) !important;
}
#social-share-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(0px 32px 32px 0px) !important;
}

/* ::::: small primary toolbar buttons ::::: */
toolbar[iconsize='small']  #sync-button {
  list-style-image: url(chrome://browser/skin/icons/sync16.png) !important;
   -moz-image-region: rect(0px 16px 16px 0px) !important;
}

toolbar[iconsize='small']  #sync-button:hover {
  -moz-image-region: rect(16px 16px 32px 0px) !important;
}

toolbar[iconsize='small']  #feed-button {
  list-style-image: url("chrome://browser/skin/feeds/feed16.png");
}

toolbar[iconsize='small']  #feed-button:hover {
  list-style-image: url("chrome://browser/skin/feeds/feed116.png");
}

toolbar[iconsize="small"] #back-button {
  list-style-image: url("chrome://browser/skin/icons/back-small-r.png") !important;
}

toolbar[iconsize="small"] #forward-button {
  list-style-image: url("chrome://browser/skin/icons/forward-small-r.png") !important;
}

toolbar[iconsize="small"] #reload-button {
  list-style-image: url("chrome://browser/skin/icons/reload-small-r.png") !important;
}

toolbar[iconsize="small"] #stop-button {
  list-style-image: url("chrome://browser/skin/icons/stop-small-r.png") !important;
}

toolbar[iconsize="small"] #home-button {
  list-style-image: url("chrome://browser/skin/icons/home-small-r.png") !important;
}

toolbar[iconsize="small"] #print-button {
  list-style-image: url("chrome://browser/skin/icons/print-small-r.png") !important;
}

toolbar[iconsize="small"] #downloads-button {
  list-style-image: url("chrome://browser/skin/icons/downloads-small-r.png") !important;
}

toolbar[iconsize="small"] #downloads-indicator{
	background: -moz-image-rect(url("chrome://browser/skin/icons/downloads-small-r.png"), 0, 24, 24, 0) center no-repeat !important;
}
toolbar[iconsize="small"] #downloads-indicator:not([disabled="true"]):hover {
  background: -moz-image-rect(url("chrome://browser/skin/icons/downloads-small-r.png"), 24, 24, 48, 0) center no-repeat !important;
}
toolbar[iconsize="small"] #downloads-indicator[disabled="true"] {
  background: -moz-image-rect(url("chrome://browser/skin/icons/downloads-small-r.png"), 48, 24, 72, 0) center no-repeat !important;
}
toolbar[iconsize="small"] #downloads-indicator:not([disabled="true"]):hover:active {
  background: -moz-image-rect(url("chrome://browser/skin/icons/downloads-small-r.png"), 0, 24, 24, 0) center no-repeat !important;
}
toolbar[iconsize="small"] #n4_new-tab-button,
toolbar[iconsize="small"] #new-tab-button {
  list-style-image: url("chrome://browser/skin/icons/new_tab-small-r.png") !important;
}

toolbar[iconsize="small"] #new-window-button {
  list-style-image: url("chrome://browser/skin/icons/new_window-small-r.png") !important;
}

toolbar[iconsize="small"] #bookmarks-button {
  list-style-image: url("chrome://browser/skin/icons/bookmarks-small-r.png") !important;
}

toolbar[iconsize="small"] #history-button {
  list-style-image: url("chrome://browser/skin/icons/history-small-r.png") !important;
}

toolbar[iconsize="small"] #cut-button {
  list-style-image: url("chrome://browser/skin/icons/cut-small-r.png") !important;
}

toolbar[iconsize="small"] #copy-button {
  list-style-image: url("chrome://browser/skin/icons/copy-small-r.png") !important;
}

toolbar[iconsize="small"] #paste-button {
  list-style-image: url("chrome://browser/skin/icons/paste-small-r.png") !important;
}

toolbar[iconsize="small"] #fullscreen-button {
  list-style-image: url("chrome://browser/skin/icons/fullscreen-small-r.png") !important;
}

toolbar[iconsize="small"] #webrtc-status-button {
  list-style-image: url("chrome://browser/skin/icons/webrtc-small-r.png") !important;
}

toolbar[iconsize="small"] #social-share-button {
  list-style-image: url("chrome://browser/skin/icons/share_button-small-r.png") !important;
  -moz-image-region: rect(0px 24px 24px 0px) !important;
}
toolbar[iconsize="small"] #social-share-button:not([disabled="true"]):hover {
  -moz-image-region: rect(24px 24px 48px 0px) !important;
}
toolbar[iconsize="small"] #social-share-button[disabled="true"] {
  -moz-image-region: rect(48px 24px 72px 0px) !important;
}
toolbar[iconsize="small"] #social-share-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(0px 24px 24px 0px) !important;
}

.toolbarbutton-1:not(#back-button ):not(#forward-button) {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.toolbarbutton-menubutton-button {
  -moz-padding-start: 0px !important;
}

toolbarbutton.bookmark-item {
  padding: 0px 3px 0px 3px !important;
}

#home-button.bookmark-item:not([disabled="true"]) {
  list-style-image: url("chrome://global/skin/CuteMenus/home.png") !important;
  -moz-image-region: rect(0px 16px 16px 0px) !important;
}
#home-button.bookmark-item:hover,
#home-button.bookmark-item:hover:active {
  list-style-image: url("chrome://global/skin/CuteMenus/home1.png") !important;
  -moz-image-region: rect(0px 16px 16px 0px) !important;
}

#placesToolbar > #back-button {
  list-style-image: url("chrome://browser/skin/icons/back-small-r.png") !important;
}

#placesToolbar > #forward-button {
    list-style-image: url("chrome://browser/skin/icons/forward-small-r.png") !important;
}