@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tabs-newtab-button:not([selected="true"]):not(:hover):not([style*="background-image"]):not([style*="background"]):not([style*="background-color"]) ,
.tabbrowser-tab:not([selected="true"]):not(:hover):not([style*="background-image"]):not([style*="background"]):not([style*="background-color"]) {
  background: url("chrome://browser/skin/icons/Bookmark-background1.png") !important;
}

.tabbrowser-tab[selected="true"] {
  background: url("chrome://browser/skin/icons/Bookmark-background.png") !important;
}

.tabs-newtab-button:hover,
.tabbrowser-tab:hover{
  background: url("chrome://browser/skin/icons/Bookmark-background_tr2.png") !important;
}

.tabs-newtab-button:not(:focus),
.tabbrowser-tab:not([style*="background-image"]):not([style*="background"]):not([style*="background-color"]):not(:focus){
  border: 2px solid !important;
  -moz-border-top-colors: #969797 #e0e0e0 !important;
  -moz-border-right-colors: #969797 #e0e0e0 !important;
  -moz-border-left-colors: #969797 #e0e0e0 !important;
  -moz-border-bottom-colors: #969797 #e0e0e0 !important;
}

.tabs-newtab-button:focus,
.tabbrowser-tab:not([style*="background-image"]):not([style*="background"]):not([style*="background-color"]):focus{
  border: 2px solid blue !important;
}

.tabbrowser-tab:hover,
.tabbrowser-tab[selected="true"]:not([style*="background-image"]):not([style*="background"]):not([style*="background-color"]) {
  -moz-border-top-colors: #4379bd #c7ecfb !important;
  -moz-border-right-colors: #4379bd #c7ecfb !important;
  -moz-border-left-colors: #4379bd #c7ecfb !important;
  -moz-border-bottom-colors: #4379bd #c7ecfb !important;
}