@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tabbrowser-tab:not([selected="true"]):not(:hover):not([style*="background-image"]):not([style*="background"]):not([style*="background-color"]) {
  background: url("chrome://browser/skin/icons/Bookmark-background3.png") !important;
}

.tabbrowser-tab[selected="true"] {
  background: url("chrome://browser/skin/icons/Bookmark-background.png") !important;
}

.tabbrowser-tab:hover{
  background: url("chrome://browser/skin/icons/Bookmark-background_tr2.png") !important;
}

.tabs-newtab-button:not(:focus),
.tabbrowser-tab:not([style*="background-image"]):not([style*="background"]):not([style*="background-color"]):not(:focus){
	border: 1px solid #a0a0a0 !important;
}

.tabs-newtab-button:focus,
.tabbrowser-tab:not([style*="background-image"]):not([style*="background"]):not([style*="background-color"]):focus{
	border: 1px solid blue !important;
}

.tabs-newtab-button,
.tabbrowser-tab {
	margin-right:1px;
	-moz-border-top-colors: #696969 !important;
	-moz-border-bottom-colors: #A0A0A0 !important;
	-moz-border-right-colors: #696969 !important;
	-moz-border-left-colors: #696969 !important;  
}

.tabbrowser-tab:hover,
.tabbrowser-tab[selected="true"] {
  -moz-border-top-colors: #B6E2FE #88AFE3 !important;
  -moz-border-bottom-colors: #B6E2FE #88AFE3 !important;
  -moz-border-right-colors: #B6E2FE #88AFE3 !important;
  -moz-border-left-colors: #B6E2FE #88AFE3 !important;
}

.tabs-newtab-button{
	border: 1px solid #a0a0a0 !important;
	-moz-border-top-colors: #696969 !important;
	-moz-border-bottom-colors: #A0A0A0 !important;
	-moz-border-right-colors: #696969 !important;
	-moz-border-left-colors: #696969 !important; 
	background-image: url("chrome://browser/skin/icons/Bookmark-background3.png") !important;
}

.tabs-newtab-button:hover{
  background-image: url("chrome://browser/skin/icons/Bookmark-background2.png") !important;
  background-color: Transparent !important;
}

.tabs-newtab-button  > .toolbarbutton-icon {
  list-style-image: url("chrome://browser/skin/icons/newtab.png") !important;
  opacity: 0.7 !important;
}

.tabs-newtab-button:hover  > .toolbarbutton-icon {
  list-style-image: url("chrome://browser/skin/icons/newtab.png") !important;
  opacity: 1 !important;
}

@media all and (-moz-windows-compositor) {
	#TabsToolbar[tabsontop] .tabbrowser-tabs{
		margin-bottom:-1px !important;
}