@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tabbrowser-tab,
.tabs-newtab-button,
.tabs-newtab-button:hover {
	-moz-appearance: none !important;
	background-image: none !important;
	background: none !important;
}

.tabs-newtab-button:not(:focus),
.tabbrowser-tab:not([style*="background-image"]):not([style*="background"]):not([style*="background-color"]):not(:focus){
	border: 1px solid #a0a0a0 !important;
}

.tabs-newtab-button:focus,
.tabbrowser-tab:not([style*="background-image"]):not([style*="background"]):not([style*="background-color"]):focus{
	border: 1px solid blue !important;
}

.tabs-newtab-button,
.tabbrowser-tab {
	margin-right:1px;
}