@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#titlebar{
  -moz-appearance: -moz-window-titlebar !important;
}
#titlebar-min {
  -moz-appearance: -moz-window-button-minimize !important;
  list-style-image:none !important;
}
#titlebar-max {
  -moz-appearance: -moz-window-button-maximize !important;
  list-style-image:none !important;
}
#main-window[sizemode="maximized"] #titlebar-max {
  -moz-appearance: -moz-window-button-restore !important;
  list-style-image:none !important;
}
#titlebar-close {
  -moz-appearance: -moz-window-button-close !important;
  list-style-image:none !important;
}
#titlebar-min, #titlebar-max{
  margin-right: 0px !important;
}
#titlebar-max{
  margin-right: -2px !important;
}