@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#minimize-button, #restore-button,#maximize-button{
	margin-right: 0px !important;
}

#minimize-button,#titlebar-min {
  list-style-image: url("chrome://browser/skin/icons/minimize.png") !important;
}

#maximize-button,#titlebar-max  {
  list-style-image: url("chrome://browser/skin/icons/restore.png") !important;
}

#restore-button,#main-window[sizemode=maximized] #titlebar-max {
  list-style-image: url("chrome://browser/skin/icons/restore.png") !important;
} 

#close-button,#titlebar-close {
  list-style-image: url("chrome://browser/skin/icons/close.png") !important;
} 

#minimize-button:hover, #minimize-button:hover:active,#titlebar-min:hover {
  list-style-image: url("chrome://browser/skin/icons/minimizeX.png") !important;
}

#maximize-button:hover, #maximize-button:hover:active,#titlebar-max:hover  {
  list-style-image: url("chrome://browser/skin/icons/restoreO.png") !important;
}

#restore-button:hover, #restore-button:hover:active,#main-window[sizemode=maximized] #titlebar-max:hover {
  list-style-image: url("chrome://browser/skin/icons/restoreX.png") !important;
}

#close-button:hover, #close-button:hover:active,#titlebar-close:hover {
  list-style-image: url("chrome://browser/skin/icons/closeX.png") !important;
}
#restartfirefox-button{
	list-style-image: url("chrome://browser/skin/icons/rest_mac1.png") !important;
}
#restartfirefox-button:hover{
	list-style-image: url("chrome://browser/skin/icons/rest_mac2.png") !important;
}