#genericAbout {
  min-height: 200px;
  width: 30em;
  max-height: 400px;
  padding: 0 0 10px;
}

#clientBox {
  color: #000;
  padding: 10px;
}

#extensionIcon {
 list-style-image: url(chrome://mozapps/skin/extensions/category-extensions.png);
  max-width: 64px;
  max-height: 64px;
  -moz-margin-end: 6px;
}

#extensionName {
  font-size: large;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}

#extensionVersion {
  color: #909090;
  font-weight: bold;
}

#extensionDescription {
  color: #404040;
}

#contributorsBox {
  height: 150px !important;
  max-height: 150px !important;
}

#extensionCreator, .contributor {
  margin: 0;
}

#extensionDetailsBox {
  overflow: auto;
  min-height: 100px;
}

.boxIndent {
  -moz-margin-start: 10px;
}

.sectionTitle {
  font-weight: bold;
  margin-top: 3px;
  padding: 2px 0 3px;
  border-top: 2px solid #c0c0c0;
}