#alert {
  list-style-image: url("chrome://mozapps/skin/update/update.png"); 
}

.throbber {
  list-style-image: url(chrome://global/skin/icons/loading.png);
  width: 16px;
  height: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  -moz-margin-start: 5px;
  -moz-margin-end: 2px;
}

.alertBox {
  background-color: #FFFFE1;
  color: #000000;
  border: 1px outset #FFFFE1;
  margin-left: 3px;
  margin-right: 3px;
  padding: 5px;
}
