@import url(chrome://browser/skin/browser-nonLinux.css);

@media not all and (-moz-windows-classic) {
  #main-window[sizemode=maximized] #titlebar-buttonbox {
    margin-top: 3px;
  }
}

@media all and (-moz-windows-compositor) {
	#main-window[tabsintitlebar] #titlebar-buttonbox {
	  margin-bottom: -20px;
	}

	#main-window[sizemode=normal] #navigator-toolbox[tabsontop=true] > #toolbar-menubar[autohide=true] ~ #TabsToolbar {
	  margin-top: -2px;
	}

	#navigator-toolbox, #navigator-toolbox[iconsize="small"]{
		-moz-appearance: -moz-win-borderless-glass;
		background: transparent;
	}

	#nav-bar{
		background: linear-gradient(#a3a6b1,#c7c9d0);
	}

	#toolbar-menubar,menubar[tabsontop=true]{
		-moz-appearance: -moz-win-borderless-glass;
		background: transparent;
	}

	#PersonalToolbar {
		background: linear-gradient(#c7c9d0,#eaeaed);
	}

	toolbar {
		background: linear-gradient(#eaeaed,#c7c9d0,#eaeaed);
	}

	#TabsToolbar[tabsontop=true] {
		-moz-appearance: -moz-win-borderless-glass;
		background: transparent;
		margin-bottom: -1px;
	}
	#TabsToolbar[tabsontop=false] {
		background-image: url("chrome://browser/skin/icons/Bookmark-background1.png");
	}
	
}

@media not all and (-moz-windows-compositor) {
	#main-window[sizemode=maximized][tabsontop="true"][tabsintitlebar]{
		padding-top:4px !important;
	}
}
@media all and (-moz-windows-compositor) {
	#main-window[sizemode=maximized][tabsontop="true"][tabsintitlebar]{
		padding-top:4px !important;
	}
}

#main-window[sizemode=maximized][tabsontop="true"] #toolbar-menubar[autohide="true"]{
  margin-left: 100px !important;
}