#downloadManager {
  background-color: #DADCE4;
}

/* Download View */
#downloadView {
  margin: 10px 10px 10px 10px;
  -moz-appearance: none;
  -moz-user-focus: normal;
  border: 1px solid #9B9DA2;
  background-image: url("chrome://mozapps/skin/downloads/downloadsBG.png");
  background-color: #f8f8f8;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* Download View Items */
richlistitem[type="download"] {
  padding: 13px 10px 13px 13px;
  min-height: 25px;
  border-bottom: 1px dotted #C0C0C0;
}

richlistitem[type="download"][selected="true"] {
  background-image: url("chrome://mozapps/skin/downloads/downloadSelected.png");
  background-color: transparent;
  background-position: center;
  color: #0000FF;
}

richlistitem[type="download"] .name {
  font-size: larger;
}

richlistitem[type="download"] .dateTime {
  font-size: smaller;
}

.mini-button {
  -moz-appearance: none;
  list-style-image: url(chrome://mozapps/skin/downloads/downloadButtons.png);
  background-color: transparent;
  background : none;
  border: none;
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
  box-shadow : none;
}

.mini-button > .button-box {
  padding: 0 !important;
}

#downloadManager button:not(#clearListButton):not(#dmtLaunchButton):not(#dmtReloadButton):not(#dmtShowButton):not(#dmtDeleteFileButton):not(#dmtCleanUpButton):not(#dmtOptionsButton):not(#dmtLaunchButton2):not(#dmtReloadButton2):not(#dmtShowButton2):not(#dmtDeleteFileButton2):not(#dmtCleanUpButton2):not(#dmtOptionsButton2){
   box-shadow: none !important;
}
#downloadManager button:hover:not(#clearListButton):not(#dmtLaunchButton):not(#dmtReloadButton):not(#dmtShowButton):not(#dmtDeleteFileButton):not(#dmtCleanUpButton):not(#dmtOptionsButton):not(#dmtLaunchButton2):not(#dmtReloadButton2):not(#dmtShowButton2):not(#dmtDeleteFileButton2):not(#dmtCleanUpButton2):not(#dmtOptionsButton2),
#downloadManager button:focus:not(#clearListButton):not(#dmtLaunchButton):not(#dmtReloadButton):not(#dmtShowButton):not(#dmtDeleteFileButton):not(#dmtCleanUpButton):not(#dmtOptionsButton):not(#dmtLaunchButton2):not(#dmtReloadButton2):not(#dmtShowButton2):not(#dmtDeleteFileButton2):not(#dmtCleanUpButton2):not(#dmtOptionsButton2),
#downloadManager button:hover:active:not(#clearListButton):not(#dmtLaunchButton):not(#dmtReloadButton):not(#dmtShowButton):not(#dmtDeleteFileButton):not(#dmtCleanUpButton):not(#dmtOptionsButton):not(#dmtLaunchButton2):not(#dmtReloadButton2):not(#dmtShowButton2):not(#dmtDeleteFileButton2):not(#dmtCleanUpButton2):not(#dmtOptionsButton2){
  background : none !important;
}

.cancel {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}
.cancel:hover {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}
.cancel:active {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}
.cancel[disabled="true"] {
  -moz-image-region: rect(48px, 32px, 64px, 16px);
}
.pause {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}
.pause:hover {
  -moz-image-region: rect(16px, 48px, 32px, 32px);
}
.pause:active {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}
.pause[disabled="true"] {
  -moz-image-region: rect(48px, 48px, 64px, 32px);
}
.resume {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

.resume:hover {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}
.resume:active {
  -moz-image-region: rect(32px, 16px, 48px, 0px);
}
.resume[disabled="true"] {
  -moz-image-region: rect(48px, 16px, 64px, 0px);
}
.retry {
  -moz-image-region: rect(0px, 64px, 16px, 48px);
}
.retry:hover {
  -moz-image-region: rect(16px, 64px, 32px, 48px);
}
.retry:active {
  -moz-image-region: rect(32px, 64px, 48px, 48px);
}
.retry[disabled="true"] {
  -moz-image-region: rect(48px, 64px, 64px, 48px);
}

.blockedIcon {
  list-style-image: url(chrome://global/skin/icons/alert-error.png);
}

/* prevent flickering when changing states */
.downloadTypeIcon {
  min-height: 32px;
  min-width: 32px;
}

#clearListButton {
  min-height: 0;
  min-width: 0;
  margin-top: -9px !important;
  margin-left : 15px !important;
}

/* Download Manager Command Bar */

#clearListButton {
  margin: 0px;
  -moz-user-focus: ignore;
  list-style-image: url("chrome://global/skin/CuteMenus/Cleanup.png");
}

#clearListButton .button-icon {
  margin: 0px 5px 0px 0px !important;
}

#clearListButton[disabled="true"] {
  list-style-image: url("chrome://global/skin/CuteMenus/Cleanup.png");
  opacity: 0.6 !important;
}
#searchbox {
  margin-inline-end : 10px !important;
  margin-bottom : 10px !important;
}