@import url(chrome://browser/skin/browser-nonLinux.css);

:root {
  --appmenu-background-color: #0b86e0;
  --appmenu-background-image: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.4) 30%, rgba(255,255,255,0) 50%);
  --appmenu-border-color: rgba(0,0,0,.5);
  --appmenu-border-radius: 6px;
  --appmenu-box-shadow: 0 0 5px rgba(255,255,255,.5) inset;
  
  --titlebar-background: linear-gradient(to bottom,#f4f4f9,#e8e8ec);
}

#main-window:not(:-moz-lwtheme):not([tabsintitlebar])[tabsontop="false"][sizemode="maximized"]{
  background: url("chrome://browser/skin/icons/titlebarbottom.png") #ABAEB8;
  margin-top: -2px;
}

#main-window:not(:-moz-lwtheme):not([tabsintitlebar])[tabsontop="false"][sizemode="maximized"] #navigator-toolbox {
  border-bottom: 0px solid #808080;
}
 
#main-window:not(:-moz-lwtheme):not([tabsintitlebar])[tabsontop="false"][sizemode="normal"] {
  background: url("chrome://browser/skin/icons/titlebarbottom.png") #CDCFD5;
}
  
#main-window:not(:-moz-lwtheme):not([tabsintitlebar])[tabsontop="false"][sizemode="normal"] #navigator-toolbox {
  border-bottom: 0px solid #808080;
  background: url(chrome://browser/skin/icons/Tool-background3.png) top left repeat-x #CDCFD5;
  background-size: auto 100%;
}

@media all and (-moz-windows-compositor) {
  #appcontent {
    -moz-appearance: -moz-win-exclude-glass;
  }
  
  #main-window:not(:-moz-lwtheme):not([tabsintitlebar])[tabsontop="true"]{
    background: url("chrome://browser/skin/icons/titlebar2.png") #ABAEB8;
  }	
}

/* ::::: app menu button ::::: */

#appmenu-button {
  min-height: 20px;
  min-width: 55px;
  color: #fff;
  text-shadow: 0 0 2px #333;
  margin: 0 1px;
  padding: 0 6px;
  list-style-image: url("chrome://branding/content/icon16.png");
  border: 1px solid var(--appmenu-border-color);
  border-top: 0;
  border-radius: 0 0 var(--appmenu-border-radius) var(--appmenu-border-radius);
  background-color: var(--appmenu-background-color);
  background-image: var(--appmenu-background-image);
  background-clip: padding-box;
  box-shadow: var(--appmenu-box-shadow);
}

#appmenu-button:hover:not(:active):not([open]) {
  --appmenu-background-color: #1f9afd;
}

#appmenu-button:hover:active,
#appmenu-button[open] {
  --appmenu-background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.2) 10%, transparent 60%);
  --appmenu-box-shadow: 0 0 4px rgba(0,0,0,.3) inset;
}

#main-window[privatebrowsingmode=temporary] #appmenu-button {
  --appmenu-background-image: linear-gradient(rgb(153,38,211), rgb(105,19,163) 95%);
  --appmenu-border-color: rgba(43,8,65,.9);
}

#main-window[privatebrowsingmode=temporary] #appmenu-button:hover:not(:active):not([open]) {
  --appmenu-background-image: radial-gradient(farthest-side at center bottom, rgba(240,193,255,.5) 10%, rgba(240,193,255,0) 70%), radial-gradient(farthest-side at center bottom, rgb(192,81,247), rgba(236,172,255,0)), linear-gradient(rgb(144,20,207), rgb(95,0,158) 95%);
  --appmenu-border-color: rgba(43,8,65,.9);
}

#main-window[privatebrowsingmode=temporary] #appmenu-button:hover:active,
#main-window[privatebrowsingmode=temporary] #appmenu-button[open] {
  --appmenu-background-image: linear-gradient(rgb(144,20,207), rgb(95,0,158) 95%);
}

#appmenu-button > .button-box > .box-inherit > .button-text {
  display: none;
}

#appmenu-button > .button-box > .button-menu-dropmarker {
  list-style-image: url("chrome://browser/skin/appmenu-dropmarker.png");
  margin: 0 0 0 4px;
  background: none;
}

/* ::::: titlebar ::::: */

#main-window[sizemode="normal"] > #titlebar {
  -moz-appearance: -moz-window-titlebar;
}

#main-window[sizemode="maximized"] > #titlebar {
  -moz-appearance: -moz-window-titlebar-maximized;
}

#titlebar-buttonbox {
  -moz-appearance: none;
}

.titlebar-placeholder[type="appmenu-button"] {
  margin-left: 4px;
}

.titlebar-placeholder[type="caption-buttons"] {
  margin-left: 5px;
}

#titlebar {
  min-height: 26px;
  background-image: var(--titlebar-background);
}

#main-window[tabsintitlebar] #titlebar {
  margin-top: 0px;
}

@media not all and (-moz-windows-compositor) {
  @media (-moz-windows-theme: aero) {
	#main-window[tabsintitlebar] #titlebar {
      margin-top: 5px !important;
    }
  }
}
  
#titlebar:-moz-lwtheme {
  --titlebar-background: transparent;
}

#titlebar:-moz-lwtheme {
  visibility: hidden;
}

#titlebar-content:-moz-lwtheme {
  visibility: visible;
}

#main-window:not([sizemode="maximized"]) > #titlebar {
  margin-top: -1px;
  border-top: 2px solid;
  -moz-border-top-colors: #fff #000;
}

#main-window:not([sizemode="maximized"])[tabsontop=true] > #titlebar {
  height: 30px;
}

#main-window[sizemode="maximized"] #titlebar-spacer {
  height: 1px;
  max-height: 1px;
}

#titlebar-spacer {
  height: 12px;
  max-height: 12px;
}

/* titlebar command buttons */

#titlebar-min {
  -moz-appearance: none;
  background: url("chrome://browser/skin/icons/minimize.png") 0px 0px no-repeat;
  width: 26px;
  height: 20px;
}

#titlebar-min:hover {
  -moz-appearance: none;
  background: url("chrome://browser/skin/icons/minimizeX.png") 0px 0px no-repeat;
  width: 26px;
  height: 20px;
}

#titlebar-max {
  -moz-appearance: none;
  background: url("chrome://browser/skin/icons/restore.png") 0px 0px no-repeat;
  width: 26px;
  height: 20px;
  margin-left: -2px;
  margin-inline-end: 0px;
}

#titlebar-max:hover {
  -moz-appearance: none;
  background: url("chrome://browser/skin/icons/restoreX.png") 0px 0px no-repeat;
  width: 26px;
  height: 20px;
  margin-left: -2px;
}

#titlebar-close {
  -moz-appearance: none;
  background: url("chrome://browser/skin/icons/close.png") 0px 0px no-repeat;
  width: 26px;
  height: 20px;
  margin-left: -2px;
}

#titlebar-close:hover {
  -moz-appearance: none;
  background: url("chrome://browser/skin/icons/closeX.png") 0px 0px no-repeat;
  width: 26px;
  height: 20px;
  margin-left: -2px;
}

#main-window[tabsintitlebar] #titlebar-content:not(:-moz-lwtheme),
#main-window[tabsintitlebar]:not([inFullscreen]) #TabsToolbar:not(:-moz-lwtheme) {
  background-color: #99B4D1;
  color: #000000;
}
#main-window[tabsintitlebar] #titlebar-content:not(:-moz-lwtheme):-moz-window-inactive,
#main-window[tabsintitlebar]:not([inFullscreen]) #TabsToolbar:not(:-moz-lwtheme):-moz-window-inactive {
  background-color: #BFCDDB;
  color: #434E54;
}

#main-window[tabsintitlebar] #titlebar:-moz-lwtheme {
  visibility: hidden;
}

#main-window[tabsintitlebar] #titlebar-content:-moz-lwtheme {
  -moz-binding: url("chrome://global/content/bindings/general.xml#windowdragbox");
  visibility: visible;
}

#titlebar-buttonbox {
  margin-top: 3px;
}

#main-window:not([tabsintitlebar]) #titlebar-buttonbox {
  margin-bottom: -18px;   
}

#main-window[tabsintitlebar] #titlebar-buttonbox {
  margin-top: 2px;
  margin-bottom: -20px;
}

@media not all and (-moz-windows-compositor) {
  #main-window[tabsintitlebar]  #titlebar-buttonbox {
    margin-bottom: -16px;
    margin-top: 0px;    
  }
}

#main-window[sizemode=normal] #navigator-toolbox[tabsontop=true] > #toolbar-menubar[autohide="true"] ~ #TabsToolbar {
  margin-top: -21px;
}

#main-window:not([tabsintitlebar]) #titlebar-buttonbox {
  -moz-box-align: start;
}

#titlebar-buttonbox:-moz-locale-dir(rtl) {
  margin-left: 7px;
}

@media not all and (-moz-windows-compositor) {
  #main-window:not(:-moz-lwtheme):not([tabsintitlebar])[tabsontop="false"][sizemode="normal"] #titlebar {
    -moz-appearance: none;
    background: url("chrome://browser/skin/icons/titlebar2.png") #CDCFD5;
    border-top: none;
  }
  #main-window:not(:-moz-lwtheme):not([tabsintitlebar])[tabsontop="false"][sizemode="maximized"] #titlebar {
    -moz-appearance: none;
    background: url("chrome://browser/skin/icons/titlebar2.png") #AEB1BB;
    border-top: none;
    margin-top: 7px;
  }
  #main-window:not(:-moz-lwtheme)[tabsontop="true"] #titlebar {
    -moz-appearance: none;
    background: url("chrome://browser/skin/icons/titlebar.png") #ABAEB8;
    border-top: none;
  }
}

@media (-moz-windows-classic) {
  #main-window:not(:-moz-lwtheme):not([tabsintitlebar])[tabsontop="false"][sizemode="maximized"] #titlebar {
    margin-top: 3px;
  }
}