/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

#downloadsRichListBox {
  /** The default listbox appearance comes with an unwanted margin. **/
  -moz-appearance: none;
  margin: 0;
  border: none;
}

#downloadsRichListBox > richlistitem.download {
  border-radius: 6px;
  height: 6em;
  padding: 5px 8px;
  margin : 2px;
}

.downloadTypeIcon {
  margin-inline-end: 8px;
  /* explicitly size the icon, so size doesn't vary on hidpi systems */
  height: 32px;
  width: 32px;
}

.blockedIcon {
  list-style-image: url("chrome://global/skin/icons/Error.png");
}

.downloadTarget,
.downloadDisplayName {
  margin-bottom: 3px;
  cursor: inherit;
}

.downloadDetails {
  opacity: 0.7;
  font-size: 95%;
  cursor: inherit;
}

.downloadButton {
  -moz-appearance: none;
  min-width: 0;
  min-height: 0;
  margin: 3px;
  border: none;
  background: transparent;
  padding: 5px;
  list-style-image: url("chrome://browser/skin/downloads/buttons.png");
  box-shadow : none;
}

/*** Button icons ***/

.downloadButton.downloadCancel {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}
.downloadButton.downloadCancel:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}
.downloadButton.downloadCancel:active {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}

.downloadButton.downloadShow {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}
.downloadButton.downloadShow:hover {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}
.downloadButton.downloadShow:active {
  -moz-image-region: rect(16px, 48px, 32px, 32px);
}

.downloadButton.downloadRetry {
  -moz-image-region: rect(32px, 16px, 48px, 0px);
}
.downloadButton.downloadRetry:hover {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}
.downloadButton.downloadRetry:active {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}

#downloadsRichListBox > richlistitem.download[selected] {
  border : 1px solid #9DC5EC;
  border-bottom : 1px solid #85B7E9;
  background-image: linear-gradient(to bottom, #C6DDF4, #9DC5EC); 
}



